﻿@using Web.Models;
@using Web.Services;
@{
    GetServiceData AppData = new GetServiceData();
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    ViewBag.Title = thisHospital.hospitaName + "掛號說明";
}


<div class="info">
    <div id="dashboard">
        <div class="dashboard__main">
            <div class="dashboard__row">
                <div class="icon-1"></div><span class="f20 wide20">@Html.Raw(thisHospital.hospitaName)</span>
                <div class="dashboard__btn f18"><a href="~/Register/@thisHospital.Loc" >網路掛號</a><a href="~/Query/@thisHospital.Loc">掛號查詢</a><a href="~/Progress/@thisHospital.Loc">看診進度</a><a href="~/Info/@thisHospital.Loc" class="active">掛號說明</a></div>
                <select class="tri" id="changeHospital">
                    <option disabled selected hidden>各院區掛號服務</option>
                    @if (ViewBag.Hospitals != null)
                    {
                        foreach (HospitalModel item in Hospitals)
                        {
                            <option value="@item.Loc" @if (thisHospital.Loc == item.Loc) { @Html.Raw("selected") }>@item.hospitaName</option>
                        }
                    }

                </select>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="pt40 pr24 pl24 md-noPadding">
                <div class="f24 b mb24 pl20">掛號說明</div>
                <h2 class="sr-only">掛號相關規定說明</h2>
                <div class="box-wrapper mb40 pt40 pb56">
                    <div class="f20 orange b mb8">電話掛號</div>
                    <ul class="list nostyle lh20 b border-bottom pb40 mb32">
                        <li> <span>長庚診所總機：</span>（02）2713-6500</li>
                        <li> <span>美容醫學預約專線：</span>（02）2713-5234（08：00 開始掛號）</li>
                        <li> <span>健康檢查預約專線：</span>（02）2719-7271（採預約制，請事先預約）</li>
                        @*<li> <span>人工智能掛號專線：</span>市話直撥412-8622，手機撥打（02）412-8081 ，服務時間：全年24小時</li>*@
                        <li> <span>24 小時人工智能掛號專線：</span>巿話直撥 412-8808(免加區碼)，手機撥打(02)412-8808  (本服務通話費率均以巿話計費)</li>
                    </ul>
                    <div class="f20 orange b mb8">現場掛號</div>
                    <ul class="list nostyle lh20 b mb32">
                        <li>預約掛號　08：00～16：30（週六至 12：00）</li>
                        <li>上午診　08：00～11：00</li>
                        <li>下午診　08：00～16：00</li>
                        <li>夜　診　08：00～19：30</li>
                    </ul>
                    <div class="red f16 b">說明</div>
                    <ul class="nostyle lh18 red f16 border-bottom pb56 mb32">
                        <li>1. 預約掛號期間為門診看診當日及看診前四週。</li>
                        <li>2. 預約掛號後未能來院看診時，請於一天前以電話取消，若三個月內有三次未到診紀錄者暫停受理電話（及網路）預約掛號，請至掛號櫃檯辦理掛號。</li>
                        <li>3. 初診病人請於預定看診時間前半小時攜身分證件至掛號櫃檯辦理手續。</li>
                        <li>4. 參考預定看診時間至診室依序號候診，看診後始繳掛號費。</li>
                        <li>5. 為節省您寶貴時間與減少臨櫃接觸，繳費方式推薦您利用醫指付APP，請利用App Store/Google Play搜尋「醫指付」，並觀看醫指付操作短片 (<a href='https://register1.cgmh.org.tw/refs/File/Doctor_refers_to_pay.mp4'>觀看影片</a>)。</li>
                    </ul>
                    <div class="f20 orange b mb8">看診時間</div>
                    <ul class="list nostyle lh20 b mb32">                       
                        <li>上午診　　09：00～12：00</li>
                        <li>下午診　　14：00～17：00</li>
                        <li>夜診　　　18：00～20：00</li>
                    </ul>
                    <div class="red f16 b">說明</div>
                    <ul class="nostyle f16 lh20 red border-bottom pb40 mb32">
                        <li>請依預計到診時間至門診診間報到</li>
                    </ul>
                   
                    <div class="f20 orange b mb8">收費標準</div>
                    <ul class="list nostyle lh20 multi">
                        <li class="f18 b mb16">【本診所全自費】</li>
                        <div class="multi-box">
                            <div class="row mb20">
                                <div class="anti mr20">掛號費</div>
                                <ul class="nostyle lh18 f16 pb56 mb32">
                                    <li>門診100 元、夜診及假日診(含週六、日及國定假日)150元</li>
                                    <li>醫師診察費 門診：本國籍診察費390元。非本國籍診察費 1000元</li>
                                    <li>說明 持低收入卡，免收掛號費。</li>
                                </ul>                                
                            </div>

                        </div>
                    </ul>
                </div><a class="f24 info-btn anti" href="~/Register/@thisHospital.Loc">馬上進行網路掛號</a>
            </div>
        </div>
    </div>
</div>
