﻿@using Web.Models;
@using Web.Services;
@{
    GetServiceData AppData = new GetServiceData();
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    ViewBag.Title = thisHospital.hospitaName + "掛號說明";
}


<div class="info">
    <div id="dashboard">
        <div class="dashboard__main">
            <div class="dashboard__row">
                <div class="icon-1"></div><span class="f20 wide20">@Html.Raw(thisHospital.hospitaName)</span>
                <div class="dashboard__btn f18"><a href="~/Register/@thisHospital.Loc" >網路掛號</a><a href="~/Query/@thisHospital.Loc">掛號查詢</a><a href="~/Progress/@thisHospital.Loc">看診進度</a><a href="~/Info/@thisHospital.Loc" class="active">掛號說明</a></div>
                <select class="tri" id="changeHospital">
                    <option disabled selected hidden>各院區掛號服務</option>
                    @if (ViewBag.Hospitals != null)
                    {
                        foreach (HospitalModel item in Hospitals)
                        {
                            <option value="@item.Loc" @if (thisHospital.Loc == item.Loc) { @Html.Raw("selected") }>@item.hospitaName</option>
                        }
                    }

                </select>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="pt40 pr24 pl24 md-noPadding">
                <div class="f24 b mb24 pl20">掛號說明</div>
                <h2 class="sr-only">掛號相關規定說明</h2>
                <div class="box-wrapper mb40 pt40 pb56">
                    <div class="f20 orange b mb8">電話掛號</div>
                    <ul class="list nostyle lh20 b border-bottom pb40 mb32">
                        <li> <span>掛當日門診時間限制：</span>上午診 08：00～10：30 / 下午診 08：00～15：30 / 夜診 08：00～19：00</li>
                        <li> <span>人工電話掛號：</span>（02）2263-0588轉5000，5001 週一至週五09：00~11：45、午13:30~15:45 。因此服務時段有限，建請民眾多利用24小時之長庚E指通 APP 或 網路掛號服務。</li>
                    </ul>
                    <div class="f20 orange b mb8">現場掛號</div>
                    <ul class="list nostyle lh20 b mb32">
                        <li>預約掛號　08：00～16：00</li>
                        <li>掛當日門診</li>
                        <li>上午診　　08：00～11：00</li>
                        <li>下午診　　08：00～16：00</li>
                        <li>夜　診　　08：00～19：30</li>
                    </ul>
                    <div class="red f16 b">網路及長庚E指通掛號</div>
                    <ul class="nostyle lh18 red f16 border-bottom pb56 mb32">
                        <li>24小時服務，請下載長庚E指通APP或登入長庚網路掛號首頁。</li>
                    </ul>
                    <div class="red f16 b">說明</div>
                    <ul class="nostyle lh18 red f16 border-bottom pb56 mb32">
                        <li>1. 預約掛號期間為門診看診當日及看診前四週。</li>
                        <li>2. 預約掛號後未能來院看診時，請於一天前以電話取消，若三個月內有三次未到診紀錄者暫停受理電話（及網路）預約掛號，請至掛號櫃檯辦理掛號。</li>
                        <li>3. 初診病人請於預定看診時間前半小時攜身分證件至掛號櫃檯辦理手續。</li>
                        <li>4. 參考預定看診時間至診室依序號候診，看診後始繳掛號費。</li>
                        <li>5. 健保身分就醫時，請攜帶健保卡，未貼照片者，須攜帶身分證明文件，若為尚未報戶口之新生兒請攜帶出生證明以供核對。</li>
                    </ul>
                    <div class="f20 orange b mb8">看診時間</div>
                    <ul class="list nostyle lh20 b mb32">
                        <li>上午診　　08：30～11：30（眼科需先檢查後看診）</li>
                        <li>下午診　　13：30～16：30（眼科需先檢查後看診）</li>
                        <li>夜診　　　17：30～20：00（眼科需檢查後看診）</li>
                    </ul>
                    <div class="red f16 b">說明</div>
                    <ul class="nostyle f16 lh20 red border-bottom pb40 mb32">
                        <li>請依預計到診時間至門診診間報到</li>
                    </ul>
                    <div class="f20 orange b mb8">服務專線</div>
                    <ul class="list nostyle lh20 b border-bottom pb40 mb32">
                        <li> <span>總機　　　　　　　　      </span>（02）2263-0588</li>
                        <li> <span>轉診服務                  </span>（02）2263-0588轉3333/時間09:00-12:00(週一至週五) 13:00-16:00（週一至週五）</li>
                        <li> <span>醫師代號及看診時間查詢　　</span> 請參酌網路掛號，長庚E指通APP 或下載閱讀本院門診時間表。</li>
                    </ul>
                    <div class="f20 orange b mb8">收費標準</div>
                    <ul class="list nostyle lh20 multi">
                        <li class="f18 b">健保掛號費</li>
                        <div class="multi-box">
                            <div class="red mb20">門診：150 元；急診：300元</div>
                        </div>
                        <li class="f18 b">健保部分負擔費用</li>
                        <div class="multi-box">
                            <div class="red mb20">門診：西醫80元（持健保特約機構轉診單、門診手術後或住院患者出院後三十日內之一次回診者50元）；中醫、牙醫50元；急診：150元</div>
                        </div>
                        <li class="f18 b mb16">自費</li>
                        <div class="multi-box">
                            <div class="row mb20">
                                <div class="anti mr20">掛號費</div>
                                <div>門診：150 元；急診：300元</div>
                            </div>
                            <div class="row">
                                <div class="anti mr20">診療費</div>
                                <div class="pt4 mb8">
                                    門診：<br>
                                    1.西醫200元起，中醫290元起，牙醫230元起<br>
                                    2.非本國籍(國際醫療病患)1000元  <br>
                                    急診：550元，非本國籍(國際醫療病患)1000元。（夜間及例假日加成20%）
                                </div>
                            </div>
                        </div>
                    </ul>
                    <div class="red f16 b">說明</div>
                    <ul class="nostyle f16 lh20 red border-bottom pb40 mb32">
                        <li>1.持有低收入卡、身心障礙手冊暨70歲以上長者憑證免收掛號費。</li>
                        <li>2.免部分負擔對象：重大傷病、分娩、預防保健服務、在山地離島地區門診者、第二及第三張慢性病連續處方箋、低收入戶、榮民、職業傷病者、三歲以下兒童者。</li>
                        <li>其他</li>
                        <li>1.醫師臨時休診、代診或有要事晚到，以各診室外公告為準。</li>
                        <li>2.申請證明書或報告者，請務必攜帶身分證件，向原診治醫師申請，除病患本人外，代領時需另帶委託書及身分證正、影本。</li>
                        <li>3.以保險身分看診時，請務必攜帶身分證件及保險證件。看診時請將身分證影本交予護師貼入病歷。</li>
                        <li>4.婚前健康檢查者請掛家庭醫學科。</li>
                    </ul>
                </div><a class="f24 info-btn anti" href="~/Register/@thisHospital.Loc">馬上進行網路掛號</a>
            </div>
        </div>
    </div>
</div>
