﻿@using Web.Models;
@using Web.Services;
@{
    GetServiceData AppData = new GetServiceData();
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    ViewBag.Title = thisHospital.hospitaName + "掛號說明";
}


<div class="info">
    <div id="dashboard">
        <div class="dashboard__main">
            <div class="dashboard__row">
                <div class="icon-1"></div><span class="f20 wide20">@Html.Raw(thisHospital.hospitaName)</span>
                <div class="dashboard__btn f18"><a href="~/Register/@thisHospital.Loc" >網路掛號</a><a href="~/Query/@thisHospital.Loc">掛號查詢</a><a href="~/Progress/@thisHospital.Loc">看診進度</a><a href="~/Info/@thisHospital.Loc" class="active">掛號說明</a></div>
                <select class="tri" id="changeHospital">
                    <option disabled selected hidden>各院區掛號服務</option>
                    @if (ViewBag.Hospitals != null)
                    {
                        foreach (HospitalModel item in Hospitals)
                        {
                            <option value="@item.Loc" @if (thisHospital.Loc == item.Loc) { @Html.Raw("selected") }>@item.hospitaName</option>
                        }
                    }

                </select>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="pt40 pr24 pl24 md-noPadding">
                <div class="f24 b mb24 pl20">掛號說明</div>
                <h2 class="sr-only">掛號相關規定說明</h2>
                <div class="box-wrapper mb40 pt40 pb56">
                    <div class="f20 orange b mb8">電話掛號</div>
                    <ul class="list nostyle lh20 b border-bottom pb40 mb32">
                        @*<li> <span>人工電話掛號：</span>（05）691-5151 轉 2140　週一至周五 08：00 ~ 17：00、週六至 08：00 ~ 11：00</li>*@
                        @*<li> <span>人工智能掛號專線：</span>市話直撥412-8638，手機撥打（02）412-8081 ，服務時間：全年24小時</li>*@
                        <li> <span>24 小時人工智能掛號專線：</span>巿話直撥 412-8808(免加區碼)，手機撥打(02)412-8808  (本服務通話費率均以巿話計費)</li>
                    </ul>
                    <div class="f20 orange b mb8">現場掛號</div>
                    <ul class="list nostyle lh20 b mb32">                      
                        <li>上午診　08：00～11：00</li>
                        <li>下午診　08：00～16：00</li>
                        <li>夜　診　08：00～19：30</li>
                    </ul>
                    <div class="red f16 b">說明</div>
                    <ul class="nostyle lh18 red f16 border-bottom pb56 mb32">
                        <li>1. 預約掛號期間為門診看診當日及看診前四週。</li>
                        <li>2. 預約掛號後未能來院看診時，請於一天前以電話取消，若三個月內有三次未到診紀錄者暫停受理電話（及網路）預約掛號，請至掛號櫃檯辦理掛號。</li>
                        <li>3. 初診病人請於預定看診時間前半小時攜身分證件至掛號櫃檯辦理手續。</li>
                        <li>4. 參考預定看診時間至診室依序號候診，看診後始繳掛號費。</li>
                        <li>5. 健保身分就醫時，請攜帶健保卡，未貼照片者，須攜帶身分證明文件，若為尚未報戶口之新生兒請攜帶出生證明以供核對。</li>
                        <li>6. 為節省您寶貴時間與減少臨櫃接觸，繳費方式推薦您利用醫指付APP，請利用App Store/Google Play搜尋「醫指付」，並觀看醫指付操作短片 (<a href='https://register1.cgmh.org.tw/refs/File/Doctor_refers_to_pay.mp4'>觀看影片</a>)。</li>
                    </ul>
                    <div class="f20 orange b mb8">看診時間</div>
                    <ul class="list nostyle lh20 b mb32">
                        <li>自106年01月03日起，看診時間如下：</li>
                        <li>上午診　　08：30～11：30</li>
                        <li>下午診　　13：30～16：30</li>
                        <li>夜診　　　17：30～19：00</li>

                    </ul>
                    <div class="red f16 b">說明</div>
                    <ul class="nostyle f16 lh20 red border-bottom pb40 mb32">
                        <li>請依預計到診時間至門診診間報到</li>
                    </ul>
                    <div class="f20 orange b mb8">服務專線</div>
                    <ul class="list nostyle lh20 b border-bottom pb40 mb32">
                        <li> <span>總機　　　　　　</span>（05）691-5151</li>
                    </ul>
                    <div class="f20 orange b mb8">收費標準</div>
                    <ul class="list nostyle lh20 multi">
                        @*<li class="f18 b">健保身分 </li>*@
                        <li class="f18 b">健保掛號費</li>

                        <div class="multi-box">
                            <div class="red mb20">
                                門診：西醫80元、中醫80元、牙醫80元(夜診及週六、日及國定假日診80元；急診200元
                            </div>
                        <li class="f18 b">健保部分負擔費用 </li>
                      </div>
                   <div class="multi-box">
                    @*<div class="red mb20">門診：西醫80元（持健保特約機構轉診單、門診手術後或住院患者出院後三十日內之一次回診者50元）；中醫、牙醫50元；急診：150元</div>*@
                    <table class="table-border mb32">
                        <thead>
                            <tr>
                                <td colspan="2" class="f20 orange b mb12">項目</td>
                                @*<td>項目</td>*@
                                <td class="f20 orange b mb6">費用</td>
                                <td class="f20 orange b mb12">部分負擔</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="lg">
                                <td rowspan="4" style="width:8%;">基本<br />負擔</td>
                                <td>西醫(未經轉診)</td>
                                <td>-</td>
                                <td>80元</td>
                            </tr>
                            <tr class="lg">
                                <td>西醫(經轉診)</td>
                                <td>-</td>
                                <td>50元</td>
                            </tr>
                            <tr class="lg">
                                <td>中醫</td>
                                <td>-</td>
                                <td>50元</td>
                            </tr>
                            <tr class="lg">
                                <td>牙醫</td>
                                <td>-</td>
                                <td>50元</td>
                            </tr>
                            <tr class="lg">
                                <td rowspan="3" style="width:8%;">門診<br />藥品</td>
                                <td rowspan="2" style="width:32%;">一般藥品、慢性病連續處方箋第一調劑</td>
                                <td class="mb6" style="width:10%;">100元以下</td>
                                <td class="mb12" style="width:50%;">0元</td>
                            </tr>
                            <tr class="lg">
                                @*<td>門診<br />藥品</td>*@
                                @*<td >一般藥品、慢性病連續處方箋第一調劑</td>*@
                                <td>101元以上</td>
                                <td>最低20元，每級增加20元，上限200元</td>
                            </tr>
                            <tr class="lg">
                                @*<td>門診<br />藥品</td>*@
                                <td>慢性病連續處方箋第二次以後調劑</td>
                                <td>-</td>
                                <td>0元</td>
                            </tr>

                            <tr class="lg">
                                <td rowspan="4" class="mb4">門診<br />檢驗<br />檢查</td>
                                <td rowspan="2">西醫</td>
                                <td>500元以下</td>
                                <td>0元</td>
                            </tr>
                            <tr class="lg">
                                @*<td>門診<br />檢驗<br />檢查</td>*@
                                @*<td >經轉診</td>*@
                                <td>501元以上</td>
                                <td>最低50元，每級增加10元，上限100元</td>
                            </tr>
                            <tr class="lg">
                                @*<td>門診<br />檢驗<br />檢查</td>*@
                                <td rowspan="2" class="mb4">中、牙醫</td>
                                <td>1000元以下</td>
                                <td>0元</td>
                            </tr>
                            <tr class="lg">
                                @*<td>門診<br />檢驗<br />檢查</td>*@
                                @*<td>中、牙醫</td>*@
                                <td>1001元以上</td>
                                <td>100元</td>
                            </tr>

                            <tr class="lg">
                                <td colspan="2">急診</td>
                                <td>-</td>
                                <td>150元</td>
                            </tr>

                        </tbody>
                        <tfoot>
                        </tfoot>

                    </table>
                    <p class="red mb20">
                        註1：門診藥品、檢查檢驗、急診部分負擔自111.05.15起調整
                        <br />
                        註2：門診藥品、檢查檢驗費用以100元為一級
                    </p>
                </div>
                <li class="f18 b mb16">自費部份掛號費</li>
                <div class="multi-box">
                    <div class="row mb20">
                        <div class="anti mr20">掛號費</div>
                        <div>門診80 元、急診200 元</div>
                    </div>
                    <div class="row">
                        <div class="anti mr20">診療費</div>
                        <div class="pt4 mb8">
                            1.門診：西醫200元起 <br>
                            2.國際醫療(非本國籍、或無法出具身分證名為本國籍者)：1000元。  <br>
                            3.急診：550元。國際醫療(非本國籍、或無法出具身分證名為本國籍者)：1000元。  <br>
                            4.依就醫實際發生金額計收。
                        </div>
                    </div>
                </div>
                <li class="f18 b border-bottom pb40 mb32">持低收入卡，免收掛號費及基本部分負擔費用</li>
                </ul>
            </div><a class="f24 info-btn anti" href="~/Register/@thisHospital.Loc">馬上進行網路掛號</a>
            </div>
        </div>
    </div>
</div>
