﻿@using Web.Models;
@using Web.Services;
@{
    IFormatProvider ifp = new System.Globalization.CultureInfo("zh-TW", true);
    GetServiceData AppData = new GetServiceData();
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    //DeptModel thisDept = (DeptModel)ViewBag.thisDept;
    DeptModel thisDept = (DeptModel)ViewBag.thisDept_video;

    List<SchedulePeriodModel> SchedulePeriods = (List<SchedulePeriodModel>)ViewBag.SchedulePeriods;


    OPDSchduleModel OPDSchdulesData = (OPDSchduleModel)ViewBag.OPDSchdulesData;

    ViewBag.Title = thisDept.deptName + "|" + thisHospital.hospitaName + "|掛號";

    DateTime opdDate = DateTime.ParseExact(OPDSchdulesData.opdDate, "yyyyMMdd", ifp, System.Globalization.DateTimeStyles.None);

    string FirstYear = "1900";
    string NowYear = DateTime.Now.ToString("yyyy");
    string defaultYear = DateTime.Now.AddYears(-18).ToString("yyyy");
}
<div class="checkin">
    <div id="dashboard">
        <div class="dashboard__main">
            <div class="dashboard__row">
                <div class="icon-1"></div><span class="f20 wide20" id="hospitaName">@thisHospital.hospitaName</span>
                <div class="dashboard__btn f18"><a href="~/Register/@thisHospital.Loc" class="active">Register</a><a href="~/Register_video/@thisHospital.Loc">Video</a><a href="~/Query/@thisHospital.Loc">Demand</a><a href="~/Progress/@thisHospital.Loc">Schedule</a><a href="~/Info/@thisHospital.Loc">Directions</a></div>
                <select class="tri" id="changeHospital">
                    <option disabled selected hidden>Registration Information</option>
                    @if (ViewBag.Hospitals != null)
                    {
                        foreach (HospitalModel item in Hospitals)
                        {
                            <option value="@item.Loc" @if (thisHospital.Loc == item.Loc) { @Html.Raw("selected") }>@item.hospitaName</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="pt40 pr24 pl24 md-noPadding">
                <div class="title-division row mb24">
                    <div class="f24 b pl20 orange wide10">@thisHospital.hospitaName</div>
                    <div class="curve f18 wide10">@thisDept.deptName</div>
                    <h2 class="sr-only">registration information</h2>
                </div>
                <div class="box-wrapper mb40 pt20 pb20">
                    @*<div class="f20 pb8 pt12 wide10 b">請輸入個人門診掛號資料</div>*@
                    <div class="f20 pb8 pt12 wide10 b">Please enter your personal video outpatient registration information (only follow-up registration is available)</div>
                    <ul class="list nostyle lh20">
                        <li>Follow-up consultation: Please choose one to enter your ID card number, residence card number, and medical record number, and please fill in the details.</li>
                        @*//視訊只提供復診掛號*@
                        @*<li>初診：請擇一輸入身分證字號、居留證號、護照號碼、入出境許可證號，並請確實填寫。</li>*@
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section gray pb56">
        <div class="container pt32">
            <div class="pr24 pl24 md-noPadding">
                <div class="checkin__wrapper pt32 pr24 pl24">
                    <!--添加武漢疫情說明20200127-->
                    <div class="pr24 pl24 md-noPadding">
                        <span style="font-size:1.2cm;"><font color="#FF0000">
    @*若14天內自己、接觸之家人或朋友曾至國外旅遊或接觸來自國外有發燒或呼吸道症狀人士，就醫時請戴口罩，並主動告知醫護人員。若有感冒等相關症狀，請直接至急診發燒篩檢站，本院將有專人服務。*@
    @if (ViewBag.GetWS141 != null)
    {
        foreach (WS141Model item in ViewBag.GetWS141)
        {
            <span style="font-size:1.0cm;"><font color="#FF0000">@item.NM</font></span>
        }
    }


</font></span>
                    </div>
                    <div class="checkin__info f20 lh18"><span>@thisHospital.hospitaName / @thisDept.deptName</span><span>Appointment：@opdDate.ToString("yyyy/MM/dd")（@FunctionService.getChtWeek(opdDate)）@ViewBag.opdTimeView</span><span>預約醫師：@OPDSchdulesData.roomID @OPDSchdulesData.doctorName</span></div>
                    <form class="check-step1 pr40 pl40 pb32 md-noPadding" method="post" action="~/CheckinConfirm_video/@thisHospital.Loc/@thisDept.deptID/@OPDSchdulesData.opdDate/@OPDSchdulesData.doctorID/@ViewBag.opdTimeID" id="CheckinForm">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="hospitalID" id="hospitalID" value="@thisHospital.Loc">
                        <input type="hidden" name="patNumber" id="patNumber" value="">
                        <input type="hidden" name="opdDate" id="opdDate" value="@OPDSchdulesData.opdDate">
                        <input type="hidden" name="deptID" id="deptID" value="@OPDSchdulesData.deptID">
                        <input type="hidden" name="opdTimeID" value="@ViewBag.opdTimeID">
                        <input type="hidden" name="doctorID" value="@OPDSchdulesData.doctorID">
                        <input type="hidden" name="roomID" value="@OPDSchdulesData.roomID">
                        <input type="hidden" name="subDoctorID" value="@OPDSchdulesData.subDoctorID">

                        <input type="hidden" name="otherHaveReg" id="otherHaveReg" value=""><!--他院有病例打開跨區訊息-->
                        <input type="hidden" name="otherHospitalID" id="otherHospitalID" value=""><!--他院有病例打開跨區醫院ID-->

                        <input type="hidden" name="name" id="name" value="">

                        <input type="hidden" name="isFirst" id="isFirst" value="N">

                        <input type="hidden" name="isFull" id="isFull" value="@OPDSchdulesData.isFull">

                        <input type="hidden" name="canReg" id="canReg" value="@OPDSchdulesData.canReg">
                        <input type="hidden" name="NHIQP7012memo" id="NHIQP7012memo">

                        <div class="row radio mt4">
                            <label class="radio_unit">
                                <input type="radio" name="idType" value="2" class="idType" checked><span>ID Card Number</span>
                            </label>
                            <label class="radio_unit">
                                <input type="radio" name="idType" value="1" class="idType"><span>Medical Record Number</span>
                            </label>
                            @*<label class="radio_unit">
                <input type="radio" name="idType" value="3" class="idType"><span>護照號碼</span>
            </label>*@
                            <label class="radio_unit">
                                <input type="radio" name="idType" value="4" class="idType"><span>Residence Permit Number</span>
                            </label>
                            @*<label class="radio_unit">
                <input type="radio" name="idType" value="5" class="idType"><span>入出境許可證號</span>
            </label>*@
                        </div>

                        <input class="std mb16 w100" type="text" name="idNumber" id="idNumber" placeholder="Please enter the certificate number" onkeydown="if (!event.shiftKey && event.keyCode == 13) { $('.PatQueryChick_video').trigger('click'); return false; }">

                        <div class="row birth mb16">
                            <input class="std w100" type="text" name="birthday" id="birthday" required placeholder="Please enter your birthday (year month day)" onkeydown="if (!event.shiftKey && event.keyCode == 13) { $('.PatQueryChick_video').trigger('click'); return false; }"><span class="f16">[EX:20221130]</span>

                        </div>
                        <div class="row mb40 verify">
                            <input class="std mr8" type="text" name="verification" id="verification" required placeholder="please enter verification code" onkeydown="if (!event.shiftKey && event.keyCode == 13) { $('.PatQueryChick_video').trigger('click'); return false; }"><img class="mr8" id="captcha" src="@Url.Content("~/Content/BuildCaptcha.aspx")" alt="長庚醫療財團法人"><span>refresh</span>
                        </div>






                        <div class="row submit fc">
                            <div>
                                <!--<a class="btn f18 mr20 btn-main PatQueryChick" href="#modal-cross" data-lity>送出查詢</a>-->

                                <a class="btn f18 mr20 btn-main PatQueryChick_video" href="#1">Register</a>
                                <a href="#modal-cross" class="openModel" style="display:none;" data-lity></a>
                                <button class="btn f18 btn-main" type="reset">Fill Again</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="lity-hide" id="modal-cross">
        <div class="cross_head"><img src="~/Styles/images/0-logo-white2.png" alt="長庚醫療財團法人"></div>
        <div class="pl40 pr40 pt32">
            <div class="f20 red b mb24">Cross-hospital data integration instructions</div>
            <div class="text f18 mb48 wide10">In this system, Kaohsiung once had an ID card<span id="idNo"></span>For medical records, do you agree to use the existing medical record number in the hospital for registration? If you choose "OK", the basic information of the patient (name, gender, English name, date of birth, telephone number, postal code) already stored in the hospital will be stored in the（@thisHospital.hospitaName）In the hospital area, if the contact number and address of the basic information need to be changed, please go to the payment counter to update the relevant information after seeing the doctor on the day of treatment (when changing the name, household registration, and address, please bring the original ID card for verification) , if you choose "Cancel", please go to the registration and payment counter half an hour before the consultation.</div>
        </div>
        <div class="cross_bottom pt24 pb32 pr12 pl12">
            <button class="btn f18 btn-main mr8" type="submit" form="CheckinForm">Sure</button><a class="btn f18 btn-main modal-close closeCopyData">Cancel</a>
        </div>
    </div>
</div>

@section scripts {

    @Scripts.Render("~/Scripts/validation/jquery.validate.js")
    @Scripts.Render("~/Scripts/validation/messages_zh_TW.js")


}

