﻿@using Web.Models;
@using Web.Services;
@{
    IFormatProvider ifp = new System.Globalization.CultureInfo("zh-TW", true);
    GetServiceData AppData = new GetServiceData();
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    DeptModel thisDept = (DeptModel)ViewBag.thisDept;

    List<SchedulePeriodModel> SchedulePeriods = (List<SchedulePeriodModel>)ViewBag.SchedulePeriods;


    OPDSchduleModel OPDSchdulesData = (OPDSchduleModel)ViewBag.OPDSchdulesData;

    ViewBag.Title = thisDept.deptName + "|" + thisHospital.hospitaName + "|掛號";

    DateTime opdDate = DateTime.ParseExact(OPDSchdulesData.opdDate, "yyyyMMdd", ifp, System.Globalization.DateTimeStyles.None);

    string FirstYear = "1900";
    string NowYear = DateTime.Now.ToString("yyyy");
    string defaultYear = DateTime.Now.AddYears(-18).ToString("yyyy");

    string required = "";
    if (ViewBag.From["isFirst"] == "Y")
    {
        required = "required";
    }
}
<div class="checkin">
    <div id="dashboard">
        <div class="dashboard__main">
            <div class="dashboard__row">
                <div class="icon-1"></div><span class="f20 wide20">@thisHospital.hospitaName</span>
                <div class="dashboard__btn f18"><a href="~/Register/@thisHospital.Loc" class="active">Register</a><a href="~/Register_video/@thisHospital.Loc">Video</a><a href="~/Query/@thisHospital.Loc">Demand</a><a href="~/Progress/@thisHospital.Loc">Schedule</a><a href="~/Info/@thisHospital.Loc">Directions</a></div>
                <select class="tri" id="changeHospital">
                    <option disabled selected hidden>Registration Information</option>
                    @if (ViewBag.Hospitals != null)
                    {
                        foreach (HospitalModel item in Hospitals)
                        {
                            <option value="@item.Loc" @if (thisHospital.Loc == item.Loc) { @Html.Raw("selected") }>@item.hospitaName</option>
                        }
                    }
                </select>
            </div>

        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="pt40 pr24 pl24 md-noPadding">
                <div class="title-division row mb24">
                    <div class="f24 b pl20 orange wide10">@thisHospital.hospitaName</div>
                    <div class="curve f18 wide10">@thisDept.deptName</div>
                    <h2 class="sr-only">初診掛號資料</h2>
                </div>
                <div class="box-wrapper mb40 pt20 pb28">
                    <div class="f20 pb8 pt12 wide10 b wide10 b">Please enter personal outpatient registration information</div>
                    <ul class="list nostyle lh20">
                        <li>Follow-up consultation: Please choose one to enter your ID card number, residence card number, and medical record number, and please fill in the details.</li>
                        <li>First visit: Please choose one to enter your ID card number, residence card number, passport number, and entry-exit permit number, and please fill in the details.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section gray pb56">
        <div class="container pt32">
            <div class="pr24 pl24 md-noPadding">
                <div class="checkin__wrapper pt32 pr24 pl24">

                    <div class="pr24 pl24 md-noPadding">
                        <span style="font-size:1.2cm;">
                            <font color="#FF0000">
                                @*用來呈現武漢肺炎疫苗已經預約過的說明*@
                                @if (ViewBag.GetWSNHIQP7012Model != null)
                                {
                                    //foreach (WSNHIQP7012Model item in ViewBag.GetWSNHIQP7012Model)
                                    //{
                                        <span style="font-size:1.0cm;"><font color="#FF0000">@ViewBag.GetWSNHIQP7012Model.oVaccLstDataMsg</font></span>
                                   // }
                                }


                            </font>
                        </span>
                    </div>

                    <div class="checkin__info f20 lh18"><span>@thisHospital.hospitaName / @thisDept.deptName</span><span>Appointment：@opdDate.ToString("yyyy/MM/dd")（@FunctionService.getChtWeek(opdDate)）@ViewBag.opdTimeView</span><span>Doctor appointment：@OPDSchdulesData.roomID @OPDSchdulesData.doctorName</span></div>
                    <div class="step1-result f18 lh20 pt32 pb32 pr40 pl40">
                        <div class="row">
                            <span>
                                @switch (ViewBag.From["idType"])
                                {
                                    case "2":
                                        @Html.Raw("ID number")
                                        break;
                                    case "1":
                                        @Html.Raw("Medical record number")
                                        break;
                                    case "3":
                                        @Html.Raw("passport number")
                                        break;
                                    case "4":
                                        @Html.Raw("Residence card number")
                                        break;
                                    case "5":
                                        @Html.Raw("Entry and exit permit number")
                                        break;
                                }：
                        </span><span>@ViewBag.From["idNumber"]</span>
                    </div>
                    <div class="row"><span>date：</span>    <span>@Html.Raw(opdDate.ToString("yyyy/MM/dd/") + "(" + FunctionService.getChtWeek(opdDate) + ")")</span></div>
                    <div class="row"><span>Department：</span><span>@thisDept.deptName</span></div>
                    <div class="row">
                        <span>category：</span><span>
                            @if (ViewBag.From["isFirst"] == "Y")
                            {@Html.Raw("first visit") }
                        else
                        { @Html.Raw("Follow-up visit")}
                    </span>
                </div>
                </div>
                    <form class="check-step2 pb48" method="post" action="~/SendToCheckin" id="CheckinForm">
                        @Html.AntiForgeryToken()
                        <input type="hidden" name="hospitalID" value="@thisHospital.Loc">
                        <input type="hidden" name="patNumber" value="@if (ViewBag.From["patNumber"] != null){@Html.Raw(ViewBag.From["patNumber"])}">
                        <input type="hidden" name="idNumber" value="@if (ViewBag.From["idNumber"] != null && (ViewBag.From["patNumber"] == null || ViewBag.From["patNumber"] == "" || ViewBag.From["idType"] == "2"|| ViewBag.From["idType"] == "4")){@Html.Raw(ViewBag.From["idNumber"])}">   @*20200212 增加居留證號*@
                        <input type="hidden" name="idType" value="@if (ViewBag.From["idType"] != null){@Html.Raw(ViewBag.From["idType"])}">
                        <input type="hidden" name="TopDeptID" value="@thisDept.deptID">
                        <input type="hidden" name="opdDate" value="@OPDSchdulesData.opdDate">
                        <input type="hidden" name="deptID" value="@OPDSchdulesData.deptID">
                        <input type="hidden" name="opdTimeID" value="@ViewBag.opdTimeID">
                        <input type="hidden" name="doctorID" value="@OPDSchdulesData.doctorID">
                        <input type="hidden" name="roomID" value="@OPDSchdulesData.roomID">
                        <input type="hidden" name="subDoctorID" value="@OPDSchdulesData.subDoctorID">
                        <input type="hidden" name="isFirst" id="isFirst" value="@ViewBag.From["isFirst"]">
                        <input type="hidden" name="birthday" id="birthday" value="@ViewBag.From["birthday"]">
                        @*<input type="hidden" name="memo" id="memo" value="@ViewBag.From["memo"]">*@

                        <div class="pr40 pl40 md-noPadding" @if (ViewBag.From["isFirst"] != "Y") { @Html.Raw("style=\"display:none\"") }>
                            <div class="f18 orange mb32">確認您的身份（初診病患請詳細填寫以下資料，以方便本院門診相關訊息之聯絡）<button class="btn f18 btn-main" type="button" id="getudt">帶入已輸入初診個人基本資料</button></div>
                            <div class="pl20 pr20 pb32">

                                <div class="row mb16 tel line">
                                    <div class="sub">姓名 </div>
                                    <input class="std mb16 w100" type="text" name="name" id="name" @required placeholder="請輸入姓名" value="@if (ViewBag.From["name"] != null && ViewBag.From["name"] != "初診病人"){@Html.Raw(ViewBag.From["name"])}">
                                </div>
                                <!--
            <div class="row mb16 tel line">
                <div class="sub">出生日期 </div>
                <input class="std mb16 w100 datepicker" type="text" name="birthday" id="birthday" @required placeholder="請輸入出生日期" readonly value="">
            </div>
                -->
                                <div class="row mb16 tel line">
                                    <div class="sub">連絡電話 </div>
                                    <input class="std" type="text" name="tel1" id="tel1" @required><span>- </span>
                                    <input class="std main" type="text" name="tel2" id="tel2" @required><span class="xl">分機</span>
                                    <input class="std" type="text" name="tel3" id="tel3">
                                </div>
                                <div class="row mb24 line ps">
                                    <div class="sub"></div>
                                    <div class="f15">(範例：聯絡電話 <a href="tel:03-3196200">03-3196200#123 </a>或 <a href="tel:0975123456">09-75123456 </a>)</div>
                                </div>
                                <div class="row mb16 addr line">
                                    <div class="sub">聯絡地址</div>
                                    <select class="std tri" name="city" id="city">
                                        <option selected value="">選擇縣市</option>
                                        @foreach (TaiwanModel item in (List<TaiwanModel>)ViewBag.TaiwanCity)
                                        {
                                            <option value="@item.city">@item.city</option>
                                        }


                                    </select>
                                    <select class="std tri" id="district" name="district">
                                        <option selected value="">選擇區/鎮/鄉</option>
                                    </select>
                                    <input class="std" type="text" name="address" id="address">
                                    <input class="std w" type="text" name="lane" id="lane"><span>巷</span>
                                    <input class="std w" type="text" name="do" id="do"><span>弄</span>
                                    <input class="std w" type="text" name="no" id="no"><span>號</span>
                                    <input class="std w" type="text" name="floor" id="floor"><span>樓之</span>
                                    <input class="std w" type="text" name="floor_no" id="floor_no">
                                </div>
                                <!--
            <div class="row mb16 line">
                <div class="sub">E-Mail</div>
                <input class="std w100 mr8" type="email">
            </div>
                -->
                                

                            </div>
                        </div>
                        <!--初診資料表 -->
                        <div class="pr40 pl40 md-noPadding" @if (ViewBag.From["isFirst"] != "Y") { @Html.Raw("style=\"display:none\"") }>
                            <!--

     <div class="row mb16 tel line">
         <div class="sub">一、個人基本資料 </div>
     </div>
     <div class="row mb16 tel line">
         <div class="sub">姓名 </div>
         <input class="std mb16 w100" type="text" name="tmp_name" id="name" @required placeholder="請輸入姓名">
     </div>
     <div class="row mb16 tel line">
         <div class="sub">性別</div>
        <label class="radio_unit">
             <input type="radio" name="tmp_sex" value="M" checked><span>
             <div class="f18">男</div>
             </span>
             </label>
        <label class="radio_unit">
             <input type="radio" name="tmp_sex" value="F"><span>
             <div class="f18">女</div>
             </span>
             </label>
     </div>
     <div class="row mb16 tel line">
         <div class="sub">出生日期</div>
         <input class="std mb16 w100" type="text" name="tmp_birthday" id="name" @required placeholder="請輸入生日" >
     </div>
     <div class="row mb16 tel line">
         <div class="sub">國籍</div>
        <input class="std mb16 w100" type="text" name="tmp_naty" id="name" @required placeholder="請輸入國籍" >
        </div>
      <div class="row mb16 tel line">
         <div class="sub">職業</div>
         <input class="std mb16 w100" type="text" name="tmp_Career" id="name" @required placeholder="請輸入職業" >
     </div>
     <div class="row mb16 tel line">
         <div class="sub">聯絡資訊</div>
             <div class="sub">連絡電話</div>
             <div class="row mb16 tel line">
                     <div class="sub">室內電話</div>
                     <input class="std mb16 w100" type="text" name="tmp_FrnPhone1" id="name" @required placeholder="室內電話" >
                     <div class="sub">手機</div>
                     <input class="std mb16 w100" type="text" name="tmp_FrnPhone2" id="name" @required placeholder="手機" >
              </div>
     </div>
     <div class="row mb16 addr line">
                                    <div class="sub">現居地址</div>
                                    <select class="std tri" name="tmp_city" id="tmp_city">
                                        <option selected value="">選擇縣市</option>
                                        @foreach (TaiwanModel item in (List<TaiwanModel>)ViewBag.TaiwanCity)
                                        {
                                            <option value="@item.city">@item.city</option>
                                        }


                                    </select>
                                    <select class="std tri" id="tmp_district" name="tmp_district">
                                        <option selected value="">選擇區/鎮/鄉</option>
                                    </select>
                                    <input class="std" type="text" name="tmp_address" id="tmp_address">
                                    <input class="std w" type="text" name="tmp_lane" id="tmp_lane"><span>巷</span>
                                    <input class="std w" type="text" name="tmp_do" id="tmp_do"><span>弄</span>
                                    <input class="std w" type="text" name="tmp_no" id="tmp_no"><span>號</span>
                                    <input class="std w" type="text" name="tmp_floor" id="tmp_floor"><span>樓之</span>
                                    <input class="std w" type="text" name="tmp_floor_no" id="tmp_floor_no">
     </div>
     <div class="row mb16 tel line">
         <div class="sub">電子信箱</div>
         <input class="std mb16 w100" type="text" name="tmp_Mail" id="tmp_Mail" @required placeholder="請輸入電子信箱" >
     </div>



     <div class="row mb16 tel line">
         <div class="sub">二、就醫評估表 </div>
     </div>
     <div class="row mb16 tel line">
         <div class="sub">三、出生史(18歲以下請填寫資料)</div>
     </div>
    -->
                        </div>

                            <div class="check__privacy row mb32">
                                <div class="title f18 orange mr40"><img class="mr12" src="~/Styles/images/2-1.png" alt="長庚醫療財團法人"><span>patient privacy</span></div>
                                <div class="f15">
                                    <label class="radio_unit mr32">
                                        <input type="radio" name="isShowName" value="Y" checked><span>Show name</span>
                                    </label>
                                    <label class="radio_unit mr80">
                                        <input type="radio" name="isShowName" value="N"><span>Not Show  name</span>
                                    </label>
                                </div>
                                <div class="f15 red" style="opacity: 0.7">（Please choose whether you need to display）</div>
                            </div>
                            <div class="row fc">
                                <button class="btn f18 mr20 btn-main submitBut" type="submit">Register</button>
                                <a class="btn f18 mr20 btn-main" href="#modal-privacy" style="display:none;" id="link-modal-privacy">Register</a>
                                <button class="btn f18 btn-main" type="reset">fill in again</button>
                            </div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="pl56 pt32 pb32 lity-hide pr32" id="modal-privacy">
            <div class="f20 lh20 b mb24 tc">長庚紀念醫院 <br> 個人資料蒐集告知說明</div>
            <div class="scroll-wrapper pr32 mb48">
                <p class="lh18 mb20">
                    <span class="mb20">長庚紀念醫院(以下稱本院)為執行醫療保健及其相關業務，本院得使用您的個人資料於下述用途，並依個人資料保護法(以下稱個資法)第八條規定，於蒐集您的個人資料時，告知下列事項：</span><span class="b">一、	本院於執行下列特定目的時須蒐集您的個人資料： 	</span><span class="mb32">醫療保健服務、全民健保、勞保、農保及其它社會保險業務、傳染病防治、衛生行政、學術研究、社會工作、供血服務、救護車服務、其他諮詢服務、信用卡業務、調查統計與研究分析、依法律明文規定必要時處理與使用您的個人資料。</span><span class="b">二、	蒐集個人資料之類別：</span><span class="mb32">
                        (一)	個人基本資料：姓名、身分證字號、殘障手冊號碼、護照號碼、病歷號、電話、手機、電子信箱、地址、性別、生日、國籍、職業。
                        (二)	醫療保健資料：身高、體重、血型、吸菸史、飲酒史、檳榔食用史、旅遊史、職業疾病、意外紀錄、意外或其他事故情形、醫療報告、治療與診斷紀錄、檢驗結果、身心障礙種類、性生活、家庭情形及書面文件之檢索。
                        (三)	聯絡人資料：聯絡人姓名、電話及地址。
                    </span><span class="b">三、	個人基本資料利用之期間、地區、對象及方式：</span><span class="mb64">
                        (一)	期間：個人資料蒐集特定目的的存續期間、依相關法令規定或契約約定之保存年限、因執行業務所必須之保存期間。
                        (二)	醫療保健資料：身高、體重、血型、吸菸史、飲酒史、檳榔食用史、旅遊史、職業疾病、意外紀錄、意外或其他事故情形、醫療報告、治療與診斷紀錄、檢驗結果、身心障礙種類、性生活、家庭情形及書面文件之檢索。
                    </span>
                </p>
            </div>
            <button class="btn f18 btn-main" type="submit" form="profile_step2">同意</button>
        </div>
    </div>
    @section css {
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    }
    @section scripts {
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        @Scripts.Render("~/Scripts/datepicker-zh-CN.js")
        @Scripts.Render("~/Scripts/validation/jquery.validate.js")
        @Scripts.Render("~/Scripts/validation/messages_zh_TW.js")

    <script>
               var custcallbk = null;
            $(document).ready(function () {

               $(".datepicker").datepicker({
                    changeMonth: true,
                    changeYear: true,
                    yearRange: '@FirstYear:@NowYear',
                    defaultDate: new Date(@defaultYear, 00, 01)
               });
                $("#getudt").click(function () {
                    $.ajax({
                        type: "POST",
                        url: "@Url.Action("WM06tmp","home")",
                        async: true,
                        data: {hospitalID:"@thisHospital.Loc",patNumber:"@ViewBag.From["patNumber"]",idNumber:"@ViewBag.From["idNumber"]",},
                    dataType: "json",
                    error: function () {
                        alert('查無資料');
                    },
                        success: function (data) {
                            console.log(data);
                            $("#name").val(data.name);
                            $("#tel1").val(data.tel1);
                            $("#tel2").val(data.tel2);
                            $("#city").val(data.city);
                            $("#district").val(data.district);
                            $("#address").val(data.address);
                            $("#lane").val(data.address_lane);
                            $("#do").val(data.address_do);
                            $("#no").val(data.address_no);
                            $("#floor").val(data.address_floor);
                            $("#floor_no").val(data.address_floor_no);
                            custcallbk = function () {
                                 $("#name").val(data.name);
                            $("#tel1").val(data.tel1);
                            $("#tel2").val(data.tel2);
                            $("#city").val(data.city);
                            $("#district").val(data.district);
                            $("#address").val(data.address);
                            $("#lane").val(data.address_lane);
                            $("#do").val(data.address_do);
                            $("#no").val(data.address_no);
                            $("#floor").val(data.address_floor);
                                $("#floor_no").val(data.address_floor_no);
                                custcallbk = null;
                            };
                            $("#city").trigger("change");
                    }
                 });
                });
                @if (ViewBag.From["isFirst"] == "Y")
                {
                    string idNumber = ViewBag.From["idNumber"];
                    string birthday = ViewBag.From["birthday"];
                    switch(ViewBag.From["idType"])
                    {
                        case "2":
                            //身分證字號
                            idNumber = "x" + idNumber;
                            break;

                        case "3":
                            //護照號碼
                            idNumber = "x" + idNumber;
                            break;

                        case "5":
                            //入出境許可證號
                            idNumber = "x" + idNumber;
                            break;
                    }

                    string js = "var mywin = window.open('https://register1.cgmh.org.tw/refs/PatientHistory2.aspx?Id=" + idNumber+"&Loc="+thisHospital.Loc+"&Bir="+birthday+"', 'redirect');";
                    js += "var someCallback = function(url) {";
                    js += "mywin.open(url, 'redirect');";
                    js += "};";


                      @Html.Raw(js);




                }

            });

    </script>


    }
