﻿@using Web.Models;
@using Web.Services;
@{
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    //DeptModel thisDept = (DeptModel)ViewBag.thisDept;
    DeptModel thisDept = (DeptModel)ViewBag.thisDept_video;
    DoRegModel RegData = ((List<DoRegModel>)ViewBag.DoRegData).FirstOrDefault();


    WS0506_cghiqy_Preiqy2Model thiscghiqy_Preiqy2Data = ((List<WS0506_cghiqy_Preiqy2Model>)ViewBag.iscghiqy_Preiqy2Data).FirstOrDefault();
    WS0506_TOCCXAPP2Model thisTOCCXAPP2Data = ((List<WS0506_TOCCXAPP2Model>)ViewBag.isTOCCXAPP2Data).FirstOrDefault();


    IFormatProvider ifp = new System.Globalization.CultureInfo("zh-TW", true);

    DateTime opdDate = DateTime.ParseExact(RegData.opdDate, "yyyyMMdd", ifp, System.Globalization.DateTimeStyles.None);


    ViewBag.Title = thisDept.deptName + "|" + thisHospital.hospitaName + "|掛號";

    string name = ViewBag.From["name"];

    if (ViewBag.From["isShowName"] == "N")
    {
        string tempName = ViewBag.From["name"];
        name = tempName.Substring(0, 1);

        for (int i = 1; i < tempName.Length; i++)
        {
            name += "○";
        }
    }

}

<div class="complete">
    <div id="dashboard">
        <div class="dashboard__main">
            <div class="dashboard__row">
                <div class="icon-1"></div><span class="f20 wide20">@thisHospital.hospitaName</span>
                <div class="dashboard__btn f18"><a href="~/Register/@thisHospital.Loc" class="active">Register</a><a href="~/Register_video/@thisHospital.Loc">Video</a><a href="~/Query/@thisHospital.Loc">Demand</a><a href="~/Progress/@thisHospital.Loc">Schedule</a><a href="~/Info/@thisHospital.Loc">Directions</a></div>
                <select class="tri" id="changeHospital">
                    <option disabled selected hidden>Registration Information</option>
                    @if (ViewBag.Hospitals != null)
                    {
                        foreach (HospitalModel item in Hospitals)
                        {
                            <option value="@item.Loc" @if (thisHospital.Loc == item.Loc) { @Html.Raw("selected") }>@item.hospitaName</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="pb56 pt40 pr24 pl24 md-noPadding">
                <div class="title-division row mb24">
                    <div class="f24 b pl20 orange wide10">@thisHospital.hospitaName</div>
                    <div class="curve f18 wide10 mr32">@RegData.deptName</div><span class="f20 br48">預約時間：@opdDate.ToString("yyyy/MM/dd")（@FunctionService.getChtWeek(opdDate)）@ViewBag.opdTimeView </span><span class="f20">預約醫師：@RegData.roomID @RegData.doctorName</span>
                    <h2 class="sr-only">掛號完成資料</h2>
                </div>
                <div class="box-wrapper mb40 pt48 pb100">


                    <div id="printArea">
                        @if (RegData.name == "初診病人")
                        {
                            <div class="f18 orange mb32">初診病患</div>
                        }
                        else
                        {
                            <div class="f18 orange mb32">複診病患</div>
                        }


                    <ul class="nostyle lh20 border pb80 mb24">
                        <li>@name</li>
                        <li>
                            @switch (ViewBag.From["idType"])
                            {
                                case "2":
                                    @Html.Raw("身分證字號")
                                    break;
                                case "1":
                                    @Html.Raw("病歷號")
                                    break;
                                case "3":
                                    @Html.Raw("護照號碼")
                                    break;
                                case "4":
                                    @Html.Raw("居留證號")
                                    break;
                                case "5":
                                    @Html.Raw("入出境許可證號")
                                    break;
                            }：<span class="link wide5">@ViewBag.From["idNumber"] </span>(請用此身分證號碼查詢您的掛號資料)
                        </li>

                        <li>掛 號 結 果：<span class="link" id="RegModel_videomsg">@ViewBag.strRegModel_videomsg </span> 	</li>


                        <li>掛 號 院 區：<span class="link">@thisHospital.hospitaName</span> 院區	</li>
                        <li>就 診 科 別：<span class="link">@RegData.deptName	</span></li>
                        <li>就 診 醫 師：<span class="link">@RegData.doctorName</span> 醫師	</li>
                        <li>就 診 序 號：第 @RegData.regNumber </li>
                        <li>就 診 日 期：請於 <span class="link">@opdDate.ToString("yyyy年MM月dd日") @ViewBag.opdTimeView @RegData.estiTime </span>前</li>
                        <li>就 診 地 點：至本院 <span class="link">@RegData.roomLocation </span>看診</li>
                        @if (ViewBag.isVideodptData != null)
                        {
                            @*foreach (WS242Model item in ViewBag.isVideodptData)
            {
                if (item.isvideodpt == "Y")
                {
                    <li>
                        <b>本門診提供門診視訊功能可於掛號查詢進行預約。</b>
                    </li>
                    <li>
                          <a class="f18 btn-main openCheckOrderVideo2" type="button" href="#modal-video" data-value={'deptID':'@RegData.deptID','opdDate':'@RegData.opdDate','opdTimeID':'@RegData.opdTimeID','doctorID':'@RegData.doctorID','idNumber':'','hospitalID':'@thisHospital.Loc','patNumber':'@RegData.patNumber','idType':'1','ip':''} data-lity>視訊預約</a>
                    </li>
                }
            }*@

                        }
                        @*//isVideodptData*@
                        <li>
                            @*//診前問卷prediagnostic questionnaire*@
                            @if (thiscghiqy_Preiqy2Data != null)
                            {

                                if (thiscghiqy_Preiqy2Data.Preiqy_URL.Trim() != "")
                                {
                                    <a href=@thiscghiqy_Preiqy2Data.Preiqy_URL target="_blank">
                                        <button class="btn f18 btn-main " type="button" id="getprediagnostic">診前問卷</button>
                                    </a>
                                }
                            }



                        </li>
                        <li>
                            <br />
                        </li>
                        <li>

                            @*//TOCC問卷prediagnostic questionnaire*@
                            @if (thisTOCCXAPP2Data != null)
                            {
                                if (thisTOCCXAPP2Data.Preiqy_URL != "")
                                {
                                    <a href=@thisTOCCXAPP2Data.Preiqy_URL target="_blank">
                                        <button class="btn f18 btn-main " type="button" id="TOCCXAPP2">TOCC問卷</button>
                                    </a>
                                }
                            }
                        </li>
                    </ul>
                    </div>
                    <p class="f17 lh20 mb8">
                        @*<span class="red">提醒您：請提前30分鐘並攜帶身分證件或戶口名簿至掛號櫃檯辦理初診手續。</span><br>※列印提醒：列印前請先至[檔案]功能表中[設定列印格式]，設定列印方向為[橫向]後，再至[檔案]功能表中[列印]。<br>*@<span class="red"></span><br><br>
                        <span class="orange">※當日看診進度可於網路掛號系統點選『查詢(取消)掛號與看診進度』查詢。<br></span>※ 若您有變更聯絡電話或住址，請攜帶身分證至醫事櫃檯進行更新。<br>
                    </p>
                    <div class="row between mb24"><span>歡迎多加使用長庚e指通APP，提供行動掛號、行動繳費等便捷功能，並享有預約通知、健康管家、看診進度查詢等服務，歡迎多加利用。</span><img src="~/Styles/images/qr.jpg" alt="長庚醫療財團法人" style="max-width: 80px"></div>

                    <ul class="list nostyle lh20 b border-bottom pb40 mb32">
                        <li>為節省您寶貴時間與減少臨櫃接觸，繳費方式推薦您利用醫指付APP，請利用App Store/Google Play搜尋「醫指付」，並觀看醫指付操作短片(<a href='https://register1.cgmh.org.tw/refs/File/Doctor_refers_to_pay.mp4'>觀看影片</a>)。</li>
                    </ul>
                    <div class="orange f24">長庚醫院敬祝您健康快樂</div>


                    @if (ViewBag.SymptomQueryData != null)
                    {
                        <div class="complete_note mt80 pt56">
                            <div class="lh18 pl16 mb12">
                                <div class="f20 mb4"><span class="orange">@name</span><span>　君</span></div>
                                <div class="f17">您有 @ViewBag.SymptomQueryDataNum 次未到診紀錄</div>
                                <div class="f17 red">( 提醒您：三個月內有三次未到診紀錄者，暫停受理網路預約掛號，請至掛號櫃台辦理掛號。）</div>
                            </div>
                            <table class="table wide10 two-tone forth-type">
                                <thead>
                                    <tr>
                                        <th>院區</th>
                                        <th>看診日期 </th>
                                        <th>診別 </th>
                                        <th>科別</th>
                                        <th>醫師姓名</th>
                                        <th>序號</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (SymptomQueryModel item in ViewBag.SymptomQueryData)
                                    {


                                        string absdatString = "";
                                        if (!string.IsNullOrEmpty(item.absdat))
                                        {
                                            DateTime absdat = DateTime.ParseExact(item.absdat, "yyyyMMdd", ifp, System.Globalization.DateTimeStyles.None);
                                            absdatString = absdat.ToString("yyyy/MM/dd");
                                        }
                                        HospitalModel locName = new HospitalModel();

                                        if (!string.IsNullOrEmpty(item.loc))
                                        {
                                            locName = Hospitals.Where(m => m.Loc == item.loc).FirstOrDefault();
                                        }

                                        <tr>
                                            <td data-title="院區">
                                                @if (!string.IsNullOrEmpty(item.loc))
                                                {@locName.hospitaName}
                                            </td>
                                            <td class="orange" data-title="看診日期">@absdatString</td>
                                            <td data-title="診別 ">@item.shf</td>
                                            <td data-title="科別">@item.rgsdptnm</td>
                                            <td data-title="醫師姓名">@item.drnonm</td>
                                            <td data-title="序號">@item.opdvssqno</td>
                                        </tr>


                                    }


                                </tbody>
                            </table>
                        </div>
                    }


                </div>
                <div class="row fc md-equal"><a class="btn f18 btn-main mr28 printReg">列印</a><a class="btn f18 btn-main" href="~/Department/@thisHospital.Loc/@thisDept.deptID">回門診時間表</a></div>
            </div>
        </div>



        <div class="lity-hide" id="modal-video">
            <form id="OrderVideoForm2" method="post" action="">
                @Html.AntiForgeryToken()
                <div class="cross_head"><img src="~/Styles/images/0-logo-white2.png" alt="長庚醫療財團法人"></div>
                <div class="pl40 pr40 pt56 pb56">
                    <div class="text f18 lh16 wide10">是否要預約門診視訊</div>
                </div>
               
                <div class="cross_bottom pt24 pb32 pr12 pl12">
                    <button class="btn f18 btn-main OrderVideo2" data-value="" type="button" style="margin-right: 8px">確定</button><a class="btn f18 btn-main modal-close">取消</a>
                </div>
            </form>
        </div>

        



    </div>
</div>

@section scripts {

    @Scripts.Render("~/Scripts/jQuery.print.js")
   
    <script>
        $(document).ready(function () {

          //  swal("掛 號 結 果：", "@ViewBag.strRegModel_videomsg");
             //swal("掛 號 結 果：", ".RegModel_videomsg");


            swal({
                            title: "掛 號 結 果",
                            text: "@ViewBag.strRegModel_videomsg",
                            type: "warning",
                            showCancelButton: false,
                            confirmButtonColor: "#e7505a",
                            confirmButtonText: "確定!",
                            closeOnConfirm: false,
                            cancelButtonText: "取消"
                        });



            $("body").delegate(".printReg", "click", function () {       

                $("#printArea").print({
                    globalStyles: false,
                    mediaPrint: false,
                    stylesheet: null,
                    noPrintSelector: ".no-print",
                    iframe: true,
                    append: null,
                    prepend: null,
                    manuallyCopyFormValues: true,
                    deferred: $.Deferred(),
                    timeout: 750,
                    title: null,
                    doctype: '<!doctype html>'
                });

            });
        });

    </script>


}