﻿@using Web.Models;
@using Web.Services;
@{
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    DeptModel thisDept = (DeptModel)ViewBag.thisDept;
    DoRegModel RegData = ((List<DoRegModel>)ViewBag.DoRegData).FirstOrDefault();

    WS0506_cghiqy_Preiqy2Model thiscghiqy_Preiqy2Data = ((List<WS0506_cghiqy_Preiqy2Model>)ViewBag.iscghiqy_Preiqy2Data).FirstOrDefault();
    WS0506_TOCCXAPP2Model thisTOCCXAPP2Data = ((List<WS0506_TOCCXAPP2Model>)ViewBag.isTOCCXAPP2Data).FirstOrDefault();


    IFormatProvider ifp = new System.Globalization.CultureInfo("zh-TW", true);

    DateTime opdDate = DateTime.ParseExact(RegData.opdDate, "yyyyMMdd", ifp, System.Globalization.DateTimeStyles.None);


    ViewBag.Title = thisDept.deptName + "|" + thisHospital.hospitaName + "|掛號";

    string name = ViewBag.From["name"];

    if (ViewBag.From["isShowName"] == "N")
    {
        string tempName = ViewBag.From["name"];
        name = tempName.Substring(0, 1);

        for (int i = 1; i < tempName.Length; i++)
        {
            name += "○";
        }
    }

            }

<div class="complete">
    <div id="dashboard">
        <div class="dashboard__main">
            <div class="dashboard__row">
                <div class="icon-1"></div><span class="f20 wide20">@thisHospital.hospitaName</span>
                <div class="dashboard__btn f18"><a href="~/Register/@thisHospital.Loc" class="active">Register</a><a href="~/Register_video/@thisHospital.Loc">Video</a><a href="~/Query/@thisHospital.Loc">Demand</a><a href="~/Progress/@thisHospital.Loc">Schedule</a><a href="~/Info/@thisHospital.Loc">Directions</a></div>
                <select class="tri" id="changeHospital">
                    <option disabled selected hidden>Registration Information</option>
                    @if (ViewBag.Hospitals != null)
                    {
                        foreach (HospitalModel item in Hospitals)
                        {
                            <option value="@item.Loc" @if (thisHospital.Loc == item.Loc) { @Html.Raw("selected") }>@item.hospitaName</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="pb56 pt40 pr24 pl24 md-noPadding">
                <div class="title-division row mb24">
                    <div class="f24 b pl20 orange wide10">@thisHospital.hospitaName</div>
                    <div class="curve f18 wide10 mr32">@RegData.deptName</div><span class="f20 br48">預約時間：@opdDate.ToString("yyyy/MM/dd")（@FunctionService.getChtWeek(opdDate)）@ViewBag.opdTimeView </span><span class="f20">doctor：@RegData.roomID @RegData.doctorName</span>
                    <h2 class="sr-only">completion information</h2>
                </div>
                <div class="box-wrapper mb40 pt48 pb100">


                    <div id="printArea">
                        @if (RegData.name == "Newly diagnosed patients")
                        {
                            <div class="f18 orange mb32">Newly diagnosed patients</div>
                        }
                        else
                        {
                            <div class="f18 orange mb32">Follow-up patients</div>
                        }


                        <ul class="nostyle lh20 border pb80 mb24">
                            <li>@name</li>
                            <li>
                                @switch (ViewBag.From["idType"])
                                {
                                    case "2":
                                        @Html.Raw("ID number") break;
                                    case "1":
                                        @Html.Raw("Medical record number") break;
                                    case "3":
                                        @Html.Raw("passport number") break;
                                    case "4":
                                        @Html.Raw("Residence card number") break;
                                    case "5":
                                        @Html.Raw("Entry and exit permit number")break;
                                }：<span class="link wide5">@ViewBag.From["idNumber"] </span>(Please use this ID card number to check your registration information)
                            </li>

                            <li>Registration Hospital District: <span class="link">@thisHospital.hospitaName</span> Hospital </li>

                            <li>Department: <span class="link">@RegData.deptName </span></li>

                            <li>Accessing Physician: <span class="link">@RegData.doctorName</span> Physician </li>

                            <li>Diagnosis serial number: No. @RegData.regNumber </li>
                            <li>Date of visit: Please <span class="link">@opdDate.ToString("yyyy MM dd ") @ViewBag.opdTimeView @RegData.estiTime </span> before</li>
                            <li>Appointment location: Visit our hospital <span class="link">@RegData.roomLocation </span> for consultation</li>
                            @if (ViewBag.isVideodptData != null)
                            {
                                foreach (WS242Model item in ViewBag.isVideodptData)
                                {
                                    if (item.isvideodpt == "Y")
                                    {
                                        <li>
                                            <b>This clinic provides outpatient video function and can make an appointment in the registration inquiry。</b>
                                        </li>
                                        <li>
                                            @*//isVideodptData*@
                                            @*<a class="btn f18 openCheckOrderVideo2" type="button" href="#modal-video" data-value="{@RegData}" data-lity>視訊預約</a>*@
                                            <a class="f18 btn-main openCheckOrderVideo2" type="button" href="#modal-video" data-value={'deptID':'@RegData.deptID','opdDate':'@RegData.opdDate','opdTimeID':'@RegData.opdTimeID','doctorID':'@RegData.doctorID','idNumber':'','hospitalID':'@thisHospital.Loc','patNumber':'@RegData.patNumber','idType':'1','ip':''} data-lity>video booking</a>
                                            @*<button class="btn f18 openCheckOrderVideo" type="button" id="getudtvideo" href="#modal-video" data-value=RegData>門診視訊預約</button>*@<button class="btn f18 openCheckOrderVideo" type="button" id="getudtvideo" href="#modal-video" data-value=RegData></button><button class="btn f18 openCheckOrderVideo" type="button" id="getudtvideo" href="#modal-video" data-value=RegData></button><button class="btn f18 openCheckOrderVideo" type="button" id="getudtvideo" href="#modal-video" data-value=RegData></button><button class="btn f18 openCheckOrderVideo" type="button" id="getudtvideo" href="#modal-video" data-value=RegData></button><button class="btn f18 openCheckOrderVideo" type="button" id="getudtvideo" href="#modal-video" data-value=RegData></button>
                                        </li>
                                    }
                                }

                            }
                            <li>
                                @*//診前問卷prediagnostic questionnaire*@
                                @if (thiscghiqy_Preiqy2Data != null)
                                {

                                    if (thiscghiqy_Preiqy2Data.Preiqy_URL.Trim() != "")
                                    {
                                        <a href=@thiscghiqy_Preiqy2Data.Preiqy_URL target="_blank">
                                            <button class="btn f18 btn-main " type="button" id="getprediagnostic">Pre-diagnosis Questionnaire</button>
                                        </a>
                                    }
                                }



                            </li>

                            <li>

                                @*//TOCC問卷prediagnostic questionnaire*@
                                @if (thisTOCCXAPP2Data != null)
                                {
                                    if (thisTOCCXAPP2Data.Preiqy_URL != "")
                                    {
                                        <a href=@thisTOCCXAPP2Data.Preiqy_URL target="_blank">
                                            <button class="btn f18 btn-main " type="button" id="TOCCXAPP2">TOCC Questionnaire</button>
                                        </a>
                                    }
                                }
                            </li>

                        </ul>
                    </div>
                    <p class="f17 lh20 mb8"><span class="red">Reminder: Please go to the registration counter 30 minutes in advance and bring your ID card or household registration book to the registration counter for first-time consultation procedures. </span><br>※Printing Reminder: Before printing, please go to [Set Print Format] in the [File] menu, set the printing direction to [Landscape], and then go to the [File] menu [ print]. <br><span class="orange">※The progress of the day's consultation can be checked in the online registration system by clicking "Query (cancel) registration and consultation progress". <br></span>※ If you have changed your contact number or address, please bring your ID card to the medical counter to update it. <br></p>
                    <div class="row between mb24"><span>Welcome to use the Chang Gung e-Zhitong APP, which provides convenient functions such as mobile registration and mobile payment, and enjoys services such as appointment notification, health housekeeper, and consultation progress inquiry. Welcome to use it more . </span><img src="~/Styles/images/qr.jpg" alt="Chang Gung Medical Foundation" style="max-width: 80px"></div>

                    <ul class="list nostyle lh20 b border-bottom pb40 mb32">
                        <li>In order to save your precious time and reduce contact with the counter, we recommend you to use the medical finger payment APP as the payment method. Please use the App Store/Google Play to search for "medical finger payment" and watch the video of the medical finger payment operation (<a href='https://register1.cgmh.org.tw/refs/File/Doctor_refers_to_pay.mp4'>watch the video</a>). </li>
                    </ul>
                    <div class="orange f24">Chang Gung Hospital wishes you good health and happiness</div>


                    @if (ViewBag.SymptomQueryData != null)
                    {
                        <div class="complete_note mt80 pt56">
                            <div class="lh18 pl16 mb12">
                                <div class="f20 mb4"><span class="orange">@name</span><span>　</span></div>
                                <div class="f17">you have @ViewBag.SymptomQueryDataNum No visit record</div>
                                <div class="f17 red">( Reminder: For those who have not been to the clinic three times within three months, the online appointment registration will be suspended. Please go to the registration counter to register.）</div>
                            </div>
                            <table class="table wide10 two-tone forth-type">
                                <thead>
                                    <tr>
                                        <th>District</th>
                                        <th>Date of visit</th>
                                        <th>diagnosis</th>
                                        <th>Division</th>
                                        <th>Physician name</th>
                                        <th>serial number</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (SymptomQueryModel item in ViewBag.SymptomQueryData)
                                    {


                                        string absdatString = "";
                                        if (!string.IsNullOrEmpty(item.absdat))
                                        {
                                            DateTime absdat = DateTime.ParseExact(item.absdat, "yyyyMMdd", ifp, System.Globalization.DateTimeStyles.None);
                                            absdatString = absdat.ToString("yyyy/MM/dd");
                                        }
                                        HospitalModel locName = new HospitalModel();

                                        if (!string.IsNullOrEmpty(item.loc))
                                        {
                                            locName = Hospitals.Where(m => m.Loc == item.loc).FirstOrDefault();
                                        }

                                    <tr>
                                        <td data-title="District">
                                            @if (!string.IsNullOrEmpty(item.loc))
                                            {@locName.hospitaName}
                                        </td>
                                        <td class="orange" data-title="Visit Date">@absdatString</td>
                                        <td data-title="Diagnostics">@item.shf</td>
                                        <td data-title="Section">@item.rgsdptnm</td>
                                        <td data-title="Physician Name">@item.drnonm</td>
                                        <td data-title="serial number">@item.opdvssqno</td>
                                    </tr>


                                    }


                                </tbody>
                            </table>
                        </div>
                    }


                </div>
                <div class="row fc md-equal"><a class="btn f18 btn-main mr28 printReg">列印</a><a class="btn f18 btn-main" href="~/Department/@thisHospital.Loc/@thisDept.deptID">Back to Clinic Schedule</a></div>
            </div>
        </div>



        <div class="lity-hide" id="modal-video">
            <form id="OrderVideoForm2" method="post" action="" style="overflow-y: scroll; height:500px;">
                @Html.AntiForgeryToken()
                <div class="cross_head"><img src="~/Styles/images/0-logo-white2.png" alt="長庚醫療財團法人"></div>

                 @*//--電話 地址-------------*@
                <div class="pl20 pr20 pb20 ">
                    <div class="text f18 lh16 wide10">是否要預約門診視訊</div>
                    <div class="sub">  1.請輸入可連絡到的市話或手機號碼(必填) <input class="std" type="text" name="tel5" id="tel5"> </div>
                    <div class="row">  (範例：聯絡電話 <a href="tel:03-3196200">03-3196200#123 </a>或 <a href="tel:0975123456">09-75123456 </a>)</div>
                    <div class="row">  2.需要郵寄處方箋請輸入地址-郵寄地址</div>
                    <select class="std tri" name="city5" id="city5">
                        <option selected value="">選擇縣市</option>
                        @foreach (TaiwanModel item in (List<TaiwanModel>)ViewBag.TaiwanCity)
                        {
                            <option value="@item.city">@item.city</option>
                        }


                    </select>
                <select class="std tri" id="district5" name="district5">
                    <option selected value="">選擇區/鎮/鄉</option>
                </select>

                <input class="std" type="text" name="address5" id="address5">
                <input class="std w" type="text" name="lane5" id="lane5"><span>巷</span>
                <input class="std w" type="text" name="do5" id="do5"><span>弄</span>

                <input class="std w" type="text" name="no5" id="no5"><span>號</span>
                <input class="std w" type="text" name="floor5" id="floor5"><span>樓之</span>
                <input class="std w" type="text" name="floor_no5" id="floor_no5">

                    @*//20220517圖片上傳*@
                <div class="row">
                    3.資料上傳專區  (快篩陽性確認或確診居家照護個案)
                </div>
                <div class="row">
                    請勾選您的身分別並上傳相關資料
                </div>
                <div class="row">
                    <input type="radio" name="picidType" id="picidType0" value="0"  class="picidType" style="width:20px;height:20px;" checked>非下列狀況個案

                </div>
                <div class="row">
                    <input type="radio" name="picidType" id="picidType1" value="1"  class="picidType" style="width:20px;height:20px;">     快篩陽性個案(限65歲以上、居家隔離、自主防疫、居家檢疫期間者)：
                </div>
                 <div class="row">
                    請輸入您的檢測日期(快篩陽性個案必填)： <input class="std mb9" type="text" name="type1_date_y" id="type1_date_y" value="2022" maxlength="4" style="width:60px;"> 年<input class="std mb9" type="text" name="type1_date_m" id="type1_date_m" maxlength="2" style="width:30px;">月<input class="std mb9" type="text" name="type1_date_d" id="type1_date_d" maxlength="2" style="width:30px;">日
                </div>
                <div class="col-12 col-md-6 mx-auto" style="padding: 0px 0px 0px 20px; ">
                    (1) 您的檢測卡匣/片(需寫受測者姓名及檢測日期)及健保卡一同拍照之影像。上傳影像(檔案格式：JPG、JPEG、PNG 2M以下)
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 mx-auto">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" data-target="file-uploader1" id="file-uploader1" name="file-uploader1">
                            <label class="custom-file-label" for="customFile"></label>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mx-auto" style="padding: 0px 0px 0px 20px;">
                    (2)居家隔離、自主防疫或居家檢疫相關政府文件或通知之影像(隔離通知書、健保快易通確診資訊或衛生局簡訊通知畫面等)上傳影像(檔案格式：JPG、JPEG、PNG 2M以下)
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 mx-auto">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input2" data-target="file-uploader2" id="file-uploader2" name="file-uploader2">
                            <label class="custom-file-label" for="customFile"></label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input type="radio" name="picidType" id="picidType2" value="2" class="picidType" style="width:20px;height:20px;">確診居家照護個案：請上傳確診資料影像
                </div>
                <div class="row">
                    (隔離通知書、健保快易通確診資訊或衛生局簡訊通知畫面等)
                </div>
                <div class="row">
                    上傳影像(檔案格式：JPG、JPEG、PNG 2M以下)
                </div>

                 <div class="row">
                    請輸入您的隔離日期(確診居家照護個案必填)： <input class="std mb9" type="text" name="type2_date_y" id="type2_date_y" value="2022" maxlength="4" style="width:60px;"> 年<input class="std mb9" type="text" name="type2_date_m" id="type2_date_m" maxlength="2" style="width:30px;">月<input class="std mb9" type="text" name="type2_date_d" id="type2_date_d" maxlength="2" style="width:30px;">日
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 mx-auto">
                        <div class="custom-file">
                            <input type="file" class="custom-file-input3" data-target="file-uploader3" id="file-uploader3" name="file-uploader3">
                            <label class="custom-file-label" for="customFile"></label>
                        </div>
                    </div>
                </div>
                </div>
               
               
             

            @*//----------------------*@
            <div class="cross_bottom pt24 pb32 pr12 pl12">
                <button class="btn f18 btn-main OrderVideo2" data-value="" type="button" style="margin-right: 8px">確定</button><a class="btn f18 btn-main modal-close">取消</a>
            </div>
            </form>
        </div>
    </div>
</div>

@section scripts {

    @Scripts.Render("~/Scripts/jQuery.print.js")
    @Scripts.Render("~/Scripts/validation/jquery.validate.js")
    @Scripts.Render("~/Scripts/validation/messages_zh_TW.js")
    <script>
        $(document).ready(function () {

            $("body").delegate(".printReg", "click", function () {       

                $("#printArea").print({
                    globalStyles: false,
                    mediaPrint: false,
                    stylesheet: null,
                    noPrintSelector: ".no-print",
                    iframe: true,
                    append: null,
                    prepend: null,
                    manuallyCopyFormValues: true,
                    deferred: $.Deferred(),
                    timeout: 750,
                    title: null,
                    doctype: '<!doctype html>'
                });
            });

        });


    </script>


}