﻿@using Web.Models;
@using Web.Services;
@{
    GetServiceData AppData = new GetServiceData();
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    //DeptModel thisDept = (DeptModel)ViewBag.thisDept;
    DeptModel thisDept = (DeptModel)ViewBag.thisDept_video;
    // DeptModel thisDept_video = (DeptModel)ViewBag.thisDept_video;
    // DeptModel thisDept = (DeptModel)ViewBag.thisDept_video;

    List<SchedulePeriodModel> SchedulePeriods = (List<SchedulePeriodModel>)ViewBag.SchedulePeriods;

    IFormatProvider ifp = new System.Globalization.CultureInfo("zh-TW", true);

    ViewBag.Title = thisDept.deptName + "|" + thisHospital.hospitaName + "|網路掛號";
    // ViewBag.Title = thisDept_video.deptName + "|" + thisHospital.hospitaName + "|網路掛號";
}
<div class="department">
    <div id="dashboard">
        <div class="dashboard__main">
            <div class="dashboard__row">
                <div class="icon-1"></div><span class="f20 wide20">@thisHospital.hospitaName</span>
                <div class="dashboard__btn f18"><a href="~/Register/@thisHospital.Loc" class="active">Register</a><a href="~/Register_video/@thisHospital.Loc">Video</a><a href="~/Query/@thisHospital.Loc">Demand</a><a href="~/Progress/@thisHospital.Loc">Schedule</a><a href="~/Info/@thisHospital.Loc">Directions</a></div>
                <select class="tri" id="changeHospital">
                    <option disabled selected hidden>Registration Information</option>
                    @if (ViewBag.Hospitals != null)
                    {
                        foreach (HospitalModel item in Hospitals)
                        {
                            <option value="@item.Loc" @if (thisHospital.Loc == item.Loc) { @Html.Raw("selected") }>@item.hospitaName</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="pt40 pr24 pl24 md-noPadding">
                <div class="title-division row mb24">
                    <div class="f24 b pl20 orange wide10">@thisHospital.hospitaName (video zone)</div>
                    <div class="curve f18 wide10">@thisDept.deptName </div>

                   
                </div>
                <div class="box-wrapper mb40 pt20 pb20">
                    <div class="f20 pb8 pt12 wide10 b">Precautions</div>
                    <ul class="list nostyle lh20">
                        @if (ViewBag.DeptInfo != null)
                        {
                            foreach (DeptInfoModel item in ViewBag.DeptInfo)
                            {
                                @Html.Raw("<li>" + item.NM.Replace("<a", "<a target=\"_blank\" style=\"text-decoration:underline;\"") + "</li>")
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="section gray pb56">
        <div class="container pt32">
            <form class="department__doctor" name="searchDoctorForm" method="get" action="">

                <span class="f20 b wide20">@DateTime.Now.ToString("yyyy年MM月dd日")</span>
                <h2 class="sr-only">看診醫師時間表</h2>
                <div class="wrapper select">
                    <select class="tri" name="id">
                        <option value="">全部醫生</option>
                        @if (ViewBag.OPDSchdulesData_video != null)
                        {
                            foreach (IEnumerable<OPDSchduleModel> item in ViewBag.OPDSchdulesData_video["DoctorGroups_video"])
                            {
                                OPDSchduleModel doctor = item.FirstOrDefault();

                                <option value="@doctor.doctorID" @if (Request["id"] != null && Request["id"].ToString() == doctor.doctorID) { @Html.Raw("selected") }>@Html.Raw(doctor.doctorName + "(" + doctor.deptName + ")")</option>

                            }
                        }

                    </select>
                </div>
                <div class="wrapper input">
                    <input class="autocomplete_input" name="name" type="text" autocomplete="off" value="@if (Request["name"] != null && Request["name"].ToString() != "") { @Html.Raw(Request["name"].ToString()) }" placeholder="請輸入醫生姓名...">
                </div>
                <button class="btn useLoading" type="submit">查詢</button>
            </form>

            <table class="department-table">
                <thead>
                    <tr>
                        <th>日期</th>
                        <td>
                            <div class="toggle">
                                <span>上午</span>
                                <div class="f14">（點此切換時段）</div>
                            </div>
                        </td>
                        <td>
                            <div class="toggle">
                                <span>下午</span>
                                <div class="f14">（點此切換時段）</div>
                            </div>
                        </td>
                        <td>
                            <div class="toggle">
                                <span>晚間</span>
                                <div class="f14">（點此切換時段）</div>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewBag.OPDSchdulesData_video != null)
                    {
                        foreach (KeyValuePair<string, object> item in ViewBag.OPDSchdulesData_video)
                        {
                            if (item.Key != "DoctorGroups_video")
                            {
                                DateTime viewDate = DateTime.ParseExact(item.Key, "yyyyMMdd", ifp, System.Globalization.DateTimeStyles.None);
                                string week = FunctionService.getChtWeek(viewDate);
                                Dictionary<string, object> subItem = (Dictionary<string, object>)item.Value;
                                List<OPDSchduleModel> Morning = (List<OPDSchduleModel>)subItem["Morning"];
                                List<OPDSchduleModel> Afternoon = (List<OPDSchduleModel>)subItem["Afternoon"];
                                List<OPDSchduleModel> Night = (List<OPDSchduleModel>)subItem["Night"];

                                <tr>
                                    <th>@viewDate.ToString("MM/dd")（@week）</th>
                                    <td>
                                        @if (Morning != null && Morning.Count > 0)
                                        {
                                            foreach (OPDSchduleModel doctor in Morning)
                                            {
                                                <!--<a class="state-full" href="checkin.html">17510陳俊宇<span class="full">(額滿)</span><span class="first">初診</span></a>-->
                                                string Full = "";
                                                string FullClass = "";
                                                string url = "javascript:void(0)";
                                                string Memo = "";
                                                string subDoctorName = "";
                                                if (doctor.isFull == "Y")
                                                {
                                                    Memo = "<span class=\"full\">(額滿)</span>";

                                                }
                                                if (doctor.canReg == "Y")
                                                {
                                                    url = Url.Content("~/Checkin_video/" + thisHospital.Loc + "/" + thisDept.deptID + "/" + doctor.opdDate + "/" + doctor.doctorID + "/" + doctor.opdTimeID);

                                                }
                                                else
                                                {
                                                    FullClass = "state-full";
                                                }

                                                if (!string.IsNullOrEmpty(doctor.subDoctorName))
                                                {
                                                    subDoctorName = "(" + doctor.subDoctorName + ")<sapn style=\"color:#00FF00\">(代)</span>";
                                                }


                                                if (doctor.memo != "")
                                                {
                                                    if (doctor.memo == "(額滿)初診")
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)", "<span class=\"full\">(額滿)</span>") + "</span>";
                                                    }
                                                    else if (doctor.memo == "停診")
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace("停診", "<span class=\"full\">(停診)</span>") + "</span>";
                                                    }
                                                    else if (doctor.memo == "(額滿)(自費診)初診")
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)(自費診)", "<span class=\"full\">(額滿)(自費診)</span>") + "</span>";
                                                    }
                                                    else if (doctor.memo == "(額滿)(自費診)")
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)(自費診)", "<span class=\"full\">(額滿)(自費診)</span>") + "</span>";
                                                    }
                                                    else if ((doctor.memo).IndexOf("額滿") != -1&&(doctor.memo).IndexOf("初診") != -1)
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace((doctor.memo).Substring(0,(doctor.memo).Length-2), "<span class=\"full\">"+(doctor.memo).Substring(0,(doctor.memo).Length-2)+"</span>") + "</span>";
                                                    }
                                                    else if ((doctor.memo).IndexOf("額滿") != -1)
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">"+doctor.memo+"</span>") + "</span>";
                                                    }

                                                    //-----------
                                                    else if ((doctor.memo).IndexOf("停診") != -1)
                                                    {
                                                        //Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">" + "(停診)" + "</span>"+"<span class=\"first\">(" + (doctor.memo).Substring(2, (doctor.memo).Length - 2) + ")</span>")+ "</span>";
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">(停診)</span>") + "</span>";
                                                    }
                                                    else if (doctor.memo == "(額滿)(可視訊)初診")
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)", "<span class=\"full\">(額滿)</span>") + "</span>";
                                                    }
                                                    //else if (doctor.memo == "停診(可視訊)")
                                                    //{
                                                    //    Memo = "<span class=\"first\">" + doctor.memo.Replace("停診", "<span class=\"full\">(停診)</span>") + "</span>";
                                                    //}
                                                    //else if (doctor.memo == "(額滿)(自費診)(可視訊)初診")
                                                    //{
                                                    //    Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)(自費診)", "<span class=\"full\">(額滿)(自費診)</span>") + "</span>";
                                                    //}
                                                    //else if (doctor.memo == "(額滿)(自費診)(可視訊)")
                                                    //{
                                                    //    Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)(自費診)", "<span class=\"full\">(額滿)(自費診)</span>") + "</span>";
                                                    //}
                                                    else if (doctor.isFull == "Y" &&(doctor.memo).IndexOf("初診") != -1 &&(doctor.memo).IndexOf("(可視訊)") != -1)
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace((doctor.memo).Substring(0,(doctor.memo).Length-2), "<span class=\"full\">"+(doctor.memo).Substring(0,(doctor.memo).Length-2)+"</span>") + "</span>";
                                                    }
                                                    else if (doctor.isFull == "Y" && (doctor.memo).IndexOf("(可視訊)") != -1)
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">(額滿)" + "</span>") + doctor.memo + "</span>";
                                                    }
                                                    else if (doctor.isFull == "Y" && (doctor.memo).IndexOf("自費") != -1)
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">(額滿)" + "</span>") + "(" + doctor.memo + ")" + "</span>";
                                                    }
                                                    else if (doctor.isFull == "Y" && (doctor.memo).IndexOf("候補") != -1 )
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">(額滿)" +  "</span>") +"("+doctor.memo +")"+ "</span>";
                                                    }
                                                    //-------------


                                                    else
                                                    {
                                                        Memo = "<span class=\"first\">(" + doctor.memo + ")</span>";
                                                    }

                                                    //視訊沒初診反正不會跳出來
                                                    if (doctor.memo.Trim() == "初診")
                                                    {
                                                        url = Url.Content("~/Checkin_video/" + thisHospital.Loc + "/" + thisDept.deptID + "/" + doctor.opdDate + "/" + doctor.doctorID + "/" + doctor.opdTimeID);
                                                    }
                                                }



                                                <a class="@FullClass" href="@url">@Html.Raw(doctor.opdTimeID + doctor.doctorID + " " + doctor.doctorName + subDoctorName + Full + Memo)</a>
                                            }

                                        }


                                    </td>
                                    <td>
                                        @if (Afternoon != null && Afternoon.Count > 0)
                                        {
                                            foreach (OPDSchduleModel doctor in Afternoon)
                                            {
                                                string Full = "";
                                                string FullClass = "";
                                                string url = "javascript:void(0)";
                                                string Memo = "";
                                                string subDoctorName = "";
                                                if (doctor.isFull == "Y")
                                                {
                                                    Memo = "<span class=\"full\">(額滿)</span>";

                                                }
                                                if (doctor.canReg == "Y")
                                                {
                                                    url = Url.Content("~/Checkin_video/" + thisHospital.Loc + "/" + thisDept.deptID + "/" + doctor.opdDate + "/" + doctor.doctorID + "/" + doctor.opdTimeID);

                                                }
                                                else
                                                {
                                                    FullClass = "state-full";
                                                }

                                                if (!string.IsNullOrEmpty(doctor.subDoctorName))
                                                {
                                                    subDoctorName = "(" + doctor.subDoctorName + ")<sapn style=\"color:#009900\">(代)</span>";
                                                }

                                                if (doctor.memo != "")
                                                {
                                                    if (doctor.memo == "(額滿)初診")
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)", "<span class=\"full\">(額滿)</span>") + "</span>";
                                                    }
                                                    else if (doctor.memo == "停診")
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace("停診", "<span class=\"full\">(停診)</span>") + "</span>";
                                                    }
                                                    else if (doctor.memo == "(額滿)(自費診)初診")
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)(自費診)", "<span class=\"full\">(額滿)(自費診)</span>") + "</span>";
                                                    }
                                                    else if (doctor.memo == "(額滿)(自費診)")
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)(自費診)", "<span class=\"full\">(額滿)(自費診)</span>") + "</span>";
                                                    }
                                                    else if ((doctor.memo).IndexOf("額滿") != -1&&(doctor.memo).IndexOf("初診") != -1)
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace((doctor.memo).Substring(0,(doctor.memo).Length-2), "<span class=\"full\">"+(doctor.memo).Substring(0,(doctor.memo).Length-2)+"</span>") + "</span>";
                                                    }
                                                    else if ((doctor.memo).IndexOf("額滿") != -1)
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">"+doctor.memo+"</span>") + "</span>";
                                                    }

                                                    //-----------
                                                    else if ((doctor.memo).IndexOf("停診") != -1)
                                                    {
                                                        //Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">" + "(停診)" + "</span>"+"<span class=\"first\">(" + (doctor.memo).Substring(2, (doctor.memo).Length - 2) + ")</span>")+ "</span>";
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">(停診)</span>") + "</span>";
                                                    }
                                                    //else if (doctor.memo == "(額滿)(可視訊)初診")
                                                    //{
                                                    //    Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)", "<span class=\"full\">(額滿)</span>") + "</span>";
                                                    //}
                                                    //else if (doctor.memo == "停診(可視訊)")
                                                    //{
                                                    //    Memo = "<span class=\"first\">" + doctor.memo.Replace("停診", "<span class=\"full\">(停診)</span>") + "</span>";
                                                    //}
                                                    //else if (doctor.memo == "(額滿)(自費診)(可視訊)初診")
                                                    //{
                                                    //    Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)(自費診)", "<span class=\"full\">(額滿)(自費診)</span>") + "</span>";
                                                    //}
                                                    //else if (doctor.memo == "(額滿)(自費診)(可視訊)")
                                                    //{
                                                    //    Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)(自費診)", "<span class=\"full\">(額滿)(自費診)</span>") + "</span>";
                                                    //}
                                                    else if (doctor.isFull == "Y" &&(doctor.memo).IndexOf("初診") != -1 &&(doctor.memo).IndexOf("(可視訊)") != -1)
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace((doctor.memo).Substring(0,(doctor.memo).Length-2), "<span class=\"full\">"+(doctor.memo).Substring(0,(doctor.memo).Length-2)+"</span>") + "</span>";
                                                    }
                                                    else if (doctor.isFull == "Y" && (doctor.memo).IndexOf("(可視訊)") != -1)
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">(額滿)" + "</span>") + doctor.memo + "</span>";
                                                    }
                                                    else if (doctor.isFull == "Y" && (doctor.memo).IndexOf("自費") != -1)
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">(額滿)" + "</span>") + "(" + doctor.memo + ")" + "</span>";
                                                    }
                                                    else if (doctor.isFull == "Y" && (doctor.memo).IndexOf("候補") != -1 )
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">(額滿)" +  "</span>") +"("+doctor.memo +")"+ "</span>";
                                                    }
                                                    //-------------




                                                    else
                                                    {
                                                        Memo = "<span class=\"first\">(" + doctor.memo + ")</span>";
                                                    }
                                                    if (doctor.memo.Trim() == "初診")
                                                    {
                                                        url = Url.Content("~/Checkin_video/" + thisHospital.Loc + "/" + thisDept.deptID + "/" + doctor.opdDate + "/" + doctor.doctorID + "/" + doctor.opdTimeID);
                                                    }
                                                }



                                                <a class="@FullClass" href="@url">@Html.Raw(doctor.opdTimeID + doctor.doctorID + " " + doctor.doctorName + subDoctorName + Full + Memo)</a>
                                            }

                                        }
                                    </td>
                                    <td>
                                        @if (Night != null && Night.Count > 0)
                                        {
                                            foreach (OPDSchduleModel doctor in Night)
                                            {
                                                string Full = "";
                                                string FullClass = "";
                                                string url = "javascript:void(0)";
                                                string Memo = "";
                                                string subDoctorName = "";
                                                if (doctor.isFull == "Y")
                                                {
                                                    Memo = "<span class=\"full\">(額滿)</span>";

                                                }
                                                if (doctor.canReg == "Y")
                                                {
                                                    url = Url.Content("~/Checkin_video/" + thisHospital.Loc + "/" + thisDept.deptID + "/" + doctor.opdDate + "/" + doctor.doctorID + "/" + doctor.opdTimeID);

                                                }
                                                else
                                                {
                                                    FullClass = "state-full";
                                                }
                                                if (!string.IsNullOrEmpty(doctor.subDoctorName))
                                                {
                                                    subDoctorName = "(" + doctor.subDoctorName + ")<sapn style=\"color:#00FF00\">(代)</span>";
                                                }

                                                if (doctor.memo != "")
                                                {
                                                    if (doctor.memo == "(額滿)初診")
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)", "<span class=\"full\">(額滿)</span>") + "</span>";
                                                    }
                                                    else if (doctor.memo == "停診")
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace("停診", "<span class=\"full\">(停診)</span>") + "</span>";
                                                    }
                                                    else if (doctor.memo == "(額滿)(自費診)初診")
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)(自費診)", "<span class=\"full\">(額滿)(自費診)</span>") + "</span>";
                                                    }
                                                    else if (doctor.memo == "(額滿)(自費診)")
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)(自費診)", "<span class=\"full\">(額滿)(自費診)</span>") + "</span>";
                                                    }
                                                    else if ((doctor.memo).IndexOf("額滿") != -1&&(doctor.memo).IndexOf("初診") != -1)
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace((doctor.memo).Substring(0,(doctor.memo).Length-2), "<span class=\"full\">"+(doctor.memo).Substring(0,(doctor.memo).Length-2)+"</span>") + "</span>";
                                                    }
                                                    else if ((doctor.memo).IndexOf("額滿") != -1)
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">"+doctor.memo+"</span>") + "</span>";
                                                    }

                                                    //-----------
                                                    else if ((doctor.memo).IndexOf("停診") != -1)
                                                    {
                                                        //Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">" + "(停診)" + "</span>"+"<span class=\"first\">(" + (doctor.memo).Substring(2, (doctor.memo).Length - 2) + ")</span>")+ "</span>";
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">(停診)</span>") + "</span>";
                                                    }
                                                    //else if (doctor.memo == "(額滿)(可視訊)初診")
                                                    //{
                                                    //    Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)", "<span class=\"full\">(額滿)</span>") + "</span>";
                                                    //}
                                                    //else if (doctor.memo == "停診(可視訊)")
                                                    //{
                                                    //    Memo = "<span class=\"first\">" + doctor.memo.Replace("停診", "<span class=\"full\">(停診)</span>") + "</span>";
                                                    //}
                                                    //else if (doctor.memo == "(額滿)(自費診)(可視訊)初診")
                                                    //{
                                                    //    Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)(自費診)", "<span class=\"full\">(額滿)(自費診)</span>") + "</span>";
                                                    //}
                                                    //else if (doctor.memo == "(額滿)(自費診)(可視訊)")
                                                    //{
                                                    //    Memo = "<span class=\"first\">" + doctor.memo.Replace("(額滿)(自費診)", "<span class=\"full\">(額滿)(自費診)</span>") + "</span>";
                                                    //}
                                                    else if (doctor.isFull == "Y" &&(doctor.memo).IndexOf("初診") != -1 &&(doctor.memo).IndexOf("(可視訊)") != -1)
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace((doctor.memo).Substring(0,(doctor.memo).Length-2), "<span class=\"full\">"+(doctor.memo).Substring(0,(doctor.memo).Length-2)+"</span>") + "</span>";
                                                    }
                                                    else if (doctor.isFull == "Y" && (doctor.memo).IndexOf("(可視訊)") != -1)
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">(額滿)" + "</span>") + doctor.memo + "</span>";
                                                    }
                                                    else if (doctor.isFull == "Y" && (doctor.memo).IndexOf("自費") != -1)
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">(額滿)" + "</span>") + "(" + doctor.memo + ")" + "</span>";
                                                    }
                                                    else if (doctor.isFull == "Y" && (doctor.memo).IndexOf("候補") != -1 )
                                                    {
                                                        Memo = "<span class=\"first\">" + doctor.memo.Replace(doctor.memo, "<span class=\"full\">(額滿)" +  "</span>") +"("+doctor.memo +")"+ "</span>";
                                                    }
                                                    //-------------

                                                    else
                                                    {
                                                        Memo = "<span class=\"first\">(" + doctor.memo + ")</span>";
                                                    }


                                                    if (doctor.memo.Trim() == "初診")
                                                    {
                                                        url = Url.Content("~/Checkin_video/" + thisHospital.Loc + "/" + thisDept.deptID + "/" + doctor.opdDate + "/" + doctor.doctorID + "/" + doctor.opdTimeID);
                                                    }
                                                }




                                                <a class="@FullClass" href="@url">@Html.Raw(doctor.opdTimeID + doctor.doctorID + " " + doctor.doctorName + subDoctorName + Full + Memo)</a>
                                            }

                                        }
                                    </td>
                                </tr>
                                if (week == "日")
                                {
                                    <tr class="test"><th></th><td></td><td></td><td></td></tr>
                                }
                            }





                        }
                    }
                </tbody>
            </table>








        </div>
    </div>
</div>
@section scripts {
    @if (ViewBag.addMsg != "")
    {
        if (ViewBag.addMsgEnd == "Y")
        {
            <script>       
                    $(document).ready(function () {
                            swal({
                            title: "系統訊息",
                                    text: "@Html.Raw(ViewBag.addMsg.Replace("2.", "<br />2.").Replace("3.", "<br />3.").Replace("4.", "<br />4."))",
                                type: "info",
                                html: true,
                                    showCancelButton: false,
                                    confirmButtonColor: "#e7505a",
                                    confirmButtonText: "確定!",
                                    closeOnConfirm: false,
                                    cancelButtonText: "取消"
                                    }, function () {

                                window.location.href = '@Url.Content("~/Register_video/"+thisHospital.Loc)';

                            });
                    });
            </script>
        }
        else
        {
             <script>       
                    $(document).ready(function () {
                            swal({
                            title: "系統訊息",
                                text: "@Html.Raw(ViewBag.addMsg.Replace("2.", "<br />2.").Replace("3.", "<br />3.").Replace("4.", "<br />4."))",
                                type: "info",
                                html: true,
                                    showCancelButton: false,
                                    confirmButtonColor: "#e7505a",
                                    confirmButtonText: "確定!",
                                    closeOnConfirm: false,
                                    cancelButtonText: "取消"
                                    });
                    });
            </script>
        }
    }

}