﻿@using Web.Models;
@using Web.Services;
@{
    GetServiceData AppData = new GetServiceData();
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    DeptModel thisDept = (DeptModel)ViewBag.thisDept;

    List<SchedulePeriodModel> SchedulePeriods = (List<SchedulePeriodModel>)ViewBag.SchedulePeriods;

    IFormatProvider ifp = new System.Globalization.CultureInfo("zh-TW", true);

    ViewBag.Title = thisDept.deptName + "|" + thisHospital.hospitaName + "|網路掛號";
}
@*//不呈現Layout*@
@{
    Layout = null;
}


@*//測試用頁面之一*@

<div class="department">
    @*<div id="dashboard">
            <div class="dashboard__main">
                <div class="dashboard__row">
                    <div class="icon-1"></div><span class="f20 wide20">@thisHospital.hospitaName</span>
                    <div class="dashboard__btn f18"><a href="~/Register/@thisHospital.Loc" class="active">網路掛號</a><a href="~/Register_video/@thisHospital.Loc" >視訊專區掛號</a>
                    <a href="~/Query/@thisHospital.Loc">掛號查詢</a><a href="~/Progress/@thisHospital.Loc">看診進度</a><a href="~/Info/@thisHospital.Loc">掛號說明</a></div>
                    <select class="tri" id="changeHospital">
                        <option disabled selected hidden>各院區掛號服務</option>
                        @if (ViewBag.Hospitals != null)
                        {
                            foreach (HospitalModel item in Hospitals)
                            {
                                <option value="@item.Loc" @if (thisHospital.Loc == item.Loc) { @Html.Raw("selected") }>@item.hospitaName</option>
                            }
                        }
                    </select>
                </div>
            </div>
        </div>*@
    <div class="section">
        <div class="container">
            <div class="pt40 pr24 pl24 md-noPadding">
                @*<div class="title-division row mb24">
                    <div class="f24 b pl20 orange wide10">@thisHospital.hospitaName</div>
                    <div class="curve f18 wide10">@thisDept.deptName</div>
                </div>*@
                <div class="box-wrapper mb40 pt20 pb20">
                    @*<div class="f20 pb8 pt12 wide10 b">注意事項</div>*@
                    <ul class="list nostyle lh20">
                        @if (ViewBag.DeptInfo != null)
                        {
                            foreach (DeptInfoModel item in ViewBag.DeptInfo)
                            {
                                @Html.Raw("<li>" + item.NM.Replace("<a", "<a target=\"_blank\" style=\"text-decoration:underline;\"") + "</li>")
                            }
                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
@section scripts {
    @if (ViewBag.addMsg != "")
    {
        if (ViewBag.addMsgEnd == "Y")
        {
            <script>

                    $(document).ready(function () {
                            swal({
                            title: "系統訊息",
                                    text: "@Html.Raw(ViewBag.addMsg.Replace("2.", "<br />2.").Replace("3.", "<br />3.").Replace("4.", "<br />4."))",
                                type: "info",
                                html: true,
                                    showCancelButton: false,
                                    confirmButtonColor: "#e7505a",
                                    confirmButtonText: "確定!",
                                    closeOnConfirm: false,
                                    cancelButtonText: "取消"
                                    }, function () {

                                window.location.href = '@Url.Content("~/Register/"+thisHospital.Loc)';

                            });
                    });
            </script>
        }
        else
        {
            <script>

                    $(document).ready(function () {
                            swal({
                            title: "系統訊息",
                                text: "@Html.Raw(ViewBag.addMsg.Replace("2.", "<br />2.").Replace("3.", "<br />3.").Replace("4.", "<br />4."))",
                                type: "info",
                                html: true,
                                    showCancelButton: false,
                                    confirmButtonColor: "#e7505a",
                                    confirmButtonText: "確定!",
                                    closeOnConfirm: false,
                                    cancelButtonText: "取消"
                                    });
                    });
            </script>
        }
    }

}