﻿@using Web.Models;
@using Web.Services;
@{
    GetServiceData AppData = new GetServiceData();
    ViewBag.Title = "選擇看診醫院";
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
}

<div class="index">
    <div class="index__landing pt88" style="background-image: url('./styles/images/0-bgc.jpg')">
        <div class="container pt80 pb80">
            <h2 class="title f28 pb40">@ViewBag.resLang["registerprocess"]</h2>
            <h2 class="title f28 pb40"><a class="link under" href="https://gca.nat.gov.tw/web2/index.html" title="政府憑證總管理中心" target="_blank">(@ViewBag.resLang["operationmanual"])</a></h2>
            <div class="flow-mobile">
                <div class="flow_line"><img src="~/Styles/images/0-s1.png" alt="長庚醫療財團法人"><span>1.@ViewBag.resLang["selecthospital"]</span></div>
                <div class="flow_line">
                    <img src="~/Styles/images/0-s2.png" alt="長庚醫療財團法人"><span>
                        2.@ViewBag.resLang["selectdepartment"]
                        <div class="icon-down"></div>
                    </span>
                </div>
                <div class="flow_line">
                    <img src="~/Styles/images/0-s3.png" alt="長庚醫療財團法人"><span>
                        3.@ViewBag.resLang["selectdoctor"]
                        <div class="icon-down"></div>
                    </span>
                </div>
                <div class="flow_line">
                    <img src="~/Styles/images/0-s4.png" alt="長庚醫療財團法人"><span>
                        4.@ViewBag.resLang["fill"]
                        <div class="icon-down"></div>
                    </span>
                </div>
                <div class="flow_line">
                    <img src="~/Styles/images/0-s5.png" alt="長庚醫療財團法人"><span>
                        5.@ViewBag.resLang["finish"]
                        <div class="icon-down"></div>
                    </span>
                </div>
            </div>
            <div class="flow">
                <svg width="100%" height="100%" viewbox="0 0 993 187" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xml:space="preserve" xmlns:serif="http://www.serif.com/" style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;">
                <g>
                <g class="circle1">
                <text x="13.571px" y="185.645px" style="font-family:'STHeitiSC-Medium', 'Heiti SC';font-size:20px;fill:rgb(51,51,51);">@ViewBag.resLang["selecthospital"]</text>
                <path class="c1_bgc" d="M150.413,75.459C150.413,116.88 116.834,150.459 75.413,150.459C33.992,150.459 0.413,116.88 0.413,75.459C0.413,34.037 33.992,0.459 75.413,0.459C116.834,0.459 150.413,34.037 150.413,75.459" style="fill:rgb(105,173,215);fill-rule:nonzero;"></path>
                <path class="c1_logo" d="M75.423,94.936L75.423,98.282C68.007,98.282 61.344,94.726 57.166,89.169C53.66,84.381 47.882,81.228 41.431,81.228L41.16,81.228L41.16,77.786L41.507,77.786C48.999,77.786 55.644,81.421 59.842,87.053C63.406,91.784 69.107,94.936 75.423,94.936M75.423,59.501L68.548,59.501L68.548,68.614L59.419,68.614L59.419,82.324L68.548,82.324L68.548,91.494L75.423,91.494L75.423,86.919L73.152,86.919L73.152,80.054L73.152,77.786L70.897,77.786L64.021,77.786L64.021,73.21L73.152,73.21L73.152,70.941L73.152,64.097L75.423,64.097L75.423,59.501ZM75.423,56.078C69.107,56.078 63.406,59.155 59.842,63.942C55.644,69.575 48.999,73.21 41.507,73.21L41.16,73.21L41.16,69.768L41.431,69.768C47.882,69.768 53.66,66.614 57.166,61.75C61.344,56.271 68.007,52.637 75.423,52.637L75.423,56.078ZM75.423,91.494L82.223,91.494L82.223,82.324L91.41,82.324L91.41,68.614L82.223,68.614L82.223,59.501L75.423,59.501L75.423,64.097L77.677,64.097L77.677,73.21L86.806,73.21L86.806,77.786L77.677,77.786L77.677,86.919L75.423,86.919L75.423,91.494ZM75.423,98.282L75.423,94.936C81.741,94.936 87.441,91.784 91.004,87.053C95.184,81.421 101.847,77.786 109.397,77.786L109.667,77.786L109.667,81.228L109.397,81.228C102.946,81.228 97.244,84.381 93.681,89.169C89.483,94.726 82.839,98.282 75.423,98.282M75.423,52.637C82.839,52.637 89.483,56.271 93.681,61.827C97.244,66.614 102.946,69.768 109.397,69.768L109.667,69.768L109.667,73.21L109.397,73.21C101.847,73.21 95.184,69.575 91.004,63.942C87.441,59.155 81.741,56.078 75.423,56.078L75.423,52.637Z" style="fill:white;"></path>
                <g class="c1_sun">
                <g transform="matrix(1,0,0,1,0,7.08534)">
                <g transform="matrix(0.253048,0,0,0.253048,0.308491,0.342851)">
                <path d="M301,105L301,135" style="fill:none;stroke:white;stroke-width:10px;"></path>
                        </g>
                <g transform="matrix(0.253048,0,0,0.253048,0.308491,0.342851)">
                <path d="M451,177L427,197" style="fill:none;stroke:white;stroke-width:10px;"></path>
                        </g>
                <g transform="matrix(0.253048,0,0,0.253048,0.308491,0.342851)">
                <path d="M387,123L372.278,151.136" style="fill:none;stroke:white;stroke-width:10px;"></path>
                        </g>
                <g transform="matrix(0.253048,0,0,0.253048,0.308491,0.342851)">
                <path d="M216,124L231,151" style="fill:none;stroke:white;stroke-width:10px;"></path>
                        </g>
                <g transform="matrix(0.253048,0,0,0.253048,0.308491,0.595899)">
                <path d="M146,177L174,198" style="fill:none;stroke:white;stroke-width:10px;"></path>
                        </g>
                      </g>
                <g transform="matrix(1,0,0,1,-1.26524,-0.253048)">
                <g transform="matrix(-0.253048,-3.09894e-17,3.09894e-17,-0.253048,152.137,144.074)">
                <path d="M301,105L301,133" style="fill:none;stroke:white;stroke-width:10px;"></path>
                        </g>
                <g transform="matrix(-0.253048,-3.09894e-17,3.09894e-17,-0.253048,152.137,144.074)">
                <path d="M451,177L427,197" style="fill:none;stroke:white;stroke-width:10px;"></path>
                        </g>
                <g transform="matrix(-0.253048,-3.09894e-17,3.09894e-17,-0.253048,152.137,144.074)">
                <path d="M387,123L372.278,151.136" style="fill:none;stroke:white;stroke-width:10px;"></path>
                        </g>
                <g transform="matrix(-0.253048,-3.09894e-17,3.09894e-17,-0.253048,152.137,144.074)">
                <path d="M216,124L231,151" style="fill:none;stroke:white;stroke-width:10px;"></path>
                        </g>
                <g transform="matrix(-0.253048,-3.09894e-17,3.09894e-17,-0.253048,152.137,144.074)">
                <path d="M146,177L174,198" style="fill:none;stroke:white;stroke-width:10px;"></path>
                        </g>
                      </g>
                    </g>
                  </g>
                <g class="circle2">
                <text x="223.151px" y="185.645px" style="font-family:'STHeitiSC-Medium', 'Heiti SC';font-size:20px;fill:rgb(51,51,51);">@ViewBag.resLang["selectdepartment"]</text>
                <path class="c2_bgc" d="M360.981,75.459C360.981,116.88 327.402,150.459 285.981,150.459C244.56,150.459 210.981,116.88 210.981,75.459C210.981,34.037 244.56,0.459 285.981,0.459C327.402,0.459 360.981,34.037 360.981,75.459" style="fill:rgb(65,188,196);fill-rule:nonzero;"></path>
                <g class="c2_dock">
                <path class="c2_heart" d="M281.013,71.399C279.612,71.399 278.246,72.12 277.448,73.278C276.673,74.414 276.542,75.806 277.081,77.203C279.344,83.053 284.197,86.371 285.767,87.322C287.165,86.645 291.163,84.373 294.045,79.334C294.287,78.91 294.52,78.47 294.744,78.008C295.735,75.968 294.986,74.044 293.952,72.925C292.049,70.844 288.891,70.955 286.699,73.521C286.453,73.808 286.031,73.971 285.719,73.955C285.343,73.945 284.992,73.763 284.765,73.464C283.47,71.756 282.008,71.399 281.013,71.399M285.694,89.954C285.496,89.954 285.301,89.91 285.122,89.817C284.826,89.664 277.803,85.962 274.765,78.097C273.932,75.946 274.164,73.677 275.399,71.874C277.662,68.591 282.745,68.007 285.792,70.895C287.586,69.296 289.382,68.926 290.656,68.926C292.561,68.926 294.431,69.768 295.784,71.24C297.806,73.441 298.266,76.45 296.98,79.092C296.734,79.606 296.469,80.097 296.202,80.566C292.203,87.561 286.374,89.788 286.124,89.878C285.987,89.928 285.84,89.954 285.694,89.954" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M307.657,105.641L264.213,105.641C263.169,105.641 262.189,105.235 261.455,104.498C260.718,103.765 260.313,102.785 260.313,101.741L260.313,57.116C260.313,56.079 260.718,55.103 261.452,54.368C262.186,53.631 263.163,53.226 264.2,53.226L267.499,53.226C268.313,53.226 268.977,53.891 268.977,54.704C268.977,55.518 268.313,56.181 267.499,56.181L264.2,56.181C263.95,56.181 263.718,56.277 263.539,56.456C263.364,56.631 263.268,56.867 263.268,57.116L263.268,101.741C263.268,101.996 263.364,102.233 263.542,102.412C263.721,102.59 263.957,102.686 264.213,102.686L307.657,102.686C307.935,102.686 308.199,102.577 308.4,102.38C308.643,102.133 308.694,101.848 308.694,101.649L308.694,57.122C308.694,56.87 308.599,56.638 308.423,56.462C308.238,56.277 308.005,56.181 307.753,56.181L304.16,56.181C303.343,56.181 302.682,55.518 302.682,54.704C302.682,53.891 303.343,53.226 304.16,53.226L307.753,53.226C308.796,53.226 309.776,53.634 310.51,54.375C311.24,55.099 311.649,56.079 311.649,57.122L311.649,101.649C311.649,102.715 311.234,103.716 310.484,104.469C309.719,105.229 308.716,105.641 307.657,105.641" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M273.492,60.163L298.47,60.163L297.615,53.794L291.313,53.794C290.662,53.794 290.133,53.265 290.133,52.613C290.133,52.56 290.136,52.506 290.145,52.445L290.145,51.804C290.145,49.506 288.278,47.638 285.981,47.638C283.687,47.638 281.82,49.506 281.82,51.804L281.82,52.448C281.829,52.506 281.833,52.56 281.833,52.613C281.833,53.265 281.303,53.794 280.652,53.794L274.35,53.794L273.492,60.163ZM299.82,62.525L272.142,62.525C271.8,62.525 271.478,62.378 271.252,62.122C271.028,61.864 270.925,61.523 270.971,61.188L272.145,52.457C272.225,51.871 272.726,51.433 273.316,51.433L279.468,51.433C279.663,48.006 282.509,45.278 285.981,45.278C289.456,45.278 292.302,48.006 292.496,51.433L298.649,51.433C299.239,51.433 299.74,51.871 299.82,52.457L300.991,61.188C301.036,61.526 300.933,61.864 300.71,62.122C300.484,62.378 300.162,62.525 299.82,62.525" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M287.726,51.624C287.726,52.643 286.9,53.469 285.882,53.469C284.864,53.469 284.038,52.643 284.038,51.624C284.038,50.606 284.864,49.777 285.882,49.777C286.9,49.777 287.726,50.606 287.726,51.624" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M300.127,96.876L271.832,96.876C271.182,96.876 270.651,96.346 270.651,95.695C270.651,95.043 271.182,94.514 271.832,94.514L300.127,94.514C300.777,94.514 301.307,95.043 301.307,95.695C301.307,96.346 300.777,96.876 300.127,96.876" style="fill:white;fill-rule:nonzero;"></path>
                    </g>
                  </g>
                <g class="circle3">
                <text x="432.253px" y="185.645px" style="font-family:'STHeitiSC-Medium', 'Heiti SC';font-size:20px;fill:rgb(51,51,51);"> @ViewBag.resLang["selectdoctor"]</text>
                <path class="c3_bgc" d="M571.548,75.459C571.548,116.88 537.969,150.459 496.548,150.459C455.127,150.459 421.548,116.88 421.548,75.459C421.548,34.037 455.127,0.459 496.548,0.459C537.969,0.459 571.548,34.037 571.548,75.459" style="fill:rgb(147,183,75);fill-rule:nonzero;"></path>
                <g class="c3_people">
                <path d="M477.879,98.897L515.217,98.897C514.706,86.107 507.491,77.925 496.549,77.925C485.604,77.925 478.392,86.107 477.879,98.897M516.723,101.859L476.373,101.859C475.559,101.859 474.896,101.194 474.896,100.377C474.896,84.946 483.396,74.978 496.549,74.978C509.699,74.978 518.2,84.946 518.2,100.377C518.2,101.194 517.536,101.859 516.723,101.859" style="fill:white;fill-rule:nonzero;"></path>
                <g class="c3_head">
                <path d="M496.547,52.015C490.225,52.015 485.082,57.159 485.082,63.484C485.082,69.834 490.225,74.978 496.547,74.978C499.862,74.978 503.027,73.491 505.232,70.905C505.328,70.797 505.436,70.701 505.558,70.625C507.358,68.786 508.005,66.898 508.012,63.541C508.005,60.082 507.35,58.187 505.535,56.342C505.42,56.266 505.318,56.183 505.232,56.081C503.027,53.497 499.862,52.015 496.547,52.015M496.547,77.926C488.595,77.926 482.126,71.454 482.126,63.502C482.126,55.532 488.595,49.06 496.547,49.06C500.631,49.06 504.53,50.841 507.287,53.943C507.341,53.987 507.392,54.025 507.44,54.071C510.353,56.923 510.956,59.878 510.966,63.445C510.956,67.109 510.353,70.063 507.44,72.922C507.389,72.968 507.334,73.012 507.278,73.05C504.52,76.151 500.628,77.926 496.547,77.926" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M496.179,56.138C493.872,56.138 491.996,58.014 491.996,60.325C491.996,62.628 493.872,64.504 496.179,64.504C498.486,64.504 500.362,62.628 500.362,60.325C500.362,58.014 498.486,56.138 496.179,56.138M496.179,66.38C492.838,66.38 490.12,63.662 490.12,60.325C490.12,56.981 492.838,54.261 496.179,54.261C499.52,54.261 502.239,56.981 502.239,60.325C502.239,63.662 499.52,66.38 496.179,66.38" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M491.058,59.291L484.667,59.291C484.149,59.291 483.728,58.863 483.728,58.346C483.728,57.829 484.149,57.415 484.667,57.415L491.058,57.415C491.575,57.415 491.996,57.829 491.996,58.346C491.996,58.863 491.575,59.291 491.058,59.291" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M491.058,63.043L483.677,63.043C483.177,63.043 482.768,62.635 482.768,62.137C482.768,61.64 483.177,61.232 483.677,61.232L491.058,61.232C491.559,61.232 491.967,61.64 491.967,62.137C491.967,62.635 491.559,63.043 491.058,63.043" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M508.219,59.291L501.828,59.291C501.31,59.291 500.889,58.863 500.889,58.346C500.889,57.829 501.31,57.415 501.828,57.415L508.219,57.415C508.736,57.415 509.157,57.829 509.157,58.346C509.157,58.863 508.736,59.291 508.219,59.291" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M508.902,63.299L501.062,63.299C500.545,63.299 500.123,62.878 500.123,62.367C500.123,61.843 500.545,61.423 501.062,61.423L508.902,61.423C509.418,61.423 509.84,61.843 509.84,62.367C509.84,62.878 509.418,63.299 508.902,63.299" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M497.657,60.325C497.657,61.142 496.996,61.799 496.179,61.799C495.362,61.799 494.702,61.142 494.702,60.325C494.702,59.508 495.362,58.844 496.179,58.844C496.996,58.844 497.657,59.508 497.657,60.325" style="fill:white;fill-rule:nonzero;"></path>
                      </g>
                    </g>
                <g class="c3_tool">
                <path d="M509.575,93.141C509.575,94.219 508.701,95.093 507.619,95.093C506.537,95.093 505.666,94.219 505.666,93.141C505.666,92.056 506.537,91.181 507.619,91.181C508.701,91.181 509.575,92.056 509.575,93.141" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M496.179,87.371C496.036,87.371 495.893,87.345 495.752,87.288L476.625,79.623C476.191,79.45 475.904,79.03 475.904,78.558L475.904,66.898C475.904,66.26 476.418,65.749 477.054,65.749L479.902,65.749C480.538,65.749 481.051,66.26 481.051,66.898C481.051,67.529 480.538,68.04 479.902,68.04L478.201,68.04L478.201,77.786L496.606,85.15C497.194,85.386 497.481,86.057 497.245,86.644C497.067,87.097 496.635,87.371 496.179,87.371" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M496.888,87.371C496.435,87.371 496.007,87.097 495.825,86.657C495.586,86.063 495.866,85.392 496.453,85.157L514.47,77.786L514.47,68.04L512.578,68.04C511.942,68.04 511.429,67.529 511.429,66.898C511.429,66.26 511.942,65.749 512.578,65.749L515.618,65.749C516.254,65.749 516.767,66.26 516.767,66.898L516.767,78.558C516.767,79.023 516.483,79.45 516.053,79.623L497.322,87.282C497.181,87.34 497.031,87.371 496.888,87.371" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M502.609,94.749L496.887,94.749C496.252,94.749 495.739,94.231 495.739,93.6L495.739,86.222C495.739,85.584 496.252,85.074 496.887,85.074C497.523,85.074 498.036,85.584 498.036,86.222L498.036,92.451L502.609,92.451C503.244,92.451 503.758,92.962 503.758,93.6C503.758,94.231 503.244,94.749 502.609,94.749" style="fill:white;fill-rule:nonzero;"></path>
                    </g>
                  </g>
                <g class="circle4">
                <text x="646.697px" y="185.645px" style="font-family:'STHeitiSC-Medium', 'Heiti SC';font-size:20px;fill:rgb(51,51,51);">    @ViewBag.resLang["fill"]</text>
                <path class="c4_bgc" d="M782.114,75.459C782.114,116.88 748.536,150.459 707.114,150.459C665.693,150.459 632.114,116.88 632.114,75.459C632.114,34.037 665.693,0.459 707.114,0.459C748.536,0.459 782.114,34.037 782.114,75.459" style="fill:rgb(223,181,115);fill-rule:nonzero;"></path>
                <g class="c4_icon">
                <path class="c4_border" d="M723.757,103.613L690.475,103.613C687.093,103.613 684.344,100.731 684.344,97.192L684.344,56.777C684.344,53.238 687.093,50.357 690.475,50.357L699.318,50.357C700.162,50.357 700.848,51.043 700.848,51.886C700.848,52.732 700.162,53.416 699.318,53.416L690.475,53.416C688.782,53.416 687.404,54.924 687.404,56.777L687.404,97.192C687.404,99.045 688.782,100.553 690.475,100.553L723.757,100.553C725.45,100.553 726.823,99.045 726.823,97.192L726.823,56.777C726.823,54.924 725.45,53.416 723.757,53.416L715.369,53.416C714.524,53.416 713.839,52.732 713.839,51.886C713.839,51.043 714.524,50.357 715.369,50.357L723.757,50.357C727.134,50.357 729.884,53.238 729.884,56.777L729.884,97.192C729.884,100.731 727.134,103.613 723.757,103.613" style="fill:white;fill-rule:nonzero;"></path>
                <g class="c4_top">
                <path d="M697.024,57.325C696.343,57.325 695.789,56.774 695.789,56.09L695.789,48.542C695.789,47.858 696.343,47.306 697.024,47.306C697.706,47.306 698.26,47.858 698.26,48.542L698.26,56.09C698.26,56.774 697.706,57.325 697.024,57.325" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M706.546,57.325C705.864,57.325 705.31,56.774 705.31,56.09L705.31,48.542C705.31,47.858 705.864,47.306 706.546,47.306C707.226,47.306 707.781,47.858 707.781,48.542L707.781,56.09C707.781,56.774 707.226,57.325 706.546,57.325" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M716.612,57.325C715.93,57.325 715.376,56.774 715.376,56.09L715.376,48.542C715.376,47.858 715.93,47.306 716.612,47.306C717.293,47.306 717.847,47.858 717.847,48.542L717.847,56.09C717.847,56.774 717.293,57.325 716.612,57.325" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M715.912,53.426L697.566,53.426C696.717,53.426 696.026,52.736 696.026,51.886C696.026,51.036 696.717,50.347 697.566,50.347L715.912,50.347C716.761,50.347 717.451,51.036 717.451,51.886C717.451,52.736 716.761,53.426 715.912,53.426" style="fill:white;fill-rule:nonzero;"></path>
                      </g>
                <g class="c4_plus">
                <path d="M705.944,74.94L693.862,74.94C693.019,74.94 692.332,74.252 692.332,73.41C692.332,72.568 693.019,71.88 693.862,71.88L705.944,71.88C706.787,71.88 707.475,72.568 707.475,73.41C707.475,74.252 706.787,74.94 705.944,74.94" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M699.903,80.979C699.061,80.979 698.373,80.29 698.373,79.448L698.373,67.37C698.373,66.527 699.061,65.839 699.903,65.839C700.745,65.839 701.433,66.527 701.433,67.37L701.433,79.448C701.433,80.29 700.745,80.979 699.903,80.979" style="fill:white;fill-rule:nonzero;"></path>
                      </g>
                <g class="c4_line">
                <path d="M721.066,68.324L712.15,68.324C711.622,68.324 711.195,67.899 711.195,67.369C711.195,66.84 711.622,66.414 712.15,66.414L721.066,66.414C721.596,66.414 722.022,66.84 722.022,67.369C722.022,67.899 721.596,68.324 721.066,68.324" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M721.066,74.366L712.15,74.366C711.622,74.366 711.195,73.939 711.195,73.41C711.195,72.882 711.622,72.456 712.15,72.456L721.066,72.456C721.596,72.456 722.022,72.882 722.022,73.41C722.022,73.939 721.596,74.366 721.066,74.366" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M721.066,80.403L712.15,80.403C711.622,80.403 711.195,79.977 711.195,79.448C711.195,78.92 711.622,78.493 712.15,78.493L721.066,78.493C721.596,78.493 722.022,78.92 722.022,79.448C722.022,79.977 721.596,80.403 721.066,80.403" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M720.816,88.031L694.477,88.031C693.934,88.031 693.495,87.591 693.495,87.048C693.495,86.507 693.934,86.067 694.477,86.067L720.816,86.067C721.357,86.067 721.797,86.507 721.797,87.048C721.797,87.591 721.357,88.031 720.816,88.031" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M720.816,94.403L694.477,94.403C693.934,94.403 693.495,93.963 693.495,93.421C693.495,92.879 693.934,92.439 694.477,92.439L720.816,92.439C721.357,92.439 721.797,92.879 721.797,93.421C721.797,93.963 721.357,94.403 720.816,94.403" style="fill:white;fill-rule:nonzero;"></path>
                      </g>
                    </g>
                <g class="c4_pen" style="opacity: 0" transform="matrix(0.169647,0,0,0.169647,714.771,47.9159)">
                <path d="M191.344,20.922L96.189,116.077C95.433,116.833 94.892,117.776 94.624,118.811L86.457,150.265C85.923,152.324 86.518,154.511 88.022,156.016C89.162,157.155 90.693,157.773 92.264,157.773C92.767,157.773 93.273,157.71 93.772,157.581L125.226,149.413C126.261,149.144 127.205,148.603 127.96,147.848L223.113,52.695C223.115,52.693 223.117,52.692 223.118,52.691C223.119,52.69 223.121,52.687 223.122,52.686L242.278,33.53C244.622,31.187 244.622,27.388 242.279,25.046L218.994,1.758C217.868,0.632 216.343,0 214.751,0C213.16,0 211.634,0.632 210.509,1.758L191.354,20.913C191.352,20.915 191.35,20.916 191.349,20.917C191.348,20.918 191.346,20.921 191.344,20.922ZM120.631,138.208L100.638,143.4L105.829,123.407L195.591,33.645L210.392,48.447L120.631,138.208ZM214.751,14.485L229.552,29.287L218.877,39.962L204.076,25.16L214.751,14.485Z" style="fill:white;fill-rule:nonzero;"></path>
                    </g>
                  </g>
                <g class="circle5">
                <text x="851.238px" y="185.645px" style="font-family:'STHeitiSC-Medium', 'Heiti SC';font-size:20px;fill:rgb(51,51,51);">
                <tspan x="858.238px" y="185.645px">@ViewBag.resLang["finish"]</tspan>
                    </text>
                <path class="c5_bgc" d="M992.682,75.459C992.682,116.88 959.103,150.459 917.682,150.459C876.261,150.459 842.682,116.88 842.682,75.459C842.682,34.037 876.261,0.459 917.682,0.459C959.103,0.459 992.682,34.037 992.682,75.459" style="fill:rgb(245,135,41);fill-rule:nonzero;"></path>
                <g>
                <g class="c5_check">
                <g class="check1 hide" transform="matrix(0.404203,0.388663,-0.558381,0.580708,602.012,-324.478)">
                <path d="M940.994,87.232L929.328,87.232C928.514,87.232 927.85,86.569 927.85,85.755C927.85,84.941 928.514,84.278 929.328,84.278L940.994,84.278C941.807,84.278 942.47,84.941 942.47,85.755C942.47,86.569 941.807,87.232 940.994,87.232" style="fill:white;fill-rule:nonzero;"></path>
                        </g>
                <g class="check2 hide" transform="matrix(0.62167,0.624042,-0.587353,0.585121,406.691,-546.486)">
                <path d="M935.16,93.066C934.346,93.066 933.683,92.402 933.683,91.588L933.683,79.926C933.683,79.111 934.346,78.449 935.16,78.449C935.974,78.449 936.638,79.111 936.638,79.926L936.638,91.588C936.638,92.402 935.974,93.066 935.16,93.066" style="fill:white;fill-rule:nonzero;"></path>
                        </g>
                      </g>
                <g class="c5_plus">
                <path class="plus1" d="M940.994,87.232L929.328,87.232C928.514,87.232 927.85,86.569 927.85,85.755C927.85,84.941 928.514,84.278 929.328,84.278L940.994,84.278C941.807,84.278 942.47,84.941 942.47,85.755C942.47,86.569 941.807,87.232 940.994,87.232" style="fill:white;fill-rule:nonzero;"></path>
                <path class="plus2" d="M935.16,93.066C934.346,93.066 933.683,92.402 933.683,91.588L933.683,79.926C933.683,79.111 934.346,78.449 935.16,78.449C935.974,78.449 936.638,79.111 936.638,79.926L936.638,91.588C936.638,92.402 935.974,93.066 935.16,93.066" style="fill:white;fill-rule:nonzero;"></path>
                      </g>
                <path d="M935.16,75.532C929.522,75.532 924.933,80.117 924.933,85.755C924.933,91.393 929.522,95.982 935.16,95.982C940.799,95.982 945.387,91.393 945.387,85.755C945.387,80.117 940.799,75.532 935.16,75.532M935.16,98.266C928.262,98.266 922.648,92.654 922.648,85.755C922.648,78.857 928.262,73.247 935.16,73.247C942.059,73.247 947.671,78.857 947.671,85.755C947.671,92.654 942.059,98.266 935.16,98.266" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M922.786,99.156L894.182,99.156C890.603,99.156 887.692,96.246 887.692,92.658L887.692,62.914C887.692,59.333 890.603,56.416 894.182,56.416L926.462,56.416C930.041,56.416 932.959,59.333 932.959,62.914L932.959,68.095C932.959,68.912 932.301,69.569 931.484,69.569C930.668,69.569 930.003,68.912 930.003,68.095L930.003,62.914C930.003,60.961 928.415,59.371 926.462,59.371L894.182,59.371C892.229,59.371 890.641,60.961 890.641,62.914L890.641,92.658C890.641,94.617 892.229,96.2 894.182,96.2L922.786,96.2C923.596,96.2 924.267,96.857 924.267,97.674C924.267,98.492 923.596,99.156 922.786,99.156" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M901.183,64.182C900.207,64.182 899.416,63.391 899.416,62.415L899.416,53.532C899.416,52.555 900.207,51.763 901.183,51.763C902.159,51.763 902.95,52.555 902.95,53.532L902.95,62.415C902.95,63.391 902.159,64.182 901.183,64.182" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M920.77,64.182C919.793,64.182 919.002,63.391 919.002,62.415L919.002,53.532C919.002,52.555 919.793,51.763 920.77,51.763C921.745,51.763 922.537,52.555 922.537,53.532L922.537,62.415C922.537,63.391 921.745,64.182 920.77,64.182" style="fill:white;fill-rule:nonzero;"></path>
                <path d="M931.484,69.601L889.166,69.601C888.541,69.601 888.043,69.103 888.043,68.477C888.043,67.852 888.541,67.355 889.166,67.355L931.484,67.355C932.104,67.355 932.601,67.852 932.601,68.477C932.601,69.103 932.104,69.601 931.484,69.601" style="fill:white;fill-rule:nonzero;"></path>
                <g class="c5_rec">
                <rect x="895.702" y="75.089" width="3.721" height="3.708" style="fill:white;"></rect>
                <rect x="903.883" y="75.173" width="3.721" height="3.708" style="fill:white;"></rect>
                <rect x="911.905" y="75.089" width="3.721" height="3.708" style="fill:white;"></rect>
                <rect x="895.491" y="83.902" width="3.726" height="3.708" style="fill:white;"></rect>
                <rect x="903.679" y="83.985" width="3.714" height="3.708" style="fill:white;"></rect>
                <rect x="911.695" y="83.902" width="3.721" height="3.708" style="fill:white;"></rect>
                      </g>
                <g class="star">
                <g class="hide" transform="matrix(0.504646,0,0,0.504646,-20.9905,-22.4817)">
                <path d="M1891.01,127.163L1891.01,127.323L1891.02,127.481L1891.03,127.637L1891.05,127.791L1891.06,127.943L1891.08,128.093L1891.1,128.24L1891.12,128.386L1891.15,128.529L1891.18,128.671L1891.21,128.81L1891.24,128.948L1891.27,129.083L1891.31,129.217L1891.34,129.348L1891.38,129.478L1891.42,129.605L1891.46,129.731L1891.51,129.855L1891.55,129.976L1891.6,130.096L1891.65,130.214L1891.7,130.331L1891.75,130.445L1891.8,130.557L1891.86,130.668L1891.91,130.777L1891.97,130.884L1892.03,130.99L1892.09,131.093L1892.15,131.195L1892.22,131.295L1892.28,131.394L1892.35,131.49L1892.41,131.585L1892.48,131.679L1892.55,131.77L1892.62,131.86L1892.69,131.949L1892.76,132.036L1892.83,132.121L1892.9,132.204L1892.98,132.286L1893.05,132.367L1893.12,132.446L1893.2,132.523L1893.28,132.599L1893.35,132.673L1893.43,132.746L1893.51,132.818L1893.59,132.888L1893.67,132.956L1893.75,133.023L1893.83,133.089L1893.91,133.153L1893.99,133.216L1894.07,133.277L1894.15,133.337L1894.23,133.396L1894.31,133.454L1894.39,133.51L1894.47,133.564L1894.55,133.618L1894.63,133.67L1894.72,133.721L1894.8,133.771L1894.88,133.819L1894.96,133.866L1895.04,133.912L1895.12,133.957L1895.2,134.001L1895.28,134.043L1895.36,134.085L1895.44,134.125L1895.52,134.164L1895.59,134.202L1895.67,134.239L1895.82,134.309L1895.97,134.376L1896.12,134.438L1896.26,134.496L1896.4,134.551L1896.54,134.601L1896.67,134.648L1896.8,134.692L1896.93,134.732L1897.05,134.768L1897.16,134.802L1897.27,134.832L1897.37,134.86L1897.46,134.885L1897.55,134.907L1897.63,134.926L1897.7,134.943L1897.83,134.969L1897.92,134.987L1897.98,134.997L1898,135L1897.86,135.006L1897.72,135.015L1897.58,135.026L1897.44,135.04L1897.3,135.057L1897.17,135.076L1897.04,135.098L1896.91,135.122L1896.78,135.148L1896.65,135.177L1896.53,135.209L1896.4,135.243L1896.28,135.278L1896.16,135.317L1896.05,135.357L1895.93,135.399L1895.82,135.444L1895.7,135.491L1895.59,135.539L1895.48,135.59L1895.38,135.642L1895.27,135.696L1895.17,135.752L1895.07,135.81L1894.97,135.87L1894.87,135.931L1894.77,135.994L1894.67,136.059L1894.58,136.125L1894.49,136.192L1894.4,136.261L1894.31,136.332L1894.22,136.404L1894.13,136.477L1894.05,136.551L1893.96,136.627L1893.88,136.704L1893.8,136.782L1893.72,136.861L1893.64,136.941L1893.57,137.023L1893.5,137.105L1893.42,137.188L1893.35,137.272L1893.28,137.357L1893.21,137.443L1893.14,137.529L1893.08,137.616L1893.01,137.704L1892.95,137.793L1892.89,137.882L1892.83,137.971L1892.77,138.062L1892.71,138.152L1892.65,138.243L1892.59,138.334L1892.54,138.426L1892.49,138.518L1892.43,138.61L1892.38,138.702L1892.33,138.795L1892.28,138.887L1892.24,138.98L1892.19,139.073L1892.14,139.165L1892.1,139.258L1892.06,139.35L1892.01,139.442L1891.97,139.534L1891.93,139.626L1891.89,139.718L1891.86,139.809L1891.82,139.899L1891.78,139.99L1891.72,140.169L1891.65,140.346L1891.59,140.52L1891.53,140.691L1891.48,140.859L1891.43,141.023L1891.38,141.184L1891.34,141.339L1891.3,141.491L1891.26,141.637L1891.23,141.777L1891.2,141.912L1891.17,142.041L1891.14,142.163L1891.12,142.278L1891.1,142.386L1891.08,142.487L1891.06,142.58L1891.05,142.664L1891.03,142.807L1891.01,142.912L1891,142.978L1891,143L1891,142.863L1891,142.728L1890.99,142.594L1890.98,142.461L1890.97,142.33L1890.96,142.2L1890.94,142.071L1890.92,141.944L1890.9,141.818L1890.88,141.693L1890.86,141.569L1890.83,141.447L1890.8,141.327L1890.77,141.207L1890.74,141.089L1890.7,140.972L1890.67,140.857L1890.63,140.742L1890.59,140.629L1890.55,140.518L1890.5,140.407L1890.46,140.298L1890.41,140.19L1890.36,140.084L1890.31,139.978L1890.26,139.874L1890.2,139.771L1890.15,139.67L1890.09,139.569L1890.03,139.47L1889.97,139.372L1889.91,139.276L1889.85,139.18L1889.79,139.086L1889.72,138.993L1889.66,138.901L1889.59,138.81L1889.52,138.721L1889.45,138.633L1889.38,138.545L1889.31,138.46L1889.24,138.375L1889.17,138.291L1889.09,138.209L1889.02,138.128L1888.94,138.048L1888.87,137.969L1888.79,137.891L1888.72,137.815L1888.64,137.739L1888.56,137.665L1888.48,137.592L1888.4,137.52L1888.32,137.449L1888.24,137.379L1888.16,137.31L1888.08,137.243L1888,137.176L1887.92,137.111L1887.83,137.047L1887.75,136.983L1887.67,136.921L1887.59,136.86L1887.51,136.8L1887.42,136.742L1887.34,136.684L1887.26,136.627L1887.18,136.571L1887.1,136.517L1887.02,136.463L1886.85,136.359L1886.69,136.26L1886.53,136.164L1886.37,136.072L1886.22,135.985L1886.07,135.901L1885.92,135.822L1885.77,135.746L1885.63,135.674L1885.49,135.606L1885.35,135.542L1885.22,135.482L1885.1,135.425L1884.98,135.372L1884.86,135.323L1884.75,135.278L1884.65,135.236L1884.55,135.197L1884.46,135.162L1884.3,135.103L1884.17,135.058L1884.08,135.025L1884,135L1884.15,134.998L1884.29,134.993L1884.43,134.986L1884.58,134.976L1884.72,134.963L1884.85,134.947L1884.99,134.928L1885.12,134.907L1885.25,134.884L1885.38,134.858L1885.51,134.829L1885.63,134.798L1885.76,134.765L1885.88,134.73L1886,134.692L1886.12,134.652L1886.23,134.609L1886.35,134.565L1886.46,134.518L1886.57,134.47L1886.68,134.419L1886.78,134.366L1886.89,134.312L1886.99,134.256L1887.09,134.197L1887.19,134.138L1887.29,134.076L1887.39,134.012L1887.49,133.947L1887.58,133.881L1887.67,133.813L1887.76,133.743L1887.85,133.672L1887.93,133.599L1888.02,133.526L1888.1,133.45L1888.19,133.374L1888.27,133.296L1888.35,133.217L1888.42,133.137L1888.5,133.056L1888.57,132.974L1888.65,132.891L1888.72,132.807L1888.79,132.722L1888.86,132.636L1888.93,132.549L1888.99,132.462L1889.06,132.373L1889.12,132.284L1889.18,132.195L1889.24,132.105L1889.3,132.014L1889.36,131.923L1889.42,131.831L1889.47,131.739L1889.53,131.647L1889.58,131.554L1889.63,131.461L1889.68,131.368L1889.73,131.275L1889.78,131.181L1889.82,131.087L1889.87,130.994L1889.91,130.9L1889.96,130.807L1890,130.713L1890.04,130.62L1890.08,130.527L1890.12,130.434L1890.16,130.341L1890.19,130.249L1890.23,130.157L1890.26,130.065L1890.3,129.974L1890.33,129.883L1890.39,129.704L1890.45,129.527L1890.51,129.353L1890.56,129.182L1890.61,129.015L1890.65,128.852L1890.69,128.694L1890.73,128.54L1890.76,128.391L1890.8,128.248L1890.82,128.11L1890.85,127.979L1890.87,127.855L1890.9,127.737L1890.91,127.627L1890.93,127.524L1890.95,127.429L1890.96,127.343L1890.98,127.197L1890.99,127.09L1891,127.023L1891,127L1891.01,127.163Z" style="fill:white;"></path>
                        </g>
                <g class="hide" transform="matrix(0.504646,0,0,0.504646,-4.84187,41.6083)">
                <path d="M1891.01,127.163L1891.01,127.323L1891.02,127.481L1891.03,127.637L1891.05,127.791L1891.06,127.943L1891.08,128.093L1891.1,128.24L1891.12,128.386L1891.15,128.529L1891.18,128.671L1891.21,128.81L1891.24,128.948L1891.27,129.083L1891.31,129.217L1891.34,129.348L1891.38,129.478L1891.42,129.605L1891.46,129.731L1891.51,129.855L1891.55,129.976L1891.6,130.096L1891.65,130.214L1891.7,130.331L1891.75,130.445L1891.8,130.557L1891.86,130.668L1891.91,130.777L1891.97,130.884L1892.03,130.99L1892.09,131.093L1892.15,131.195L1892.22,131.295L1892.28,131.394L1892.35,131.49L1892.41,131.585L1892.48,131.679L1892.55,131.77L1892.62,131.86L1892.69,131.949L1892.76,132.036L1892.83,132.121L1892.9,132.204L1892.98,132.286L1893.05,132.367L1893.12,132.446L1893.2,132.523L1893.28,132.599L1893.35,132.673L1893.43,132.746L1893.51,132.818L1893.59,132.888L1893.67,132.956L1893.75,133.023L1893.83,133.089L1893.91,133.153L1893.99,133.216L1894.07,133.277L1894.15,133.337L1894.23,133.396L1894.31,133.454L1894.39,133.51L1894.47,133.564L1894.55,133.618L1894.63,133.67L1894.72,133.721L1894.8,133.771L1894.88,133.819L1894.96,133.866L1895.04,133.912L1895.12,133.957L1895.2,134.001L1895.28,134.043L1895.36,134.085L1895.44,134.125L1895.52,134.164L1895.59,134.202L1895.67,134.239L1895.82,134.309L1895.97,134.376L1896.12,134.438L1896.26,134.496L1896.4,134.551L1896.54,134.601L1896.67,134.648L1896.8,134.692L1896.93,134.732L1897.05,134.768L1897.16,134.802L1897.27,134.832L1897.37,134.86L1897.46,134.885L1897.55,134.907L1897.63,134.926L1897.7,134.943L1897.83,134.969L1897.92,134.987L1897.98,134.997L1898,135L1897.86,135.006L1897.72,135.015L1897.58,135.026L1897.44,135.04L1897.3,135.057L1897.17,135.076L1897.04,135.098L1896.91,135.122L1896.78,135.148L1896.65,135.177L1896.53,135.209L1896.4,135.243L1896.28,135.278L1896.16,135.317L1896.05,135.357L1895.93,135.399L1895.82,135.444L1895.7,135.491L1895.59,135.539L1895.48,135.59L1895.38,135.642L1895.27,135.696L1895.17,135.752L1895.07,135.81L1894.97,135.87L1894.87,135.931L1894.77,135.994L1894.67,136.059L1894.58,136.125L1894.49,136.192L1894.4,136.261L1894.31,136.332L1894.22,136.404L1894.13,136.477L1894.05,136.551L1893.96,136.627L1893.88,136.704L1893.8,136.782L1893.72,136.861L1893.64,136.941L1893.57,137.023L1893.5,137.105L1893.42,137.188L1893.35,137.272L1893.28,137.357L1893.21,137.443L1893.14,137.529L1893.08,137.616L1893.01,137.704L1892.95,137.793L1892.89,137.882L1892.83,137.971L1892.77,138.062L1892.71,138.152L1892.65,138.243L1892.59,138.334L1892.54,138.426L1892.49,138.518L1892.43,138.61L1892.38,138.702L1892.33,138.795L1892.28,138.887L1892.24,138.98L1892.19,139.073L1892.14,139.165L1892.1,139.258L1892.06,139.35L1892.01,139.442L1891.97,139.534L1891.93,139.626L1891.89,139.718L1891.86,139.809L1891.82,139.899L1891.78,139.99L1891.72,140.169L1891.65,140.346L1891.59,140.52L1891.53,140.691L1891.48,140.859L1891.43,141.023L1891.38,141.184L1891.34,141.339L1891.3,141.491L1891.26,141.637L1891.23,141.777L1891.2,141.912L1891.17,142.041L1891.14,142.163L1891.12,142.278L1891.1,142.386L1891.08,142.487L1891.06,142.58L1891.05,142.664L1891.03,142.807L1891.01,142.912L1891,142.978L1891,143L1891,142.863L1891,142.728L1890.99,142.594L1890.98,142.461L1890.97,142.33L1890.96,142.2L1890.94,142.071L1890.92,141.944L1890.9,141.818L1890.88,141.693L1890.86,141.569L1890.83,141.447L1890.8,141.327L1890.77,141.207L1890.74,141.089L1890.7,140.972L1890.67,140.857L1890.63,140.742L1890.59,140.629L1890.55,140.518L1890.5,140.407L1890.46,140.298L1890.41,140.19L1890.36,140.084L1890.31,139.978L1890.26,139.874L1890.2,139.771L1890.15,139.67L1890.09,139.569L1890.03,139.47L1889.97,139.372L1889.91,139.276L1889.85,139.18L1889.79,139.086L1889.72,138.993L1889.66,138.901L1889.59,138.81L1889.52,138.721L1889.45,138.633L1889.38,138.545L1889.31,138.46L1889.24,138.375L1889.17,138.291L1889.09,138.209L1889.02,138.128L1888.94,138.048L1888.87,137.969L1888.79,137.891L1888.72,137.815L1888.64,137.739L1888.56,137.665L1888.48,137.592L1888.4,137.52L1888.32,137.449L1888.24,137.379L1888.16,137.31L1888.08,137.243L1888,137.176L1887.92,137.111L1887.83,137.047L1887.75,136.983L1887.67,136.921L1887.59,136.86L1887.51,136.8L1887.42,136.742L1887.34,136.684L1887.26,136.627L1887.18,136.571L1887.1,136.517L1887.02,136.463L1886.85,136.359L1886.69,136.26L1886.53,136.164L1886.37,136.072L1886.22,135.985L1886.07,135.901L1885.92,135.822L1885.77,135.746L1885.63,135.674L1885.49,135.606L1885.35,135.542L1885.22,135.482L1885.1,135.425L1884.98,135.372L1884.86,135.323L1884.75,135.278L1884.65,135.236L1884.55,135.197L1884.46,135.162L1884.3,135.103L1884.17,135.058L1884.08,135.025L1884,135L1884.15,134.998L1884.29,134.993L1884.43,134.986L1884.58,134.976L1884.72,134.963L1884.85,134.947L1884.99,134.928L1885.12,134.907L1885.25,134.884L1885.38,134.858L1885.51,134.829L1885.63,134.798L1885.76,134.765L1885.88,134.73L1886,134.692L1886.12,134.652L1886.23,134.609L1886.35,134.565L1886.46,134.518L1886.57,134.47L1886.68,134.419L1886.78,134.366L1886.89,134.312L1886.99,134.256L1887.09,134.197L1887.19,134.138L1887.29,134.076L1887.39,134.012L1887.49,133.947L1887.58,133.881L1887.67,133.813L1887.76,133.743L1887.85,133.672L1887.93,133.599L1888.02,133.526L1888.1,133.45L1888.19,133.374L1888.27,133.296L1888.35,133.217L1888.42,133.137L1888.5,133.056L1888.57,132.974L1888.65,132.891L1888.72,132.807L1888.79,132.722L1888.86,132.636L1888.93,132.549L1888.99,132.462L1889.06,132.373L1889.12,132.284L1889.18,132.195L1889.24,132.105L1889.3,132.014L1889.36,131.923L1889.42,131.831L1889.47,131.739L1889.53,131.647L1889.58,131.554L1889.63,131.461L1889.68,131.368L1889.73,131.275L1889.78,131.181L1889.82,131.087L1889.87,130.994L1889.91,130.9L1889.96,130.807L1890,130.713L1890.04,130.62L1890.08,130.527L1890.12,130.434L1890.16,130.341L1890.19,130.249L1890.23,130.157L1890.26,130.065L1890.3,129.974L1890.33,129.883L1890.39,129.704L1890.45,129.527L1890.51,129.353L1890.56,129.182L1890.61,129.015L1890.65,128.852L1890.69,128.694L1890.73,128.54L1890.76,128.391L1890.8,128.248L1890.82,128.11L1890.85,127.979L1890.87,127.855L1890.9,127.737L1890.91,127.627L1890.93,127.524L1890.95,127.429L1890.96,127.343L1890.98,127.197L1890.99,127.09L1891,127.023L1891,127L1891.01,127.163Z" style="fill:white;"></path>
                        </g>
                <g class="hide" transform="matrix(0.504646,0,0,0.504646,-12.9162,38.0758)">
                <path d="M1891.01,127.163L1891.01,127.323L1891.02,127.481L1891.03,127.637L1891.05,127.791L1891.06,127.943L1891.08,128.093L1891.1,128.24L1891.12,128.386L1891.15,128.529L1891.18,128.671L1891.21,128.81L1891.24,128.948L1891.27,129.083L1891.31,129.217L1891.34,129.348L1891.38,129.478L1891.42,129.605L1891.46,129.731L1891.51,129.855L1891.55,129.976L1891.6,130.096L1891.65,130.214L1891.7,130.331L1891.75,130.445L1891.8,130.557L1891.86,130.668L1891.91,130.777L1891.97,130.884L1892.03,130.99L1892.09,131.093L1892.15,131.195L1892.22,131.295L1892.28,131.394L1892.35,131.49L1892.41,131.585L1892.48,131.679L1892.55,131.77L1892.62,131.86L1892.69,131.949L1892.76,132.036L1892.83,132.121L1892.9,132.204L1892.98,132.286L1893.05,132.367L1893.12,132.446L1893.2,132.523L1893.28,132.599L1893.35,132.673L1893.43,132.746L1893.51,132.818L1893.59,132.888L1893.67,132.956L1893.75,133.023L1893.83,133.089L1893.91,133.153L1893.99,133.216L1894.07,133.277L1894.15,133.337L1894.23,133.396L1894.31,133.454L1894.39,133.51L1894.47,133.564L1894.55,133.618L1894.63,133.67L1894.72,133.721L1894.8,133.771L1894.88,133.819L1894.96,133.866L1895.04,133.912L1895.12,133.957L1895.2,134.001L1895.28,134.043L1895.36,134.085L1895.44,134.125L1895.52,134.164L1895.59,134.202L1895.67,134.239L1895.82,134.309L1895.97,134.376L1896.12,134.438L1896.26,134.496L1896.4,134.551L1896.54,134.601L1896.67,134.648L1896.8,134.692L1896.93,134.732L1897.05,134.768L1897.16,134.802L1897.27,134.832L1897.37,134.86L1897.46,134.885L1897.55,134.907L1897.63,134.926L1897.7,134.943L1897.83,134.969L1897.92,134.987L1897.98,134.997L1898,135L1897.86,135.006L1897.72,135.015L1897.58,135.026L1897.44,135.04L1897.3,135.057L1897.17,135.076L1897.04,135.098L1896.91,135.122L1896.78,135.148L1896.65,135.177L1896.53,135.209L1896.4,135.243L1896.28,135.278L1896.16,135.317L1896.05,135.357L1895.93,135.399L1895.82,135.444L1895.7,135.491L1895.59,135.539L1895.48,135.59L1895.38,135.642L1895.27,135.696L1895.17,135.752L1895.07,135.81L1894.97,135.87L1894.87,135.931L1894.77,135.994L1894.67,136.059L1894.58,136.125L1894.49,136.192L1894.4,136.261L1894.31,136.332L1894.22,136.404L1894.13,136.477L1894.05,136.551L1893.96,136.627L1893.88,136.704L1893.8,136.782L1893.72,136.861L1893.64,136.941L1893.57,137.023L1893.5,137.105L1893.42,137.188L1893.35,137.272L1893.28,137.357L1893.21,137.443L1893.14,137.529L1893.08,137.616L1893.01,137.704L1892.95,137.793L1892.89,137.882L1892.83,137.971L1892.77,138.062L1892.71,138.152L1892.65,138.243L1892.59,138.334L1892.54,138.426L1892.49,138.518L1892.43,138.61L1892.38,138.702L1892.33,138.795L1892.28,138.887L1892.24,138.98L1892.19,139.073L1892.14,139.165L1892.1,139.258L1892.06,139.35L1892.01,139.442L1891.97,139.534L1891.93,139.626L1891.89,139.718L1891.86,139.809L1891.82,139.899L1891.78,139.99L1891.72,140.169L1891.65,140.346L1891.59,140.52L1891.53,140.691L1891.48,140.859L1891.43,141.023L1891.38,141.184L1891.34,141.339L1891.3,141.491L1891.26,141.637L1891.23,141.777L1891.2,141.912L1891.17,142.041L1891.14,142.163L1891.12,142.278L1891.1,142.386L1891.08,142.487L1891.06,142.58L1891.05,142.664L1891.03,142.807L1891.01,142.912L1891,142.978L1891,143L1891,142.863L1891,142.728L1890.99,142.594L1890.98,142.461L1890.97,142.33L1890.96,142.2L1890.94,142.071L1890.92,141.944L1890.9,141.818L1890.88,141.693L1890.86,141.569L1890.83,141.447L1890.8,141.327L1890.77,141.207L1890.74,141.089L1890.7,140.972L1890.67,140.857L1890.63,140.742L1890.59,140.629L1890.55,140.518L1890.5,140.407L1890.46,140.298L1890.41,140.19L1890.36,140.084L1890.31,139.978L1890.26,139.874L1890.2,139.771L1890.15,139.67L1890.09,139.569L1890.03,139.47L1889.97,139.372L1889.91,139.276L1889.85,139.18L1889.79,139.086L1889.72,138.993L1889.66,138.901L1889.59,138.81L1889.52,138.721L1889.45,138.633L1889.38,138.545L1889.31,138.46L1889.24,138.375L1889.17,138.291L1889.09,138.209L1889.02,138.128L1888.94,138.048L1888.87,137.969L1888.79,137.891L1888.72,137.815L1888.64,137.739L1888.56,137.665L1888.48,137.592L1888.4,137.52L1888.32,137.449L1888.24,137.379L1888.16,137.31L1888.08,137.243L1888,137.176L1887.92,137.111L1887.83,137.047L1887.75,136.983L1887.67,136.921L1887.59,136.86L1887.51,136.8L1887.42,136.742L1887.34,136.684L1887.26,136.627L1887.18,136.571L1887.1,136.517L1887.02,136.463L1886.85,136.359L1886.69,136.26L1886.53,136.164L1886.37,136.072L1886.22,135.985L1886.07,135.901L1885.92,135.822L1885.77,135.746L1885.63,135.674L1885.49,135.606L1885.35,135.542L1885.22,135.482L1885.1,135.425L1884.98,135.372L1884.86,135.323L1884.75,135.278L1884.65,135.236L1884.55,135.197L1884.46,135.162L1884.3,135.103L1884.17,135.058L1884.08,135.025L1884,135L1884.15,134.998L1884.29,134.993L1884.43,134.986L1884.58,134.976L1884.72,134.963L1884.85,134.947L1884.99,134.928L1885.12,134.907L1885.25,134.884L1885.38,134.858L1885.51,134.829L1885.63,134.798L1885.76,134.765L1885.88,134.73L1886,134.692L1886.12,134.652L1886.23,134.609L1886.35,134.565L1886.46,134.518L1886.57,134.47L1886.68,134.419L1886.78,134.366L1886.89,134.312L1886.99,134.256L1887.09,134.197L1887.19,134.138L1887.29,134.076L1887.39,134.012L1887.49,133.947L1887.58,133.881L1887.67,133.813L1887.76,133.743L1887.85,133.672L1887.93,133.599L1888.02,133.526L1888.1,133.45L1888.19,133.374L1888.27,133.296L1888.35,133.217L1888.42,133.137L1888.5,133.056L1888.57,132.974L1888.65,132.891L1888.72,132.807L1888.79,132.722L1888.86,132.636L1888.93,132.549L1888.99,132.462L1889.06,132.373L1889.12,132.284L1889.18,132.195L1889.24,132.105L1889.3,132.014L1889.36,131.923L1889.42,131.831L1889.47,131.739L1889.53,131.647L1889.58,131.554L1889.63,131.461L1889.68,131.368L1889.73,131.275L1889.78,131.181L1889.82,131.087L1889.87,130.994L1889.91,130.9L1889.96,130.807L1890,130.713L1890.04,130.62L1890.08,130.527L1890.12,130.434L1890.16,130.341L1890.19,130.249L1890.23,130.157L1890.26,130.065L1890.3,129.974L1890.33,129.883L1890.39,129.704L1890.45,129.527L1890.51,129.353L1890.56,129.182L1890.61,129.015L1890.65,128.852L1890.69,128.694L1890.73,128.54L1890.76,128.391L1890.8,128.248L1890.82,128.11L1890.85,127.979L1890.87,127.855L1890.9,127.737L1890.91,127.627L1890.93,127.524L1890.95,127.429L1890.96,127.343L1890.98,127.197L1890.99,127.09L1891,127.023L1891,127L1891.01,127.163Z" style="fill:white;"></path>
                        </g>
                <g class="hide" transform="matrix(0.504646,0,0,0.504646,1.71852,-1.28657)">
                <path d="M1891.01,127.163L1891.01,127.323L1891.02,127.481L1891.03,127.637L1891.05,127.791L1891.06,127.943L1891.08,128.093L1891.1,128.24L1891.12,128.386L1891.15,128.529L1891.18,128.671L1891.21,128.81L1891.24,128.948L1891.27,129.083L1891.31,129.217L1891.34,129.348L1891.38,129.478L1891.42,129.605L1891.46,129.731L1891.51,129.855L1891.55,129.976L1891.6,130.096L1891.65,130.214L1891.7,130.331L1891.75,130.445L1891.8,130.557L1891.86,130.668L1891.91,130.777L1891.97,130.884L1892.03,130.99L1892.09,131.093L1892.15,131.195L1892.22,131.295L1892.28,131.394L1892.35,131.49L1892.41,131.585L1892.48,131.679L1892.55,131.77L1892.62,131.86L1892.69,131.949L1892.76,132.036L1892.83,132.121L1892.9,132.204L1892.98,132.286L1893.05,132.367L1893.12,132.446L1893.2,132.523L1893.28,132.599L1893.35,132.673L1893.43,132.746L1893.51,132.818L1893.59,132.888L1893.67,132.956L1893.75,133.023L1893.83,133.089L1893.91,133.153L1893.99,133.216L1894.07,133.277L1894.15,133.337L1894.23,133.396L1894.31,133.454L1894.39,133.51L1894.47,133.564L1894.55,133.618L1894.63,133.67L1894.72,133.721L1894.8,133.771L1894.88,133.819L1894.96,133.866L1895.04,133.912L1895.12,133.957L1895.2,134.001L1895.28,134.043L1895.36,134.085L1895.44,134.125L1895.52,134.164L1895.59,134.202L1895.67,134.239L1895.82,134.309L1895.97,134.376L1896.12,134.438L1896.26,134.496L1896.4,134.551L1896.54,134.601L1896.67,134.648L1896.8,134.692L1896.93,134.732L1897.05,134.768L1897.16,134.802L1897.27,134.832L1897.37,134.86L1897.46,134.885L1897.55,134.907L1897.63,134.926L1897.7,134.943L1897.83,134.969L1897.92,134.987L1897.98,134.997L1898,135L1897.86,135.006L1897.72,135.015L1897.58,135.026L1897.44,135.04L1897.3,135.057L1897.17,135.076L1897.04,135.098L1896.91,135.122L1896.78,135.148L1896.65,135.177L1896.53,135.209L1896.4,135.243L1896.28,135.278L1896.16,135.317L1896.05,135.357L1895.93,135.399L1895.82,135.444L1895.7,135.491L1895.59,135.539L1895.48,135.59L1895.38,135.642L1895.27,135.696L1895.17,135.752L1895.07,135.81L1894.97,135.87L1894.87,135.931L1894.77,135.994L1894.67,136.059L1894.58,136.125L1894.49,136.192L1894.4,136.261L1894.31,136.332L1894.22,136.404L1894.13,136.477L1894.05,136.551L1893.96,136.627L1893.88,136.704L1893.8,136.782L1893.72,136.861L1893.64,136.941L1893.57,137.023L1893.5,137.105L1893.42,137.188L1893.35,137.272L1893.28,137.357L1893.21,137.443L1893.14,137.529L1893.08,137.616L1893.01,137.704L1892.95,137.793L1892.89,137.882L1892.83,137.971L1892.77,138.062L1892.71,138.152L1892.65,138.243L1892.59,138.334L1892.54,138.426L1892.49,138.518L1892.43,138.61L1892.38,138.702L1892.33,138.795L1892.28,138.887L1892.24,138.98L1892.19,139.073L1892.14,139.165L1892.1,139.258L1892.06,139.35L1892.01,139.442L1891.97,139.534L1891.93,139.626L1891.89,139.718L1891.86,139.809L1891.82,139.899L1891.78,139.99L1891.72,140.169L1891.65,140.346L1891.59,140.52L1891.53,140.691L1891.48,140.859L1891.43,141.023L1891.38,141.184L1891.34,141.339L1891.3,141.491L1891.26,141.637L1891.23,141.777L1891.2,141.912L1891.17,142.041L1891.14,142.163L1891.12,142.278L1891.1,142.386L1891.08,142.487L1891.06,142.58L1891.05,142.664L1891.03,142.807L1891.01,142.912L1891,142.978L1891,143L1891,142.863L1891,142.728L1890.99,142.594L1890.98,142.461L1890.97,142.33L1890.96,142.2L1890.94,142.071L1890.92,141.944L1890.9,141.818L1890.88,141.693L1890.86,141.569L1890.83,141.447L1890.8,141.327L1890.77,141.207L1890.74,141.089L1890.7,140.972L1890.67,140.857L1890.63,140.742L1890.59,140.629L1890.55,140.518L1890.5,140.407L1890.46,140.298L1890.41,140.19L1890.36,140.084L1890.31,139.978L1890.26,139.874L1890.2,139.771L1890.15,139.67L1890.09,139.569L1890.03,139.47L1889.97,139.372L1889.91,139.276L1889.85,139.18L1889.79,139.086L1889.72,138.993L1889.66,138.901L1889.59,138.81L1889.52,138.721L1889.45,138.633L1889.38,138.545L1889.31,138.46L1889.24,138.375L1889.17,138.291L1889.09,138.209L1889.02,138.128L1888.94,138.048L1888.87,137.969L1888.79,137.891L1888.72,137.815L1888.64,137.739L1888.56,137.665L1888.48,137.592L1888.4,137.52L1888.32,137.449L1888.24,137.379L1888.16,137.31L1888.08,137.243L1888,137.176L1887.92,137.111L1887.83,137.047L1887.75,136.983L1887.67,136.921L1887.59,136.86L1887.51,136.8L1887.42,136.742L1887.34,136.684L1887.26,136.627L1887.18,136.571L1887.1,136.517L1887.02,136.463L1886.85,136.359L1886.69,136.26L1886.53,136.164L1886.37,136.072L1886.22,135.985L1886.07,135.901L1885.92,135.822L1885.77,135.746L1885.63,135.674L1885.49,135.606L1885.35,135.542L1885.22,135.482L1885.1,135.425L1884.98,135.372L1884.86,135.323L1884.75,135.278L1884.65,135.236L1884.55,135.197L1884.46,135.162L1884.3,135.103L1884.17,135.058L1884.08,135.025L1884,135L1884.15,134.998L1884.29,134.993L1884.43,134.986L1884.58,134.976L1884.72,134.963L1884.85,134.947L1884.99,134.928L1885.12,134.907L1885.25,134.884L1885.38,134.858L1885.51,134.829L1885.63,134.798L1885.76,134.765L1885.88,134.73L1886,134.692L1886.12,134.652L1886.23,134.609L1886.35,134.565L1886.46,134.518L1886.57,134.47L1886.68,134.419L1886.78,134.366L1886.89,134.312L1886.99,134.256L1887.09,134.197L1887.19,134.138L1887.29,134.076L1887.39,134.012L1887.49,133.947L1887.58,133.881L1887.67,133.813L1887.76,133.743L1887.85,133.672L1887.93,133.599L1888.02,133.526L1888.1,133.45L1888.19,133.374L1888.27,133.296L1888.35,133.217L1888.42,133.137L1888.5,133.056L1888.57,132.974L1888.65,132.891L1888.72,132.807L1888.79,132.722L1888.86,132.636L1888.93,132.549L1888.99,132.462L1889.06,132.373L1889.12,132.284L1889.18,132.195L1889.24,132.105L1889.3,132.014L1889.36,131.923L1889.42,131.831L1889.47,131.739L1889.53,131.647L1889.58,131.554L1889.63,131.461L1889.68,131.368L1889.73,131.275L1889.78,131.181L1889.82,131.087L1889.87,130.994L1889.91,130.9L1889.96,130.807L1890,130.713L1890.04,130.62L1890.08,130.527L1890.12,130.434L1890.16,130.341L1890.19,130.249L1890.23,130.157L1890.26,130.065L1890.3,129.974L1890.33,129.883L1890.39,129.704L1890.45,129.527L1890.51,129.353L1890.56,129.182L1890.61,129.015L1890.65,128.852L1890.69,128.694L1890.73,128.54L1890.76,128.391L1890.8,128.248L1890.82,128.11L1890.85,127.979L1890.87,127.855L1890.9,127.737L1890.91,127.627L1890.93,127.524L1890.95,127.429L1890.96,127.343L1890.98,127.197L1890.99,127.09L1891,127.023L1891,127L1891.01,127.163Z" style="fill:white;"></path>
                        </g>
                <g class="hide" transform="matrix(0.504646,0,0,0.504646,-32.0927,45.6455)">
                <path d="M1891.01,127.163L1891.01,127.323L1891.02,127.481L1891.03,127.637L1891.05,127.791L1891.06,127.943L1891.08,128.093L1891.1,128.24L1891.12,128.386L1891.15,128.529L1891.18,128.671L1891.21,128.81L1891.24,128.948L1891.27,129.083L1891.31,129.217L1891.34,129.348L1891.38,129.478L1891.42,129.605L1891.46,129.731L1891.51,129.855L1891.55,129.976L1891.6,130.096L1891.65,130.214L1891.7,130.331L1891.75,130.445L1891.8,130.557L1891.86,130.668L1891.91,130.777L1891.97,130.884L1892.03,130.99L1892.09,131.093L1892.15,131.195L1892.22,131.295L1892.28,131.394L1892.35,131.49L1892.41,131.585L1892.48,131.679L1892.55,131.77L1892.62,131.86L1892.69,131.949L1892.76,132.036L1892.83,132.121L1892.9,132.204L1892.98,132.286L1893.05,132.367L1893.12,132.446L1893.2,132.523L1893.28,132.599L1893.35,132.673L1893.43,132.746L1893.51,132.818L1893.59,132.888L1893.67,132.956L1893.75,133.023L1893.83,133.089L1893.91,133.153L1893.99,133.216L1894.07,133.277L1894.15,133.337L1894.23,133.396L1894.31,133.454L1894.39,133.51L1894.47,133.564L1894.55,133.618L1894.63,133.67L1894.72,133.721L1894.8,133.771L1894.88,133.819L1894.96,133.866L1895.04,133.912L1895.12,133.957L1895.2,134.001L1895.28,134.043L1895.36,134.085L1895.44,134.125L1895.52,134.164L1895.59,134.202L1895.67,134.239L1895.82,134.309L1895.97,134.376L1896.12,134.438L1896.26,134.496L1896.4,134.551L1896.54,134.601L1896.67,134.648L1896.8,134.692L1896.93,134.732L1897.05,134.768L1897.16,134.802L1897.27,134.832L1897.37,134.86L1897.46,134.885L1897.55,134.907L1897.63,134.926L1897.7,134.943L1897.83,134.969L1897.92,134.987L1897.98,134.997L1898,135L1897.86,135.006L1897.72,135.015L1897.58,135.026L1897.44,135.04L1897.3,135.057L1897.17,135.076L1897.04,135.098L1896.91,135.122L1896.78,135.148L1896.65,135.177L1896.53,135.209L1896.4,135.243L1896.28,135.278L1896.16,135.317L1896.05,135.357L1895.93,135.399L1895.82,135.444L1895.7,135.491L1895.59,135.539L1895.48,135.59L1895.38,135.642L1895.27,135.696L1895.17,135.752L1895.07,135.81L1894.97,135.87L1894.87,135.931L1894.77,135.994L1894.67,136.059L1894.58,136.125L1894.49,136.192L1894.4,136.261L1894.31,136.332L1894.22,136.404L1894.13,136.477L1894.05,136.551L1893.96,136.627L1893.88,136.704L1893.8,136.782L1893.72,136.861L1893.64,136.941L1893.57,137.023L1893.5,137.105L1893.42,137.188L1893.35,137.272L1893.28,137.357L1893.21,137.443L1893.14,137.529L1893.08,137.616L1893.01,137.704L1892.95,137.793L1892.89,137.882L1892.83,137.971L1892.77,138.062L1892.71,138.152L1892.65,138.243L1892.59,138.334L1892.54,138.426L1892.49,138.518L1892.43,138.61L1892.38,138.702L1892.33,138.795L1892.28,138.887L1892.24,138.98L1892.19,139.073L1892.14,139.165L1892.1,139.258L1892.06,139.35L1892.01,139.442L1891.97,139.534L1891.93,139.626L1891.89,139.718L1891.86,139.809L1891.82,139.899L1891.78,139.99L1891.72,140.169L1891.65,140.346L1891.59,140.52L1891.53,140.691L1891.48,140.859L1891.43,141.023L1891.38,141.184L1891.34,141.339L1891.3,141.491L1891.26,141.637L1891.23,141.777L1891.2,141.912L1891.17,142.041L1891.14,142.163L1891.12,142.278L1891.1,142.386L1891.08,142.487L1891.06,142.58L1891.05,142.664L1891.03,142.807L1891.01,142.912L1891,142.978L1891,143L1891,142.863L1891,142.728L1890.99,142.594L1890.98,142.461L1890.97,142.33L1890.96,142.2L1890.94,142.071L1890.92,141.944L1890.9,141.818L1890.88,141.693L1890.86,141.569L1890.83,141.447L1890.8,141.327L1890.77,141.207L1890.74,141.089L1890.7,140.972L1890.67,140.857L1890.63,140.742L1890.59,140.629L1890.55,140.518L1890.5,140.407L1890.46,140.298L1890.41,140.19L1890.36,140.084L1890.31,139.978L1890.26,139.874L1890.2,139.771L1890.15,139.67L1890.09,139.569L1890.03,139.47L1889.97,139.372L1889.91,139.276L1889.85,139.18L1889.79,139.086L1889.72,138.993L1889.66,138.901L1889.59,138.81L1889.52,138.721L1889.45,138.633L1889.38,138.545L1889.31,138.46L1889.24,138.375L1889.17,138.291L1889.09,138.209L1889.02,138.128L1888.94,138.048L1888.87,137.969L1888.79,137.891L1888.72,137.815L1888.64,137.739L1888.56,137.665L1888.48,137.592L1888.4,137.52L1888.32,137.449L1888.24,137.379L1888.16,137.31L1888.08,137.243L1888,137.176L1887.92,137.111L1887.83,137.047L1887.75,136.983L1887.67,136.921L1887.59,136.86L1887.51,136.8L1887.42,136.742L1887.34,136.684L1887.26,136.627L1887.18,136.571L1887.1,136.517L1887.02,136.463L1886.85,136.359L1886.69,136.26L1886.53,136.164L1886.37,136.072L1886.22,135.985L1886.07,135.901L1885.92,135.822L1885.77,135.746L1885.63,135.674L1885.49,135.606L1885.35,135.542L1885.22,135.482L1885.1,135.425L1884.98,135.372L1884.86,135.323L1884.75,135.278L1884.65,135.236L1884.55,135.197L1884.46,135.162L1884.3,135.103L1884.17,135.058L1884.08,135.025L1884,135L1884.15,134.998L1884.29,134.993L1884.43,134.986L1884.58,134.976L1884.72,134.963L1884.85,134.947L1884.99,134.928L1885.12,134.907L1885.25,134.884L1885.38,134.858L1885.51,134.829L1885.63,134.798L1885.76,134.765L1885.88,134.73L1886,134.692L1886.12,134.652L1886.23,134.609L1886.35,134.565L1886.46,134.518L1886.57,134.47L1886.68,134.419L1886.78,134.366L1886.89,134.312L1886.99,134.256L1887.09,134.197L1887.19,134.138L1887.29,134.076L1887.39,134.012L1887.49,133.947L1887.58,133.881L1887.67,133.813L1887.76,133.743L1887.85,133.672L1887.93,133.599L1888.02,133.526L1888.1,133.45L1888.19,133.374L1888.27,133.296L1888.35,133.217L1888.42,133.137L1888.5,133.056L1888.57,132.974L1888.65,132.891L1888.72,132.807L1888.79,132.722L1888.86,132.636L1888.93,132.549L1888.99,132.462L1889.06,132.373L1889.12,132.284L1889.18,132.195L1889.24,132.105L1889.3,132.014L1889.36,131.923L1889.42,131.831L1889.47,131.739L1889.53,131.647L1889.58,131.554L1889.63,131.461L1889.68,131.368L1889.73,131.275L1889.78,131.181L1889.82,131.087L1889.87,130.994L1889.91,130.9L1889.96,130.807L1890,130.713L1890.04,130.62L1890.08,130.527L1890.12,130.434L1890.16,130.341L1890.19,130.249L1890.23,130.157L1890.26,130.065L1890.3,129.974L1890.33,129.883L1890.39,129.704L1890.45,129.527L1890.51,129.353L1890.56,129.182L1890.61,129.015L1890.65,128.852L1890.69,128.694L1890.73,128.54L1890.76,128.391L1890.8,128.248L1890.82,128.11L1890.85,127.979L1890.87,127.855L1890.9,127.737L1890.91,127.627L1890.93,127.524L1890.95,127.429L1890.96,127.343L1890.98,127.197L1890.99,127.09L1891,127.023L1891,127L1891.01,127.163Z" style="fill:white;"></path>
                        </g>
                      </g>
                    </g>
                  </g>
                <g class="arrow1">
                <path d="M194.844,81.587L161.363,81.587C159.705,81.587 158.363,80.244 158.363,78.587C158.363,76.931 159.705,75.587 161.363,75.587L194.844,75.587C196.501,75.587 197.844,76.931 197.844,78.587C197.844,80.244 196.501,81.587 194.844,81.587" style="fill:rgb(105,173,215);fill-rule:nonzero;"></path>
                <path d="M181.057,91.61C180.127,91.61 179.212,91.179 178.625,90.37C177.653,89.028 177.952,87.153 179.293,86.18L189.77,78.588L179.293,70.995C177.952,70.022 177.653,68.146 178.625,66.804C179.596,65.464 181.471,65.164 182.815,66.136L196.643,76.158C197.421,76.723 197.882,77.627 197.882,78.588C197.882,79.548 197.421,80.453 196.643,81.017L182.815,91.039C182.283,91.424 181.666,91.61 181.057,91.61" style="fill:rgb(105,173,215);fill-rule:nonzero;"></path>
                  </g>
                <g class="arrow2">
                <path d="M404.844,81.587L371.363,81.587C369.705,81.587 368.363,80.244 368.363,78.587C368.363,76.931 369.705,75.587 371.363,75.587L404.844,75.587C406.501,75.587 407.844,76.931 407.844,78.587C407.844,80.244 406.501,81.587 404.844,81.587" style="fill:rgb(65,188,196);fill-rule:nonzero;"></path>
                <path d="M391.057,91.61C390.127,91.61 389.212,91.179 388.625,90.37C387.653,89.028 387.952,87.153 389.293,86.18L399.77,78.588L389.293,70.995C387.952,70.022 387.653,68.146 388.625,66.804C389.596,65.464 391.471,65.164 392.815,66.136L406.643,76.158C407.421,76.723 407.882,77.627 407.882,78.588C407.882,79.548 407.421,80.453 406.643,81.017L392.815,91.039C392.283,91.424 391.666,91.61 391.057,91.61" style="fill:rgb(65,188,196);fill-rule:nonzero;"></path>
                  </g>
                <g class="arrow3">
                <path d="M618.844,81.587L585.363,81.587C583.705,81.587 582.363,80.244 582.363,78.587C582.363,76.931 583.705,75.587 585.363,75.587L618.844,75.587C620.501,75.587 621.844,76.931 621.844,78.587C621.844,80.244 620.501,81.587 618.844,81.587" style="fill:rgb(147,183,75);fill-rule:nonzero;"></path>
                <path d="M605.057,91.61C604.127,91.61 603.212,91.179 602.625,90.37C601.653,89.028 601.952,87.153 603.293,86.18L613.77,78.588L603.293,70.995C601.952,70.022 601.653,68.146 602.625,66.804C603.596,65.464 605.471,65.164 606.815,66.136L620.643,76.158C621.421,76.723 621.882,77.627 621.882,78.588C621.882,79.548 621.421,80.453 620.643,81.017L606.815,91.039C606.283,91.424 605.666,91.61 605.057,91.61" style="fill:rgb(147,183,75);fill-rule:nonzero;"></path>
                  </g>
                <g class="arrow4">
                <path d="M828.844,81.587L795.363,81.587C793.705,81.587 792.363,80.244 792.363,78.587C792.363,76.931 793.705,75.587 795.363,75.587L828.844,75.587C830.501,75.587 831.844,76.931 831.844,78.587C831.844,80.244 830.501,81.587 828.844,81.587" style="fill:rgb(223,181,115);fill-rule:nonzero;"></path>
                <path d="M815.057,91.61C814.127,91.61 813.212,91.179 812.625,90.37C811.653,89.028 811.952,87.153 813.293,86.18L823.77,78.588L813.293,70.995C811.952,70.022 811.653,68.146 812.625,66.804C813.596,65.464 815.471,65.164 816.815,66.136L830.643,76.158C831.421,76.723 831.882,77.627 831.882,78.588C831.882,79.548 831.421,80.453 830.643,81.017L816.815,91.039C816.283,91.424 815.666,91.61 815.057,91.61" style="fill:rgb(223,181,115);fill-rule:nonzero;"></path>
                  </g>
                </g>
              </svg>
            </div>

            <ul class="lh20 mt32 nostyle list f16">
                <li> <span class="red">@ViewBag.resLang["afterclicking"]</span>@ViewBag.resLang["forthetimetable"]	</li>
                <li>@ViewBag.resLang["iftheclient"]<a class="link under" href="https://gca.nat.gov.tw/web2/index.html" title="政府憑證總管理中心" target="_blank">@ViewBag.resLang["government"]</a>。	</li>
                <li>@ViewBag.resLang["ifyoufail"]	</li>
                <li>@ViewBag.resLang["pleasebring"]	</li>
                <li> <span class="red">@ViewBag.resLang["forfirsttime"]</span></li>
                <li>@ViewBag.resLang["referto"]	</li>
                <li>@ViewBag.resLang["forthoseunder"]	</li>
                <li>@ViewBag.resLang["solutions"]</li>
            </ul>
        </div>
    </div>
    <div class="index__catalog pb80">
        <div class="container">
            <div class="index__filter pt40 pb32">
                <span class="wide30">@ViewBag.resLang["hrs"]</span>
                <h2 class="sr-only">@ViewBag.resLang["hrs"]</h2>

            </div>
            <div class="card-wrapper">

                @if (ViewBag.Hospitals != null)
                {
                    foreach (HospitalModel item in Hospitals)
                    {
                        string districe = "north";
                        //    if (ViewBag.Central.IndexOf(item.Loc) != -1)
                        //    {
                        //        districe = "center";
                        //    }
                        //    if (ViewBag.South.IndexOf(item.Loc) != -1)
                        //    {
                        //        districe = "south";
                        //    }

                        //門診表下載

                        string files = "javascript:void(0);";
                        string target = "_self";
                        List<DeptFileDownloadModel> download = AppData.DeptFileDownload(item.Loc);
                        if (download != null && download.GetType().Name != "JObject")
                        {
                            files = download[0].filename;
                            target = "_blank";
                        }

                        //聖母院區先關閉門診表下載




                        <div class="card" data-district="@districe">
                            <img src="~/Styles/images/@Html.Raw("H"+item.Loc + ".png")" alt="@Html.Raw(item.hospitaName)">
                            <div class="title">@Html.Raw(item.hospitaName)</div>
                            <div class="toggle">
                                <a class="btn" href="~/Register/@item.Loc">@ViewBag.resLang["register"]</a>
                                <a class="btn" href="~/Register_video/@item.Loc">@ViewBag.resLang["video"]</a>
                                <a class="btn" href="~/Progress/@item.Loc">@ViewBag.resLang["queryprogress"]</a>
                                <a class="btn" href="~/Query/@item.Loc">@ViewBag.resLang["rqoc"]</a>
                                <a class="btn" href="~/Info/@item.Loc">@ViewBag.resLang["directions"]</a>
                                <a class="btn" href="@files" target="@target">@ViewBag.resLang["ourpatientdownload"]</a>
                            </div>
                        </div>
                    }

                }



            </div>
        </div>
    </div>
</div>
