﻿@using Web.Models;
@using Web.Services;
@{
    GetServiceData AppData = new GetServiceData();
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    ViewBag.Title = thisHospital.hospitaName + "掛號說明";
}


<div class="info">
    <div id="dashboard">
        <div class="dashboard__main">
            <div class="dashboard__row">
                <div class="icon-1"></div><span class="f20 wide20">@Html.Raw(thisHospital.hospitaName)</span>
                <div class="dashboard__btn f18"><a href="~/Register/@thisHospital.Loc" class="active">@ViewBag.resLang["register"]</a><a href="~/Register_video/@thisHospital.Loc">@ViewBag.resLang["video"]</a><a href="~/Query/@thisHospital.Loc">@ViewBag.resLang["demand"]</a><a href="~/Progress/@thisHospital.Loc">@ViewBag.resLang["schedule"]</a><a href="~/Info/@thisHospital.Loc">@ViewBag.resLang["directions"]</a></div>
                <select class="tri" id="changeHospital">
                    <option disabled selected hidden>各院區掛號服務</option>
                    @if (ViewBag.Hospitals != null)
                    {
                        foreach (HospitalModel item in Hospitals)
                        {
                            <option value="@item.Loc" @if (thisHospital.Loc == item.Loc) { @Html.Raw("selected") }>@item.hospitaName</option>
                        }
                    }

                </select>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="pt40 pr24 pl24 md-noPadding">
                <div class="f24 b mb24 pl20">@ViewBag.resLang["registrationins"]</div>
                <h2 class="sr-only">@ViewBag.resLang["registrationins"]</h2>
                <div class="box-wrapper mb40 pt40 pb56">
                    <div class="f20 orange b mb8">@ViewBag.resLang["telephonereg"]</div>
                    <ul class="list nostyle lh20 b border-bottom pb40 mb32">
                        <li> <span>@ViewBag.resLang["registeredvoicecall"]</span>070-100-55-993　@ViewBag.resLang["allday"]</li>
                        <li> <span>@ViewBag.resLang["manualphone"]</span>（02）2431-3155　@ViewBag.resLang["mondaytofriday"]08：00~16：00</li>
                        <li> <span>@ViewBag.resLang["outpatient"]</span>（02）2431-3131 # 2590～1</li>
                        <li> <span>@ViewBag.resLang["beautycenter"]</span>（02）2431-3077（09：00 @ViewBag.resLang["startregistration"]）</li>
                    </ul>
                    <div class="f20 orange b mb8">@ViewBag.resLang["onsitereg"]</div>
                    <ul class="list nostyle lh20 b mb32">
                        <li>@ViewBag.resLang["morningconsultation"]　08：00～11：00</li>
                        <li>@ViewBag.resLang["afternoonconsultation"]　08：00～16：00</li>
                        <li>@ViewBag.resLang["eveningconsultation"]　08：00～19：30</li>
                    </ul>
                    <div class="red f16 b">@ViewBag.resLang["description"]</div>
                    <ul class="nostyle lh18 red f16 border-bottom pb56 mb32">
                        <li>1. @ViewBag.resLang["description1"]</li>
                        <li>2. @ViewBag.resLang["description2"]</li>
                        <li>3. @ViewBag.resLang["description3"]</li>
                        <li>4. @ViewBag.resLang["description4"]</li>
                        <li>5. @ViewBag.resLang["description5"]</li>
                    </ul>
                    <div class="f20 orange b mb8">@ViewBag.resLang["visitinghours"]</div>
                    <ul class="list nostyle lh20 b mb32">
                        <li>@ViewBag.resLang["fromjan"]</li>
                        <li>@ViewBag.resLang["morningconsultation"]　　08：30～11：30 @ViewBag.resLang["ophthalmology"]</li>
                        <li>@ViewBag.resLang["afternoonconsultation"]　　13：30～16：30 @ViewBag.resLang["ophthalmology"]</li>
                        <li>@ViewBag.resLang["eveningconsultation"]　　　17：30～20：00 @ViewBag.resLang["ophthalmology"]</li>
                        <li>@ViewBag.resLang["healthclinic"]　13：30～16：30</li>
                    </ul>
                    <div class="red f16 b">@ViewBag.resLang["description"]</div>
                    <ul class="nostyle f16 lh20 red border-bottom pb40 mb32">
                        <li>@ViewBag.resLang["pleasereportto"]</li>
                    </ul>
                    <div class="f20 orange b mb8">@ViewBag.resLang["serviceline"]</div>
                    <ul class="list nostyle lh20 b border-bottom pb40 mb32">
                        <li> <span>@ViewBag.resLang["switchboard"]　　　　　　</span>（02）2431-3131 /@ViewBag.resLang["timehours"]</li>
                        <li> <span>@ViewBag.resLang["referralservice"]　　　　</span>（02）2431-3131 # 2171　/ @ViewBag.resLang["time"]　08：00～16：00 @ViewBag.resLang["satandsunoff"]</li>
                        <li> <span>@ViewBag.resLang["homecareservices"]　　</span>（02）2431-3131 # 2171　/ @ViewBag.resLang["time"]　08：00～16：00 @ViewBag.resLang["satandsunoff"]</li>
                        <li> <span>@ViewBag.resLang["medicalconsultingservices"]　　</span>（02）2431-3131 # 2177　/ @ViewBag.resLang["time"]　08：30～17：00 （@ViewBag.resLang["satto"] 08：30～12：00）</li>
                    </ul>
                    <div class="f20 orange b mb8">@ViewBag.resLang["chargestandard"]</div>
                    <ul class="list nostyle lh20 multi">
                        <li class="f18 b">@ViewBag.resLang["healthinsstatus"] </li>
                        <div class="multi-box">
                            <div class="red mb20">@ViewBag.resLang["outpatientregistration"]</div>
                            <table class="table-border mb32">
                                <thead>
                                    <tr>
                                        <td class="b" colspan="5">@ViewBag.resLang["basicpartofthecost"]</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="lg">
                                        <td>@ViewBag.resLang["westernmedwithoutreferral"]</td>
                                        <td>@ViewBag.resLang["westernmedreferral"]</td>
                                        <td>@ViewBag.resLang["chinesemed"]</td>
                                        <td>@ViewBag.resLang["dentist"]</td>
                                        <td>@ViewBag.resLang["emergency"]</td>
                                    </tr>
                                    <tr>
                                        <td>240</td>
                                        <td>100</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>300</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="5">@ViewBag.resLang["theimpdate"]</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <li class="f18 b mb16">@ViewBag.resLang["partoftheregfree"]</li>
                        <div class="multi-box">
                            <div class="row mb20">
                                <div class="anti mr20">@ViewBag.resLang["registrationfree"]</div>
                                <div>@ViewBag.resLang["yuanforoutpatient"]</div>
                            </div>
                            <div class="row">
                                <div class="anti mr20">@ViewBag.resLang["diagnosticfee"]</div>
                                <div class="pt4 mb8">
                                    1.@ViewBag.resLang["diagnosticfee1"]<br>
                                    2.@ViewBag.resLang["diagnosticfee2"]<br>
                                    3.@ViewBag.resLang["diagnosticfee3"]<br>
                                    4.@ViewBag.resLang["diagnosticfee4"]
                                </div>
                            </div>
                        </div>
                        <li class="f18 b border-bottom pb40 mb32">@ViewBag.resLang["withalowincomecard"]</li>
                    </ul>
                    <div class="f20 orange b mb32">@ViewBag.resLang["voicereg"]</div>
                    <div class="mix2 multi-box">
                        <div class="row mb20">
                            <div class="anti mr20">@ViewBag.resLang["preparetheinfo"]</div>
                            <div>（一）@ViewBag.resLang["consultationweek"]　（二）@ViewBag.resLang["physicianid"]　（三）@ViewBag.resLang["medrecordnumber"]</div>
                        </div>
                        <div class="row">
                            <div class="anti mr20">@ViewBag.resLang["voiceline"]</div>
                            <div>
                                <div class="lh18 pt8">（一）@ViewBag.resLang["dialthevoice"]</div>
                                <div class="lh18">（二）@ViewBag.resLang["pleasepressthechi"]：1 /<span class="break">@ViewBag.resLang["pleasepressthetai"]：2</span></div>
                                <div class="lh18 row top">
                                    <div>（三）@ViewBag.resLang["tomakeanappointment"]：1　<span class="break">@ViewBag.resLang["forinquiries"]：2　</span></div>
                                    <div class="pad">
                                        →（1）@ViewBag.resLang["reginfoinq"] <br>
                                        →（2）@ViewBag.resLang["spqcificphysician"] <br>
                                        →（3）@ViewBag.resLang["querythedoctorcode"] <br>
                                    </div>
                                </div>
                                <div class="lh18"> 　　　@ViewBag.resLang["tocancal"]：3 <br></div>
                                <div class="lh18">（四）@ViewBag.resLang["fortherest"]</div>
                            </div>
                        </div>
                    </div>
                </div><a class="f24 info-btn anti" href="~/Register/@thisHospital.Loc">@ViewBag.resLang["registeronlinenow"]</a>
            </div>
        </div>
    </div>
</div>
