﻿@using Web.Models;
@using Web.Services;
@{
    GetServiceData AppData = new GetServiceData();
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    List<ProgressDataModel> ProgressData = (List<ProgressDataModel>)ViewBag.ProgressData;


    ViewBag.Title = thisHospital.hospitaName + "|看診進度";
    List<string> doctorID = new List<string>();

    int i = 0;


    List<ProgressInfoModel> ProgressInfo = (List<ProgressInfoModel>)ViewBag.ProgressInfo;
}
<div class="progress">
    <div id="dashboard">
        <div class="dashboard__main">
            <div class="dashboard__row">
                <div class="icon-1"></div><span class="f20 wide20">@thisHospital.hospitaName</span>
                <div class="dashboard__btn f18"><a href="~/Register/@thisHospital.Loc" class="active">@ViewBag.resLang["register"]</a><a href="~/Register_video/@thisHospital.Loc">@ViewBag.resLang["video"]</a><a href="~/Query/@thisHospital.Loc">@ViewBag.resLang["demand"]</a><a href="~/Progress/@thisHospital.Loc">@ViewBag.resLang["schedule"]</a><a href="~/Info/@thisHospital.Loc">@ViewBag.resLang["directions"]</a></div>
                <select class="tri" id="changeHospital">
                    <option disabled selected hidden>Registration Information</option>
                    @if (ViewBag.Hospitals != null)
                    {
                        foreach (HospitalModel item in Hospitals)
                        {
                            <option value="@item.Loc" @if (thisHospital.Loc == item.Loc) { @Html.Raw("selected") }>@item.hospitaName</option>
                        }
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="container pt40 pr24 pl24">
        <div class="f24 b mb24 pl20">@ViewBag.resLang["consultationprogressquery"]</div>
        <div class="box-wrapper mb40 pt20 pb20">





            <ul class="list nostyle lh20">

                @if (ViewBag.ProgressInfo != null)
                {
                    foreach (ProgressInfoModel item in ProgressInfo)
                    {
                        <li>@Html.Raw(item.NM)</li>
                    }

                }


            </ul>
        </div>
    </div>
    <div class="tab-list f17 container"><a class="tab-btn active" data-progress-tab="progress-tab-1">@ViewBag.resLang["sectionquery"]</a><a class="tab-btn" data-progress-tab="progress-tab-2">@ViewBag.resLang["enteridentity"]</a></div>
    <div class="section gray pb56 pt32">
        <div class="container tab-pane" id="progress-tab-1">
            <form class="progress__controller pt32 pb32 pr40 pl40" action="~/Progress/@thisHospital.Loc" method="get">
                <div class="row f15">
                    <span class="wide10 mr16">@ViewBag.resLang["selectrd"]</span>
                    <div class="wrapper select">
                        <select class="std tri" name="dept">
                            @if (ViewBag.DeptsGroups != null)
                            {
                                foreach (IEnumerable<DeptModel> item in ViewBag.DeptsGroups)
                                {
                                    DeptModel DeptsGroupData = item.FirstOrDefault();

                                    if (DeptsGroupData != null)
                                    {
                                        string selected = "";
                                        if (ViewBag.deptGroupID == DeptsGroupData.deptGroupID)
                                        {
                                            selected = "selected";
                                        }

                                        <option value="@DeptsGroupData.deptGroupID" @selected>@DeptsGroupData.deptGroupName</option>

                                        i++;
                                    }
                                }
                            }
                        </select>
                    </div>
                    <div class="wrapper select">
                        <select class="std tri" name="time">
                            <option value="1" @if (ViewBag.opdTimeID == "1") { @Html.Raw("selected") }>@ViewBag.resLang["am"]</option>
                            <option value="2" @if (ViewBag.opdTimeID == "2") { @Html.Raw("selected") }>@ViewBag.resLang["pm"]</option>
                            <option value="3" @if (ViewBag.opdTimeID == "3") { @Html.Raw("selected") }>@ViewBag.resLang["nt"]</option>
                        </select>
                    </div>
                    <button class="f18" type="submit">@ViewBag.resLang["inquire"]</button>
                </div>
            </form>
            <div class="md-noPadding pr24 pl24">
                <div class="mt48 pt32" style="border-top: 1px solid #dfdfdf; color: #555">
                    <div class="row f18 lh20 mb12 mt4 table-title"><span class="mr48">@ViewBag.resLang["cpqr"]</span><span>@DateTime.Now.ToString("yyyy/MM/dd tt hh:mm:ss", System.Globalization.CultureInfo.InvariantCulture)</span></div>
                    <table class="table wide10 two-tone forth-type">
                        <thead>
                            <tr>
                                <th>@ViewBag.resLang["registrationdepartment"] </th>
                                <th>@ViewBag.resLang["visitinglocation"] </th>
                                <th>@ViewBag.resLang["physician name"] </th>
                                <th>@ViewBag.resLang["currentvisitnumber"] </th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (ProgressData != null)
                            {
                                foreach (ProgressDataModel item in ProgressData)
                                {
                                    if (!string.IsNullOrEmpty(item.deptName) && doctorID.IndexOf(item.doctorID) == -1)
                                    {
                                        doctorID.Add(item.doctorID);

                                        <tr>
                                            <td data-title="@item.deptName">@item.deptName</td>
                                            <td class="fool" data-title="@item.roomLocation @item.roomID @item.roomName">
                                                <div>@item.roomLocation @item.roomID @item.roomName</div>
                                            </td>
                                            <td data-title="@item.doctorName">@item.doctorName</td>
                                            <td class="f20 orange" data-title="@item.calledNumber">@item.calledNumber </td>
                                        </tr>
                                    }

                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="4">@ViewBag.resLang["findnoinfo"]</td>
                                </tr>

                            }




                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container tab-pane" id="progress-tab-2">
            <form class="lh20" id="ProgressForm" method="post" action="">
                @Html.AntiForgeryToken()
                <input type="hidden" name="hospitalID" id="hospitalID" value="@thisHospital.Loc">
                <input type="hidden" name="patNumber" id="patNumber" value="">
                <div class="progress_checkin pl24 mb24">
                    <label class="radio_unit">
                        <input type="radio" name="isFirst" value="N" checked><span>
                            <div class="f18">@ViewBag.resLang["followup"]</div>
                            <div class="f15">@ViewBag.resLang["pleaseenteridcardnumber"]</div>
                        </span>
                    </label>
                    <label class="radio_unit">
                        <input type="radio" name="isFirst" value="Y"><span>
                            <div class="f18">@ViewBag.resLang["firstvisit"]</div>
                            <div class="f15">@ViewBag.resLang["pleaseresidencepermit"]</div>
                        </span>
                    </label>
                </div>
                <div class="progress_id pt40 pb40 pr72 pl72">
                    <div class="row mb24 radio">
                        <label class="radio_unit">
                            <input type="radio" name="idType" value="2" class="idType" checked><span>@ViewBag.resLang["idcardnumber"]</span>
                        </label>
                        <label class="radio_unit">
                            <input type="radio" name="idType" value="1" class="idType"><span>@ViewBag.resLang["medicalrecordnumber"]</span>
                        </label>
                        <label class="radio_unit">
                            <input type="radio" name="idType" value="3" class="idType"><span>@ViewBag.resLang["passportnumber"]</span>
                        </label>
                        <label class="radio_unit">
                            <input type="radio" name="idType" value="4" class="idType"><span>@ViewBag.resLang["residencepermitnumber"]</span>
                        </label>
                        <label class="radio_unit">
                            <input type="radio" name="idType" value="5" class="idType"><span>@ViewBag.resLang["entryandexitpermitnumber"]</span>
                        </label>
                    </div>
                    <input class="std mb16 w100" type="text" name="idNumber" required placeholder="@ViewBag.resLang["pleaseenterthecn"]">
                    <div class="row birth mb16">
                        <input class="std w100" type="text" name="birthday" id="birthday" required placeholder="@ViewBag.resLang["pleaseenterbth"]"><span class="f16">@ViewBag.resLang["exbth"]</span>
                    </div>
                    <div class="row mb40 verify">
                        <input class="std mr8" type="text" name="verification" placeholder="@ViewBag.resLang["pleaseentervc"]"><img class="mr8" id="captcha" src="@Url.Content("~/Content/BuildCaptcha.aspx")" alt="長庚醫療財團法人"><span>@ViewBag.resLang["refresh"]</span>
                    </div>
                    <div class="row submit fc">
                        <div>
                            <button class="btn f18 mr20 btn-main submitBut" type="submit">@ViewBag.resLang["inquire"]</button>
                            <button class="btn f18 btn-main" type="reset">@ViewBag.resLang["refill"]</button>
                        </div>
                    </div>
                </div>
            </form>
            <div class="md-noPadding pr24 pl24">
                <div class="mt48 pt32" id="regView" style="border-top: 1px solid #dfdfdf;display:none;">
                    <div class="row f18 lh20 mb12 mt4 table-title">
                        <span class="mr48">@ViewBag.resLang["cpqr"]</span><span id="nowTime">2018/07/16 PM 03:34:56</span>
                        <h2 class="sr-only">@ViewBag.resLang["cpq"]</h2>
                    </div>
                    <table class="table wide10 two-tone forth-type">
                        <thead>
                            <tr>
                                <th>@ViewBag.resLang["registrationdepartment"] </th>
                                <th>@ViewBag.resLang["visitinglocation"] </th>
                                <th>@ViewBag.resLang["physician name"] </th>
                                <th>@ViewBag.resLang["currentvisitnumber"] </th>
                            </tr>
                        </thead>
                        <tbody id="regViewList"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/validation/jquery.validate.js")
    @Scripts.Render("~/Scripts/validation/messages_zh_TW.js")
}