﻿@using Web.Models;
@using Web.Services;
@{
    GetServiceData AppData = new GetServiceData();
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    ViewBag.Title = thisHospital.hospitaName + "掛號查詢";

    List<QueryInfoModel> QueryInfo = (List<QueryInfoModel>)ViewBag.QueryInfo;
}

<div class="query">
    <div id="dashboard">
        <div class="dashboard__main">
            <div class="dashboard__row">
                <div class="icon-1"></div><span class="f20 wide20" id="hospitaName">@Html.Raw(thisHospital.hospitaName)</span>
                <div class="dashboard__btn f18"><a href="~/Register/@thisHospital.Loc" class="active">@ViewBag.resLang["register"]</a><a href="~/Register_video/@thisHospital.Loc">@ViewBag.resLang["video"]</a><a href="~/Query/@thisHospital.Loc">@ViewBag.resLang["demand"]</a><a href="~/Progress/@thisHospital.Loc">@ViewBag.resLang["schedule"]</a><a href="~/Info/@thisHospital.Loc">@ViewBag.resLang["directions"]</a></div>
                <select class="tri" id="changeHospital">
                    <option disabled selected hidden>Registration Information</option>
                    @if (ViewBag.Hospitals != null)
                    {
                        foreach (HospitalModel item in Hospitals)
                        {
                            <option value="@item.Loc" @if (thisHospital.Loc == item.Loc) { @Html.Raw("selected") }>@item.hospitaName</option>
                        }
                    }

                </select>
            </div>
        </div>
    </div>
    <div class="container pt40 pr24 pl24">
        <div class="f24 b mb24 pl20">@ViewBag.resLang["riac"]</div>
        <h2 class="sr-only">Register Query or Cancel</h2>
        <div class="box-wrapper mb40 pt20 pb20">
            <ul class="list nostyle lh20">
                @if (ViewBag.QueryInfo != null)
                {
                    foreach (QueryInfoModel item in QueryInfo)
                    {
                        <li>@Html.Raw(item.NM)</li>
                    }

                }


            </ul>
        </div>
    </div>
    <div class="section gray pb56 pt32">
        <div class="container">
            <form class="lh20" id="QueryForm" method="post" action="">
                @Html.AntiForgeryToken()
                <input type="hidden" name="hospitalID" id="hospitalID" value="@thisHospital.Loc">
                <input type="hidden" name="patNumber" id="patNumber" value="">

                <div class="progress_checkin pl24 mb24">
                    <label class="radio_unit">
                        <input type="radio" name="isFirst" value="N" checked><span>
                            <div class="f18">Follow-up</div>
                            <div class="f15">(Please enter ID card number, medical record number or residence card number)</div>
                        </span>
                    </label>
                    <label class="radio_unit">
                        <input type="radio" name="isFirst" value="Y"><span>
                            <div class="f18">first visit</div>
                            <div class="f15">Please enter your ID number, passport number, residence permit number or entry-exit permit number)</div>
                        </span>
                    </label>
                </div>
                <div class="progress_id pt40 pb40 pr72 pl72">
                    <div class="row mb24 radio">
                        <label class="radio_unit">
                            <input type="radio" name="idType" value="2" class="idType" checked><span>ID card number</span>
                        </label>
                        <label class="radio_unit">
                            <input type="radio" name="idType" value="1" class="idType"><span>Medical record number</span>
                        </label>
                        <label class="radio_unit">
                            <input type="radio" name="idType" value="3" class="idType"><span>passport number</span>
                        </label>
                        <label class="radio_unit">
                            <input type="radio" name="idType" value="4" class="idType"><span>Residence Permit Number</span>
                        </label>
                        <label class="radio_unit">
                            <input type="radio" name="idType" value="5" class="idType"><span>Entry and exit permit number</span>
                        </label>
                    </div>
                    <input class="std mb16 w100" type="text" name="idNumber" required placeholder="Please enter the certificate number">

                    <div class="row birth mb16">
                        <input class="std w100" type="text" name="birthday" id="birthday" required placeholder="Please enter your birthday (year, month, day)"><span class="f16">[EX:19851125]</span>
                    </div>

                    <div class="row mb40 verify">
                        <input class="std mr8" type="text" name="verification" required placeholder="please enter verification code"><img class="mr8" id="captcha" src="@Url.Content("~/Content/BuildCaptcha.aspx")" alt="長庚醫療財團法人"><span>refresh</span>
                    </div>
                    <div class="row submit fc">
                        <div>
                            <button class="btn f18 mr20 btn-main submitBut" type="submit">inquiry</button>
                            <button class="btn f18 btn-main" type="reset">Refill</button>
                        </div>
                    </div>
                </div>
            </form>



            <div class="progress_result mt48 pt32" id="regView" style="border-top: 1px solid #dfdfdf;display:none;">
            </div>
            <div class="row f18 lh20 mb12 ml24"><button class="btn f18 btn-main" type="button" id="getudt" style="display:none;">First visit data sheet maintenance</button></div>
            <div class="row f18 lh20 mb12 ml24" id="showName"><span><sapn id="name">Newly diagnosed patient</sapn>  your registration information:</span></div>
            @*<table class="table wide10 two-tone query">
                    <thead>
                        <tr>
                            <th>院區</th>
                            <th>看診日期</th>
                            <th>診別</th>
                            <th>科別</th>
                            <th>醫師姓名	</th>
                            <th>序號</th>
                            <th>門診視訊</th>
                            <th>就診地點</th>
                            <th>預定看診時間</th>
                            <th>是否取消掛號</th>
                        </tr>
                    </thead>
                    <tbody id="regViewList">
                    </tbody>
                </table>*@
            <table class="table wide10 two-tone query">
                <thead>
                    <tr>
                        <th><br />Hospital</th>
                        <th><br />Date</th>
                        <th><br />Diagnosis</th>
                        <th><br />Division</th>
                        <th>Doctor</th>
                        <th><br />Serial number</th>
                        <th>Video</th>
                        <th><br />Questionnaire</th>
                        <th>Location</th>
                        <th>visit time</th>
                        <th>cancel registration</th>
                    </tr>
                </thead>
                <tbody id="regViewList">
                </tbody>
            </table>
        </div>
        <div class="pb56 pt32">
            <ul class="list nostyle lh20 b border-bottom pb40 mb32">
                <li>In order to save your precious time and reduce contact with the counter, we recommend you to use the medical finger payment APP as the payment method. Please use the App Store/Google Play to search for "medical finger payment" and watch the video of the medical finger payment operation(<a href='https://register1.cgmh.org.tw/refs/File/Doctor_refers_to_pay.mp4'>watch the video</a>)。</li>
            </ul>
            <div class="orange f24">Chang Gung Hospital wishes you good health and happiness</div>
        </div>


        <div class="lity-hide" id="modal-cancel">
            <form id="CancelForm" method="post" action="">
                @Html.AntiForgeryToken()
                <div class="cross_head"><img src="~/Styles/images/0-logo-white2.png" alt="長庚醫療財團法人"></div>
                <div class="pl40 pr40 pt56 pb56">
                    <div class="text f18 lh16 wide10">Please confirm again whether to cancel this registration</div>
                </div>
                <div class="cross_bottom pt24 pb32 pr12 pl12">
                    <button class="btn f18 btn-main CancelReg" data-value="" type="button" style="margin-right: 8px">Sure</button><a class="btn f18 btn-main modal-close">Cancel</a>
                </div>
            </form>
        </div>
        <div class="lity-hide" id="modal-video">
            <form id="OrderVideoForm" method="post" action="" style="overflow-y: scroll; height:500px;">

                @Html.AntiForgeryToken()
                <div class="cross_head"><img src="~/Styles/images/0-logo-white2.png" alt="長庚醫療財團法人"></div>
                @*<div class="pl40 pr40 pt56 pb56">
                        <div class="text f18 lh16 wide10">是否要預約門診視訊</div>
                    </div>*@
                @*<div class="pl20 pr20 pt20 pb20">

                    </div>*@

                @*//--電話 地址-------------*@
                <div class="pl20 pr20 pb20 ">
                    <div class="text f18 lh16">請確認是否要預約門診視訊</div>
                    <div class="row">  1.請輸入可連絡到的市話或手機號碼(必填) <input class="std mb9" type="text" name="tel4" id="tel4"></div>
                    @*<input class="std" type="text" name="tel1" id="tel1" @required><span>- </span>
                        <input class="std main" type="text" name="tel2" id="tel2" @required><span class="xl">分機</span>*@

                    <div class="row">  (範例：聯絡電話 <a href="tel:03-3196200">03-3196200#123 </a>或 <a href="tel:0975123456">09-75123456 </a>)</div>
                    <div class="row">  2.需要郵寄處方箋請輸入地址-郵寄地址</div>
                    @*<div class="row">  </div>*@
                    <select class="tri" name="city4" id="city4">
                        <option selected value="">選擇縣市</option>
                        @foreach (TaiwanModel item in (List<TaiwanModel>)ViewBag.TaiwanCity)
                        {
                            <option value="@item.city">@item.city</option>
                        }


                    </select>
                    <select class="tri" id="district4" name="district4">
                        <option selected value="">選擇區/鎮/鄉</option>
                    </select>

                    <input class="std mb9" type="text" name="address4" id="address4">
                    <input class="std mb9" type="text" name="lane4" id="lane4" style="width:150px;"> <span>巷</span>
                    <input class="std mb9" type="text" name="do4" id="do4" style="width:200px;"><span>弄</span>

                    <input class="std mb9" type="text" name="no4" id="no4" style="width:100px;"><span>號</span>
                    <input class="std mb9" type="text" name="floor4" id="floor4" style="width:150px;"><span>樓之</span>
                    <input class="std mb9" type="text" name="floor_no4" id="floor_no4" style="width:200px;">
                    @*//20220517圖片上傳*@
                    <div class="row">
                        3.資料上傳專區  (快篩陽性確認或確診居家照護個案)
                    </div>
                    <div class="row">
                        請勾選您的身分別並上傳相關資料
                    </div>
                    <div class="row">
                        <input type="radio" name="picidType" id="picidType0" value="0" class="picidType" style="width:20px;height:20px;" checked>非下列狀況個案

                    </div>
                    <div class="row">
                        <input type="radio" name="picidType" id="picidType1" value="1" class="picidType" style="width:20px;height:20px;">     快篩陽性個案：  @*(限65歲以上、居家隔離、自主防疫、居家檢疫期間者)*@
                    </div>
                    <div class="row">
                        請輸入您的檢測日期(快篩陽性個案必填)： <input class="std mb9" type="text" name="type1_date_y" id="type1_date_y" value="2022" maxlength="4" style="width:100px;"> 年<input class="std mb9" type="text" name="type1_date_m" id="type1_date_m" maxlength="2" style="width:60px;">月<input class="std mb9" type="text" name="type1_date_d" id="type1_date_d" maxlength="2" style="width:60px;">日
                    </div>
                    <div class="col-12 col-md-6 mx-auto" style="padding: 0px 0px 0px 20px; ">
                        (1) 您的檢測卡匣/片(需寫受測者姓名及檢測日期)及健保卡一同拍照之影像。上傳影像(檔案格式：JPG、JPEG、PNG 2M以下)
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 mx-auto">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" data-target="file-uploader1" id="file-uploader1" name="file-uploader1">
                                <label class="custom-file-label" for="customFile"></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mx-auto" style="padding: 0px 0px 0px 20px;">
                        (2)居家隔離、自主防疫或居家檢疫相關政府文件或通知之影像(隔離通知書、健保快易通確診資訊或衛生局簡訊通知畫面等)上傳影像(檔案格式：JPG、JPEG、PNG 2M以下)
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 mx-auto">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input2" data-target="file-uploader2" id="file-uploader2" name="file-uploader2">
                                <label class="custom-file-label" for="customFile"></label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="radio" name="picidType" id="picidType2" value="2" class="picidType" style="width:20px;height:20px;">  確診居家照護個案：請上傳確診資料影像(隔離通知書、健保快易通確診資訊或衛生局簡訊通知畫面等)
                        上傳影像(檔案格式：JPG、JPEG、PNG 2M以下)
                    </div>
                    <div class="row">
                        請輸入您的隔離日期(確診居家照護個案必填)： <input class="std mb9" type="text" name="type2_date_y" id="type2_date_y" value="2022" maxlength="4" style="width:100px;"> 年<input class="std mb9" type="text" name="type2_date_m" id="type2_date_m" maxlength="2" style="width:60px;">月<input class="std mb9" type="text" name="type2_date_d" id="type2_date_d" maxlength="2" style="width:60px;">日
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6 mx-auto">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input3" data-target="file-uploader3" id="file-uploader3" name="file-uploader3">
                                <label class="custom-file-label" for="customFile"></label>
                            </div>
                        </div>
                    </div>
                    @*<input type="text" name="upfile1" id="upfile1" value="">
                        <input type="text"  name="upfile2" id="upfile2" value="">
                        <input type="text" name="upfile3" id="upfile3" value="">*@
                    @*<input type="hidden" name="upfile1" id="upfile1" value="">
                        <input type="hidden" name="upfile2" id="upfile2" value="">
                        <input type="hidden" name="upfile3" id="upfile3" value="">*@

                </div>
                @*<div class="pl20 pr20 pb32">
                        <div class="sub"></div>
                        <div class="f15">(範例：聯絡電話 <a href="tel:03-3196200">03-3196200#123 </a>或 <a href="tel:0975123456">09-75123456 </a>)</div>
                    </div>*@
                @*<div class="row pl20 mb24 line ps">*@

                @*<div class="pl20 pr20 pb32">
                    </div>
                    <div class="pl20 pr20 pb32">

                    </div>*@





                @*//----------------------*@


                <div class="cross_bottom pt24 pb32 pr12 pl12">
                    <button class="btn f18 btn-main OrderVideo" data-value="" type="button" style="margin-right: 8px">Sure</button><a class="btn f18 btn-main modal-close">Cancel</a>
                </div>
            </form>
        </div>
        <div class="lity-hide" id="modal-videourl">
            <form id="OrderVideoUrlForm" method="post" action="">
                @Html.AntiForgeryToken()
                <div class="cross_head"><img src="~/Styles/images/0-logo-white2.png" alt="長庚醫療財團法人"></div>
                <div class="pl40 pr40 pt56 pb56">
                    <div class="text f18 lh16 wide10">Entry/wait for consultation (entry is allowed 60 minutes before scheduled consultation time)</div>
                    <div class="text f18 lh16 wide10">After entering the video screen, please wait for the doctor to enter.</div>
                </div>
                <div class="cross_bottom pt24 pb32 pr12 pl12">
                    <button class="btn f18 btn-main OrderVideoUrl" data-value="" type="button" style="margin-right: 8px">Sure</button><a class="btn f18 btn-main modal-close">Cancel</a>
                </div>
            </form>
        </div>



    </div>
</div>

@section scripts {
    @Scripts.Render("~/Scripts/validation/jquery.validate.js")
    @Scripts.Render("~/Scripts/validation/messages_zh_TW.js")



}