﻿@using Web.Models;
@using Web.Services;
@{
    GetServiceData AppData = new GetServiceData();
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    ViewBag.Title = thisHospital.hospitaName + "|各科門診看診病症";
    List<DPTModel> DPT = (List<DPTModel>)ViewBag.DPT;
    List<DPTSubModel> DPTSub = (List<DPTSubModel>)ViewBag.DPTSub;


}

<div class="reference">
    <div class="landing pt88 pb80" style="background-image: url('~/Styles/images/0-bgc.jpg')">
        <div class="container pt80 tc">
            <h2 class="title pb40 f32 wide30">Diagnosis of diseases in various clinics</h2>
            <div class="reference_card f20 wide10">

                @if (ViewBag.DPT != null)
                {
                    int i = 1;
                    foreach (DPTModel item in DPT)
                    {

                        if (i > 7) { i = 1; }

                        <a class="card" href="#reference_anchor_@item.BIGDPTNO" style="background-image: url('@Url.Content("~/Styles/images/reference-0"+i+".jpg")')">@item.BIGDPT</a>

                        i++;
                    }
                }


            </div>
        </div>
    </div>
    <div class="section gray pb64 pt40">
        <form method="post" action="" id="ReferenceForm">
            @Html.AntiForgeryToken()
            @if (ViewBag.DPT != null)
            {

                foreach (DPTModel item in DPT)
                {

                    List<DPTSubModel> FindItem = DPTSub.FindAll(x => x.DTLDPNO.StartsWith(item.BIGDPTNO)).ToList();

                    if (FindItem != null && FindItem.Count > 0)
                    {


                        <div id="reference_anchor_@item.BIGDPTNO"></div>
                        <div class="container">
                            <div class="f28 mb32 title-play"><img src="~/Styles/images/0-play.svg"><span class="b">@item.BIGDPT</span></div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            <div>Department</div>
                                            <div class="sub">（Click to query the disease description by category）</div>
                                        </th>
                                        <td>Description of diseases by category</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (DPTSubModel subItem in FindItem)
                                    {
                                        <tr>
                                            <th>
                                                <a href="javascript:void(0);" class="GetHospital" data-no="@subItem.DTLDPNO" data-sub="@subItem.DTLDP">@subItem.DTLDP</a>

                                            </th>
                                            <td>@subItem.XDESC</td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>

                    }
                }
            }
            <a href="#modal-cross" class="openModel" style="display:none;" data-lity></a>
            </form>
    </div>

    <div class="lity-hide" id="modal-cross">
        <div class="cross_head"><img src="~/Styles/images/0-logo-white2.png" alt="長庚醫療財團法人"></div>
        <div class="pl40 pr40 pt32">
            <div class="f20 red b mb24">Please select a hospital</div>
            <div id="hospitalList">

            
               

            </div>
         
        </div>
       
    </div>

</div>



