﻿@using Web.Models;
@using Web.Services;
@{
    GetServiceData AppData = new GetServiceData();
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    ViewBag.Title = thisHospital.hospitaName + "網路掛號";
}
@*//不呈現Layout*@
@{
    Layout = null;
}


@*//測試用頁面之一*@
<div class="pt40 pr24 pl24 md-noPadding">
    <div class="pr24 pl24 md-noPadding">
        @if (ViewBag.GetWS143 != null)
        {
            foreach (WS143Model item in ViewBag.GetWS143)
            {
                <span style="font-size:1.2cm;"><font color="#FF0000">@item.NM</font></span>
            }
        }
    </div>
    @*<div class="f24 b mb24 pl20 wide20">掛號注意事項</div>*@
    @*<h2 class="sr-only">掛號注意事項</h2>*@
    @*<h2 class="sr-only">看診科別列表</h2>*@
    <div class="box-wrapper mb40 pt20 pb20">

        <ul class="list nostyle lh20">
            @if (ViewBag.HospitalInfo != null)
            {
                foreach (HospitalInfoModel item in ViewBag.HospitalInfo)
                {
                    @Html.Raw("<li>" + item.NM.Replace("<a", "<a target=\"_blank\" style=\"text-decoration:underline;\"") + "</li>")
                }
            }
        </ul>

    </div>

</div>

@section scripts {

    @Scripts.Render("~/Scripts/jQuery.print.js")
    <script>
    $(document).ready(function () {
        var asasWS245 = "N";
       @*@if (@ViewBag.GetWS245 != null)
        {
            foreach (WS245Model item in ViewBag.GetWS245)
            {
                if (item.isuse == "Y") {
                   @:asasWS245='Y';
                   }
            }
        }*@


        @*if (asasWS245 == "Y") {
            swal({
              title: "即日起，本院提供複診病人視訊診療服務，歡迎多加利用!",
              text: "",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "視訊門診掛號！",
                        closeOnConfirm: false,
                cancelButtonText: "取消"
            },
            function(){
               // swal("删除！", "你的虚拟文件已经被删除。", "success");
               // var linkstr = "http://mishengqiang.com/sweetalert/";
                var linkstr = "../Register_video/@thisHospital.Loc";
                 //window.open(linkstr);
                window.open(linkstr,'_self');
            });

       }*@
        @*swal({
  title: "即日起，本院提供複診病人視訊診療服務，歡迎多加利用!",
  text: "",
  type: "warning",
  showCancelButton: true,
  confirmButtonColor: "#DD6B55",
  confirmButtonText: "視訊門診掛號！",
            closeOnConfirm: false,
    cancelButtonText: "取消"
},
function(){
   // swal("删除！", "你的虚拟文件已经被删除。", "success");
   // var linkstr = "http://mishengqiang.com/sweetalert/";
     var linkstr = "/Register_video/@thisHospital.Loc";
                            window.open(linkstr);
});*@
    });

    </script>

}