﻿@using Web.Models;
@using Web.Services;
@{
    GetServiceData AppData = new GetServiceData();
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    ViewBag.Title = thisHospital.hospitaName + "網路掛號";
}

<div class="register">
    <div id="dashboard">
        <div class="dashboard__main">
            <div class="dashboard__row">
                <div class="icon-1"></div><span class="f20 wide20">@Html.Raw(thisHospital.hospitaName)</span>
                <div class="dashboard__btn f18"><a href="~/Register/@thisHospital.Loc" class="active">@ViewBag.resLang["register"]</a><a href="~/Register_video/@thisHospital.Loc">@ViewBag.resLang["video"]</a><a href="~/Query/@thisHospital.Loc">@ViewBag.resLang["demand"]</a><a href="~/Progress/@thisHospital.Loc">@ViewBag.resLang["schedule"]</a><a href="~/Info/@thisHospital.Loc">@ViewBag.resLang["directions"]</a></div>
                <select class="tri" id="changeHospital">
                    <option disabled selected hidden>Registration Service</option>
                    @if (ViewBag.Hospitals != null)
                    {
                        foreach (HospitalModel item in Hospitals)
                        {
                            <option value="@item.Loc" @if (thisHospital.Loc == item.Loc) { @Html.Raw("selected") }>@item.hospitaName</option>
                        }
                    }

                </select>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="pt40 pr24 pl24 md-noPadding">
                <div class="pr24 pl24 md-noPadding">
                    @if (ViewBag.GetWS143 != null)
                    {
                        foreach (WS143Model item in ViewBag.GetWS143)
                        {
                            <span style="font-size:1.2cm;"><font color="#FF0000">@item.NM</font></span>
                        }
                    }
                </div>
                <div class="f24 b mb24 pl20 wide20">Precautions</div>
                <h2 class="sr-only">Precautions</h2>
                <h2 class="sr-only">Subject list</h2>
                <div class="box-wrapper mb40 pt20 pb20">

                    <ul class="list nostyle lh20">
                        @if (ViewBag.HospitalInfo != null)
                        {
                            foreach (HospitalInfoModel item in ViewBag.HospitalInfo)
                            {
                                @Html.Raw("<li>" + item.NM.Replace("<a", "<a target=\"_blank\" style=\"text-decoration:underline;\"") + "</li>")
                            }
                        }
                    </ul>

                </div>
                <form class="register__doctor mb40" name="searchDoctorForm" method="get" action="">
                    <div class="icon-5 mr20"></div><span class="f20 default">Search Dept</span>
                    <div class="wrapper select">
                        <select class="tri" name="dep">
                            <option value="">ALL</option>
                            @if (ViewBag.DeptsGroupsTotal != null)
                            {
                                foreach (IEnumerable<DeptModel> item in ViewBag.DeptsGroupsTotal)
                                {
                                    DeptModel DeptsGroupData = item.FirstOrDefault();

                                    <option value="@DeptsGroupData.deptGroupID" @if (Request["dep"] != null && Request["dep"].ToString() == DeptsGroupData.deptGroupID) { @Html.Raw("selected") }>@DeptsGroupData.deptGroupName</option>
                                }
                            }



                        </select>
                    </div>
                    <div class="wrapper input">
                        <input class="autocomplete_input" type="text" autocomplete="off" name="name" value="@if (Request["name"] != null && Request["name"].ToString() != "") { @Html.Raw(Request["name"].ToString()) }" placeholder="Subject Name...">
                    </div>
                    <button class="btn" type="submit">Inquire</button>
                </form>
            </div>
        </div>
    </div>
    <div class="section gray">
        <div class="container">
            <div class="register-index pt32 pb100">



                @if (ViewBag.DeptsGroups != null)
                {
                    foreach (IEnumerable<DeptModel> item in ViewBag.DeptsGroups)
                    {
                        DeptModel DeptsGroupData = item.FirstOrDefault();

                        if (DeptsGroupData != null && DeptsGroupData.deptGroupID != "99") //99代表隱藏區
                        {

                            List<DeptModel> Depts = AppData.GetDept(thisHospital.Loc, DeptsGroupData.deptGroupID);//科別

                            if (Request["name"] != null && Request["name"].ToString() != "")
                            {
                                Depts = Depts.Where(m => m.deptName.Contains(Request["name"].ToString())).ToList();
                            }
                            if (Depts != null && Depts.Count > 0)
                            {
                                <div class="block__title f20 b">@DeptsGroupData.deptGroupName</div>
                                <ul class="nostyle register__block">

                                    @foreach (DeptModel subItem in Depts)
                                    {

                                        <li><a href="~/Department/@thisHospital.Loc/@subItem.deptID" class="useLoading">@subItem.deptName</a></li>
                                    }
                                </ul>
                            }
                        }

                    }

                }




            </div>
        </div>





    </div>
</div>



@section scripts {

    @Scripts.Render("~/Scripts/jQuery.print.js")
    <script>
    $(document).ready(function () {
        var asasWS245 = "N";
       @*@if (@ViewBag.GetWS245 != null)
        {
            foreach (WS245Model item in ViewBag.GetWS245)
            {
                if (item.isuse == "Y") {
                   @:asasWS245='Y';
                   }
            }
        }*@


        @*if (asasWS245 == "Y") {
            swal({
              title: "即日起，本院提供複診病人視訊診療服務，歡迎多加利用!",
              text: "",
              type: "warning",
              showCancelButton: true,
              confirmButtonColor: "#DD6B55",
              confirmButtonText: "視訊門診掛號！",
                        closeOnConfirm: false,
                cancelButtonText: "取消"
            },
            function(){
               // swal("删除！", "你的虚拟文件已经被删除。", "success");
               // var linkstr = "http://mishengqiang.com/sweetalert/";
                var linkstr = "../Register_video/@thisHospital.Loc";
                 //window.open(linkstr);
                window.open(linkstr,'_self');
            });

       }*@
        @*swal({
  title: "即日起，本院提供複診病人視訊診療服務，歡迎多加利用!",
  text: "",
  type: "warning",
  showCancelButton: true,
  confirmButtonColor: "#DD6B55",
  confirmButtonText: "視訊門診掛號！",
            closeOnConfirm: false,
    cancelButtonText: "取消"
},
function(){
   // swal("删除！", "你的虚拟文件已经被删除。", "success");
   // var linkstr = "http://mishengqiang.com/sweetalert/";
     var linkstr = "/Register_video/@thisHospital.Loc";
                            window.open(linkstr);
});*@
    });

    </script>

}