﻿@using Web.Models;
@using Web.Services;
@{
    GetServiceData AppData = new GetServiceData();
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    ViewBag.Title = thisHospital.hospitaName + "看診病症參考";

    List<DoctorProfileModel> DoctorProfile = (List<DoctorProfileModel>)ViewBag.DoctorProfile;
    List<DoctorProfileSubModel> DoctorSubProfile = ViewBag.DoctorSubProfile;
    List<RelatedModel> Related = ViewBag.Related;
}

<div class="symptom">
    <div class="landing pt88 pb120" style="background-image: url('~/Styles/images/0-bgc.jpg')">
        <div class="container pt80 tc">
            <h2 class="title pb40 f32 wide20">Various disease-related consultation department references</h2>
            <div class="symptom_index f20 pt12 pb12 pr48 pl48">
                <div class="wrapper">
                    <div class="bgc-line"></div>
                    <div class="bgc-line"></div>
                    <div class="bgc-line"></div>
                    <div class="bgc-line"></div>
                    <div class="bgc-line"></div>
                    <div class="bgc-line"></div>
                    <div class="bgc-line"></div>
                    <div class="bgc-line"></div>
                    <div class="bgc-line"></div>
                    @if (ViewBag.DoctorProfile != null)
                    {
                        int i = 1;
                        foreach (DoctorProfileModel item in DoctorProfile)
                        {
                            string active = "";

                            if ((Request["no"] == null || Request["no"].ToString() == "") && i == 1)
                            {
                                active = "class=active";
                            }
                            else
                            {
                                if (Request["no"] != null && Request["no"].ToString() == item.DSNO)
                                {
                                    active = "class=active";
                                }

                            }
                            <a @Html.Raw(active) href="@Url.Content("~/")Symptom/@thisHospital.Loc?no=@item.DSNO">@item.DSNM</a>

                            i++;
                        }
                    }

                </div>
            </div>
        </div>
    </div>
    <form method="post" action="" id="ReferenceForm">
        @Html.AntiForgeryToken()
        @if (ViewBag.DoctorSubProfile != null)
        {
            <div class="section gray pb80 pt40">
                <div></div>
                <div class="container">
                    <div class="f28 mb32 title-play"><img src="~/Styles/images/0-play.svg"><span class="b">@ViewBag.DoctorProfileTitle</span></div>

                    @foreach (DoctorProfileSubModel item in DoctorSubProfile)
                    {
                        string[] info = item.DSDDESC.ToString().Split('|');

                        <div class="suggest f18">
                            <ul class="num-indent nostyle pt20 pb24 mb40 lh18 f18">
                                @for (int i = 0; i < info.Length; i++)
                                {
                                    <li>@info[i]</li>
                                }

                            </ul>
                            <div class="suggest_refer ml56 pb20">
                                <span class="b wide10">Suggested consultation</span>
                                <!--@item.DPTS-->

                                @if (ViewBag.Related != null)
                                {
                                    int i = 0;
                                    foreach (RelatedModel subItem in Related)
                                    {
                                        string viewNext = "、";
                                        if (i >= (Related.Count - 1))
                                        {
                                            viewNext = "";
                                        }

                                        <a href="javascript:void(0);" class="GetHospital" data-sub="@subItem.rgsdptcnm"><span class="orange">@subItem.rgsdptcnm@viewNext</span></a>

                                        i++;
                                    }

                                }

                            </div>
                        </div>
                    }

                </div>
            </div>
        }
        </form>
        <a href="#modal-cross" class="openModel" style="display:none;" data-lity></a>
        <div class="lity-hide" id="modal-cross">
            <div class="cross_head"><img src="~/Styles/images/0-logo-white2.png" alt="長庚醫療財團法人"></div>
            <div class="pl40 pr40 pt32">
                <div class="f20 red b mb24">Please select a hospital</div>
                <div id="hospitalList">




                </div>

            </div>

        </div>
</div>
