﻿@using Web.Models;
@using Web.Services;
@{
    GetServiceData AppData = new GetServiceData();
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    ViewBag.Title = thisHospital.hospitaName + "掛號說明";
}


<div class="info">
    <div id="dashboard">
        <div class="dashboard__main">
            <div class="dashboard__row">
                <div class="icon-1"></div><span class="f20 wide20">@Html.Raw(thisHospital.hospitaName)</span>
                <div class="dashboard__btn f18"><a href="~/Register/@thisHospital.Loc" >網路掛號</a><a href="~/Query/@thisHospital.Loc">掛號查詢</a><a href="~/Progress/@thisHospital.Loc">看診進度</a><a href="~/Info/@thisHospital.Loc" class="active">掛號說明</a></div>
                <select class="tri" id="changeHospital">
                    <option disabled selected hidden>各院區掛號服務</option>
                    @if (ViewBag.Hospitals != null)
                    {
                        foreach (HospitalModel item in Hospitals)
                        {
                            <option value="@item.Loc" @if (thisHospital.Loc == item.Loc) { @Html.Raw("selected") }>@item.hospitaName</option>
                        }
                    }

                </select>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="pt40 pr24 pl24 md-noPadding">
                <div class="f24 b mb24 pl20">掛號說明</div>
                <h2 class="sr-only">掛號相關規定說明</h2>
                <div class="box-wrapper mb40 pt40 pb56">
                    <div class="f20 orange b mb8">電話掛號</div>
                    <ul class="list nostyle lh20 b border-bottom pb40 mb32">
                        @*<li><span>語音電話掛號：</span>070-100-55-992　全天開放（預約隔日者 21：00 截止）</li>*@
                        <li>
                            <span>掛當日門診：</span>上午診 08：00～10：30 / 下午診 08：00～15：30 / 夜診 08：00～19：00
                        </li>
                        @*<li> <span>人工電話掛號：</span>（03）319-6003   週一至週五08：00~16：00</li>*@
                        @*<li> <span>人工智能掛號專線：</span>市話直撥412-8081，手機撥打（02）412-8081 ，服務時間：全年24小時</li>*@
                        <li> <span>24 小時人工智能掛號專線：</span>巿話直撥 412-8808(免加區碼)，手機撥打(02)412-8808  (本服務通話費率均以巿話計費)</li>
                    </ul>
                    <div class="f20 orange b mb8">現場掛號</div>
                    <ul class="list nostyle lh20 b mb32">
                        <li>預約掛號　08：00～16：00</li>
                        <li>掛當日門診</li>
                        <li>上午診　08：00～11：00</li>
                        <li>下午診　08：00～16：00</li>
                        <li>夜　診　08：00～19：30</li>
                    </ul>
                    <div class="red f16 b">說明</div>
                    <ul class="nostyle lh18 red f16 border-bottom pb56 mb32">
                        <li>1. 預約掛號期間為門診看診當日及看診前四週。</li>
                        <li>2. 預約掛號後未能來院看診時，請於一天前以電話取消，若三個月內有三次未到診紀錄者暫停受理電話（及網路）預約掛號，請至掛號櫃檯辦理掛號。</li>
                        <li>3. 初診病人請於預定看診時間前半小時攜身分證件至掛號櫃檯辦理手續。</li>
                        <li>4. 參考預定看診時間至診室依序號候診，看診後始繳掛號費。</li>
                        <li>5. 健保身分就醫時，請攜帶健保卡，未貼照片者，須攜帶身分證明文件，若為尚未報戶口之新生兒請攜帶出生證明以供核對。</li>
                        <li>6. 為節省您寶貴時間與減少臨櫃接觸，繳費方式推薦您利用醫指付APP，請利用App Store/Google Play搜尋「醫指付」，並觀看醫指付操作短片 (<a href='https://register1.cgmh.org.tw/refs/File/Doctor_refers_to_pay.mp4'>觀看影片</a>)。</li>
                    </ul>
                    <div class="f20 orange b mb8">看診時間</div>
                    <ul class="list nostyle lh20 b mb32">
                        <li>上午診　　08：30～11：30 (眼科08:00起先檢查後看診、美容醫學中心09：30起看診)</li>
                        <li>下午診　　13：30～16：30 (眼科13:00起先檢查後看診、美容醫學中心14：00起看診)</li>
                        <li>夜診　　　17：30～20：00 (眼科17:00起先檢查後看診)</li>
                    </ul>
                    <div class="red f16 b">說明</div>
                    <ul class="nostyle f16 lh20 red border-bottom pb40 mb32">
                        <li>請依預計到診時間至門診診間報到</li>
                    </ul>
                    <div class="f20 orange b mb8">服務專線</div>
                    <ul class="list nostyle lh20 b border-bottom pb40 mb32">
                        <li> <span>總機　　　　　　</span>（03）319-6200</li>
                        <li> <span>轉診服務　　　　</span> （03）319-6200轉3480/時間09:00-12:00(週一至週五) 13:00-16:00（週一至週五）</li>
                        <li> <span>醫師代號及看診時間查詢　　</span>（03）319-6200轉2038/時間09:00-12:00(週一至週六) 13:00-16:00（週一至週五）</li>
                    </ul>
                    <div class="f20 orange b mb8">收費標準</div>
                    <ul class="list nostyle lh20 multi">
                        <li class="f18 b">健保掛號費 </li>
                        <div class="multi-box">
                            <div class="red mb20">門診：西醫、中醫 150 元；牙醫 100 元（夜診及週六、日及國定假日診150元）；急診：300元</div>
                        </div>
                        <li class="f18 b">健保部分負擔費用 </li>
                        <div class="multi-box">
                            <div class="red mb20">門診：西醫80元（持健保特約機構轉診單、門診手術後或住院患者出院後三十日內之一次回診者50元）；中醫、牙醫50元；急診：150元</div>
                        </div>
                        <li class="f18 b">自費掛號費 </li>
                        <div class="multi-box">
                            <div class="red mb20">門診：西醫、中醫 150 元；牙醫 100 元（夜診及週六、日及國定假日診150元）；急診：300元</div>
                        </div>
                        <li class="f18 b">自費診療費 </li>
                        <div class="multi-box">
                            <div class="red mb20">門診：1.腦神經內科、精神科250元</div>
                            <div class="red mb20">  	2.中醫290元</div>
                            <div class="red mb20">  	3.美容醫學中心200元</div>
                            <div class="red mb20">  	4.非本國籍(國際醫療病患)1000元</div>
                            <div class="red mb20">急診：550元，非本國籍(國際醫療病患)1000元。（夜間及例假日加成20%）</div>
                        </div>
                        <li class="f18 b">說明 </li>
                        <div class="multi-box">
                            <div class="red mb20">1.持低收入卡，免收掛號費。</div>
                            <div class="red mb20">2.免部分負擔對象：重大傷病、分娩、預防保健服務、在山地離島地區門診者、第二及第三張慢性病連續處方箋、低收入戶、榮民、職業傷病者、三歲以下兒童者。</div>
                        </div>
                    </ul>
                    <div class="f20 orange b mb32">其他</div>
                    <div class="mix2 multi-box">
                        <div class="red mb20">1.醫師臨時休診、代診或有要事晚到，以各診室外公告為準。</div>
                        <div class="red mb20">2.申請證明書或報告者，請務必攜帶身分證件，向原診治醫師申請，除病患本人外，代領時需另帶委託書及身分證正、影本。</div>
                        <div class="red mb20">3.以保險身分看診時，請務必攜帶身分證件及保險證件。看診時請將身分證影本交予護士貼入病歷。</div>
                        <div class="red mb20">4.婚前健康檢查者請掛家庭醫學科。</div>
                        <div class="red mb20">5.本院收據得申報抵繳綜合所得稅。</div>
                    </div>
                    @*<div class="f20 orange b mb32">語音掛號作業操作指示</div>
        <div class="mix2 multi-box">
            <div class="row mb20">
                <div class="anti mr20">掛號前備妥右項資料</div>
                <div>（一）看診星期別　（二）醫師代號　（三）病歷號碼</div>
            </div>
            <div class="row">
                <div class="anti mr20">語音專線操作指示</div>
                <div>
                    <div class="lh18 pt8">（一）撥打語音專線：070-100-55-992</div>
                    <div class="lh18">（二）使用國語發音請按：1 /<span class="break">使用台語發音請按：2</span></div>
                    <div class="lh18 row top">
                        <div>（三）預約掛號請按：1　<span class="break">查詢掛號請按：2　</span></div>
                        <div class="pad">
                            →（1）已掛號資料查詢 <br>
                            →（2）特定醫師看診時間查詢 <br>
                            →（3）以看診科別查詢醫師代號 <br>
                        </div>
                    </div>
                    <div class="lh18"> 　　　取消掛號請按：3 <br></div>
                    <div class="lh18">（四）其餘請依語音指示操作</div>
                </div>
            </div>
        </div>*@
                </div><a class="f24 info-btn anti" href="~/Register/@thisHospital.Loc">馬上進行網路掛號</a>
            </div>
        </div>
    </div>
</div>
