﻿@using Web.Models;
@using Web.Services;
@{
    GetServiceData AppData = new GetServiceData();
    List<HospitalModel> Hospitals = (List<HospitalModel>)ViewBag.Hospitals;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
    ViewBag.Title = thisHospital.hospitaName + "掛號說明";
}


<div class="info">
    <div id="dashboard">
        <div class="dashboard__main">
            <div class="dashboard__row">
                <div class="icon-1"></div><span class="f20 wide20">@Html.Raw(thisHospital.hospitaName)</span>
                <div class="dashboard__btn f18"><a href="~/Register/@thisHospital.Loc" >網路掛號</a><a href="~/Query/@thisHospital.Loc">掛號查詢</a><a href="~/Progress/@thisHospital.Loc">看診進度</a><a href="~/Info/@thisHospital.Loc" class="active">掛號說明</a></div>
                <select class="tri" id="changeHospital">
                    <option disabled selected hidden>各院區掛號服務</option>
                    @if (ViewBag.Hospitals != null)
                    {
                        foreach (HospitalModel item in Hospitals)
                        {
                            <option value="@item.Loc" @if (thisHospital.Loc == item.Loc) { @Html.Raw("selected") }>@item.hospitaName</option>
                        }
                    }

                </select>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="container">
            <div class="pt40 pr24 pl24 md-noPadding">
                <div class="f24 b mb24 pl20">掛號說明</div>
                <h2 class="sr-only">掛號相關規定說明</h2>
                <div class="box-wrapper mb40 pt40 pb56">
                    <div class="f20 orange b mb8">電話掛號</div>
                    <ul class="list nostyle lh20 b border-bottom pb40 mb32">
                        @*<li> <span>語音電話掛號：</span>070-1080-3511　全天</li>*@
                        @*<li> <span>人工電話掛號：</span>（07）740-3380　08：00～16：00（週一至週五上班日）</li>*@
                        @*<li> <span>人工智能掛號專線：</span>市話直撥412-8890，手機撥打（02）412-8081 ，服務時間：全年24小時</li>*@
                        <li> <span>24 小時人工智能掛號專線：</span>巿話直撥 412-8808(免加區碼)，手機撥打(02)412-8808  (本服務通話費率均以巿話計費)</li>
                    </ul>
                    <div class="f20 orange b mb8">現場掛號</div>
                    <ul class="list nostyle lh20 b mb32">
                        <li>上午診　08：00～11：00</li>
                        <li>下午診　08：00～16：00</li>
                        <li>夜　診　08：00～19：30</li>
                    </ul>
                    <div class="red f16 b">說明</div>
                    <ul class="nostyle lh18 red f16 border-bottom pb56 mb32">
                        <li>1. 預約掛號期間為門診看診當日及看診前四週。</li>
                        <li>2. 預約掛號後未能來院看診時，請於一天前以電話取消，若三個月內有三次未到診紀錄者暫停受理電話（及網路）預約掛號，請至掛號櫃檯辦理掛號。</li>
                        <li>3. 初診病人請於預定看診時間前半小時攜身分證件至掛號櫃檯辦理手續。</li>
                        <li>4. 參考預定看診時間至診室依序號候診，看診後始繳掛號費。</li>
                        <li>5. 健保身分就醫時，請攜帶健保卡，未貼照片者，須攜帶身分證明文件，若為尚未報戶口之新生兒請攜帶出生證明以供核對。</li>
                        <li>6. 為節省您寶貴時間與減少臨櫃接觸，繳費方式推薦您利用醫指付APP，請利用App Store/Google Play搜尋「醫指付」，並觀看醫指付操作短片(<a href='https://register1.cgmh.org.tw/refs/File/Doctor_refers_to_pay.mp4'>觀看影片</a>)。</li>
                    </ul>
                    <div class="f20 orange b mb8">看診時間</div>
                    <ul class="list nostyle lh20 b mb32">
                        @*<li>自106年01月03日起，看診時間如下：</li>
                <li>上午診　　08：30～11：30</li>
                <li>下午診　　13：30～16：30</li>
                <li>夜診　　　17：30～20：00</li>
                <li>體檢　　　週一至週五 上午 08:30～11:00；請先於一樓掛號後再至三樓體檢室報到</li>*@
                        <li>※急診 24小時</li>
                        <li>※門診</li>
                        <li>上午診　　08：30～11：30</li>
                        <li>下午診　　13：30～16：30</li>
                        <li>夜診　　　17：30～20：00</li>
                        <li>體檢　　　週一至週五 上午 08:30～11:00；請先於一樓掛號後再至三樓體檢室報到</li>
                        @*<li>體檢　　　依高雄市政府衛生局2022.01.07「Omicron疫情來勢洶洶 高雄市啟動第一波醫院加嚴管制措施」新聞稿，本院配合暫停一般體檢及到院勞工健康檢查等常規體檢服務。</li>*@
                    </ul>
                    <div class="red f16 b">說明</div>
                    <ul class="nostyle f16 lh20 red border-bottom pb40 mb32">
                        <li>請依預計到診時間至門診診間報到</li>
                    </ul>
                    <div class="f20 orange b mb8">服務專線</div>
                    <ul class="list nostyle lh20 b border-bottom pb40 mb32">
                        <li> <span>總機　　　　　　</span>（07）741-8151</li>
                        <li>
                            <span>醫院諮詢轉介中心</span>（07）741-8151 # 3319　/ 時間　週一至週五 上午08：30～11：30；下午13：30～16：30

                        </li>
                        <li> <span>居家護理服務　　</span>（07）741-8151 # 3348　/ 時間 週一至週五　08：00～16：00</li>
                    </ul>
                    <div class="f20 orange b mb8">收費標準</div>
                    <ul class="list nostyle lh20 multi">
                        <li class="f18 b">健保身分 </li>
                <div class="multi-box">
                    <div class="red mb20">掛號費 70 元 急診150元</div>
                    <div class="red mb20">1. 基本部分負擔費用<br>牙科門診 50 元，西醫各科門診 80 元、急診 150 元<br>（免基本部分負擔對象包括重大傷病、預防保健服務、持慢性病連續處方箋者、低收入戶、榮民、職業傷病者、三歲以下兒童者） <br>2. 藥品部分負擔費用 0～200 元（免門診藥品部分負擔對象：慢性病連續處方箋調劑者、牙醫就診者 。） <br>3. 藥費部分負擔明細如下表：</div>
                    <table class="table-border mb32">
                        <thead>
                            <tr>
                                <td class="b" colspan="5">基本部分負擔費用(106.4.15起)</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="lg">
                                <td>藥 品 費 用	</td>
                                <td>應自行負擔費用	</td>
                                <td>藥 品 費 用	</td>
                                <td>應自行負擔費用</td>
                            </tr>
                            <tr>
                                <td>100 元以下	</td>
                                <td>0 元</td>
                                <td>601 元～700 元</td>
                                <td>120 元</td>
                            </tr>
                            <tr>
                                <td>101 元～200 元</td>
                                <td>20 元</td>
                                <td>701 元～800 元</td>
                                <td>140 元</td>
                            </tr>
                            <tr>
                                <td>201 元～300 元</td>
                                <td>40 元</td>
                                <td>801 元～900 元</td>
                                <td>160 元</td>
                            </tr>
                            <tr>
                                <td>301 元～400 元</td>
                                <td>60 元</td>
                                <td>901 元～1000 元</td>
                                <td>180 元</td>
                            </tr>
                            <tr>
                                <td>401 元～500 元</td>
                                <td>80 元</td>
                                <td>1000 元以上</td>
                                <td>200 元以上</td>
                            </tr>
                            <tr>
                                <td>501 元～600 元</td>
                                <td>100 元</td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>

                    </table>
                    </div>
                        
                </div>
                <li class="f18 b mb16">自費部份掛號費</li>
                <div class="multi-box">
                    <div class="row mb20">
                        <div class="anti mr20">掛號費</div>
                        <div>門診100 元、夜診及假日診(含週六、日及國定假日)150元、急診270 元</div>
                    </div>
                    <div class="row">
                        <div class="anti mr20">診療費</div>
                        <div class="pt4 mb8">
                            1.門診：70元、急診：150 元。 <br>
                            2.診療費 <br>	-1.	門診：200元起。國際醫療(非本國籍、或無法出具身分證名為本國籍者)：1000 <br>
                            -2.	急診：550元。國際醫療(非本國籍、或無法出具身分證名為本國籍者)：1000元 <br>
                            -3.	依就醫實際發生金額計收。 <br>
                            3.說明　70歲以上者，免收掛號費。 <br>

                        </div>
                    </div>
                </div>
                <li class="f18 b border-bottom pb40 mb32">持低收入卡，免收掛號費及基本部分負擔費用</li>
                </ul>
                @*<div class="f20 orange b mb32">語音掛號作業操作指示</div>
        <div class="mix2 multi-box">
            <div class="row mb20">
                <div class="anti mr20">掛號前備妥右項資料</div>
                <div>（一）看診星期別　（二）醫師代號　（三）病歷號碼</div>
            </div>
            <div class="row">
                <div class="anti mr20">語音專線操作指示</div>
                <div>
                    <div class="lh18 pt8">（一）撥打語音專線：070-1080-3511</div>
                    <div class="lh18">（二）使用國語發音請按：1 /<span class="break">使用台語發音請按：2</span></div>
                    <div class="lh18 row top">
                        <div>（三）預約掛號請按：1　<span class="break">查詢掛號請按：2　</span></div>
                        <div class="pad">
                            →（1）已掛號資料查詢 <br>
                            →（2）特定醫師看診時間查詢 <br>
                            →（3）以看診科別查詢醫師代號 <br>
                        </div>
                    </div>
                    <div class="lh18"> 　　　取消掛號請按：3 <br></div>
                    <div class="lh18">（四）其餘請依語音指示操作</div>
                </div>
            </div>
        </div>*@
            </div><a class="f24 info-btn anti" href="~/Register/@thisHospital.Loc">馬上進行網路掛號</a>
            </div>
        </div>
    </div>
</div>
