﻿@using Web.Models;
@{ 
    Dictionary<String, String> actived = (Dictionary<string, string>)ViewBag.actived;
    HospitalModel thisHospital = (HospitalModel)ViewBag.thisHospital;
}
<!DOCTYPE html>
<html lang="zh-TW">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title - 長庚醫療財團法人 - 網路掛號系統</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta property="og:title" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta property="og:image" content="">
    <link rel="icon" type="image/x-icon" href="~/Styles/images/logo-small.png">
    @Styles.Render("~/Styles/css")
    @RenderSection("css", required: false)
    <script src="https://www.google.com/recaptcha/api.js"></script>

  
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-90543533-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-90543533-1');
    </script>
</head>
<body>

    <main class="wp">


        <div id="fixed-cover"></div>
        <div class="nav__pad"></div>
        <div id="nav">
            <div class="nav__logo">
                <h1 class="sr-only">網路掛號系統 - 長庚醫療財團法人</h1>
                <a href="https://www.cgmh.org.tw/">
                    <img class="all" src="~/Styles/images/0-logo-half.png" alt="長庚醫療財團法人"><img class="half" src="~/Styles/images/0-logo-sm-0201.png" alt="長庚醫療財團法人">
                </a>
                <a class="nav__logo-home" href="https://register.cgmh.org.tw"><span class="icon-6"></span><span class="text">registration</span></a>
            </div>
            <div class="nav__cover">
                <a href="~/" @try { if (actived.ContainsKey("index")) { @Html.Raw(actived["index"].ToString()) } } catch { }><span class="icon-1"></span><span>Choose a hospital</span></a>

                <a href="~/Reference/@try{if (thisHospital.Loc == null || thisHospital.Loc == string.Empty) {@Html.Raw("1")} else {@Html.Raw(thisHospital.Loc) }} catch { }" @try { if (actived.ContainsKey("Reference")) { @Html.Raw(actived["Reference"].ToString()) } } catch { }><span class="icon-2"></span><span>SPECIALTIES</span></a>
                <a href="~/Symptom/@if (thisHospital.Loc ==null || thisHospital.Loc == string.Empty) {@Html.Raw("1")}else {@Html.Raw(thisHospital.Loc) }" @try { if (actived.ContainsKey("Symptom")) { @Html.Raw(actived["Symptom"].ToString()) } } catch { }><span class="icon-3"></span><span>DISEASE</span></a>
                <a href="https://www.cgmh.org.tw/tw/Guide/Index" target="_blank"><span class="icon-4"></span><span>GUIDE</span></a>
                <a href="https://www.cgmh.org.tw/tw/Services/Team" target="_blank"><span class="icon-5"></span><span>DOCTORS</span></a>
                <a href="https://register.cgmh.org.tw/" target="_blank"><span class="icon-5"></span><span>中文</span></a>
                <a class="show-mobile" href="https://www.cgmh.org.tw/">
                    <span class="icon-6"></span>
                    <span>長庚全球資訊網</span>
                </a>

            </div>
            <div class="nav__toggle">
                <div class="one"></div>
                <div class="two"></div>
                <div class="three"></div>
            </div>
        </div>

        <!--
    <div id="fixed-cover"></div>
    <div class="nav__pad"></div>
    <div id="nav">
        <a class="nav__logo" href="~/">
            <h1 class="sr-only">網路掛號系統 - 長庚醫療財團法人</h1><img class="all" src="~/Styles/images/0-logo-xl-0201.png" alt="長庚醫療財團法人"><img class="half" src="~/Styles/images/0-logo-sm-0201.png" alt="長庚醫療財團法人">
        </a>
        <div class="nav__cover"><a href="~/" @if (actived.ContainsKey("index")) { @Html.Raw(actived["index"].ToString()) }><span class="icon-1"></span><span>選擇看診醫院</span></a>
            <a href="~/Reference/@if (thisHospital.Loc == null || thisHospital.Loc == string.Empty) {@Html.Raw("1")} else {@Html.Raw(thisHospital.Loc) }" @if (actived.ContainsKey("Reference")) { @Html.Raw(actived["Reference"].ToString()) }><span class="icon-2"></span><span>我要看哪一科</span></a>
            <a href="~/Symptom/@if (thisHospital.Loc ==null || thisHospital.Loc == string.Empty) {@Html.Raw("1")}else {@Html.Raw(thisHospital.Loc) }" @if (actived.ContainsKey("Symptom")) { @Html.Raw(actived["Symptom"].ToString()) }><span class="icon-3"></span><span>看診病症參考 </span></a>
            <a href="https://www.cgmh.org.tw/tw/Guide/Index" target="_blank"><span class="icon-4"></span><span>就醫指南</span></a><a href="https://www.cgmh.org.tw/tw/Services/Team" target="_blank"><span class="icon-5"></span><span>醫師介紹</span></a><a href="https://www.cgmh.org.tw" target="_blank"><span class="icon-6"></span><span>長庚全球資訊網</span></a></div>
        <div class="nav__toggle">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </div>
    -->
 @RenderBody()

        <div class="container">
            <div class="app_ad mt48 mb48" style="background-image: url(&quot;@Url.Content("~/Styles/images/qr-bgc-2.jpg")&quot;)">
                <a class="mobile_show" href="http://app.cgmh.org.tw/app_install.htm" target="_blank"></a>
                <div class="app_title mb8">
                    <img src="~/Styles/images/qr-logo.jpg" alt="長庚醫療財團法人">
                    <div class="b"></div>
                </div>
                <div class="app_text">
                    <div class="f24 app-green b mb4">@ViewBag.resLang["saveyourtime"]</div>
                    <div class="f18"><span class="app-green">@ViewBag.resLang["custommenu"]</span>@ViewBag.resLang["youcanadjust"]<br><span class="app-green">@ViewBag.resLang["shortcut"]</span>@ViewBag.resLang["quicklycomplete"]<br><span class="app-green">@ViewBag.resLang["appointment"]</span>@ViewBag.resLang["youcansetthetime"]<br><span class="app-green">@ViewBag.resLang["consultationprogress"]</span>@ViewBag.resLang["checktheprogress"]</div>
                </div>
                <div class="app_link"><img src="~/Styles/images/qr.jpg" alt="長庚醫療財團法人"><a class="btn f18" href="https://www.cgmh.org.tw/page/app.htm" target="_blank">@ViewBag.resLang["detailedintroduction"]<span class="icon-right"></span></a></div>
            </div>
        </div>
        <footer class="pt56 pb56">
            <img src="~/Styles/images/0-logo-white.png" class="footer-logo" alt="長庚醫療財團法人">
            <div class="footer-wrapper"><a href="~/"><img src="~/Styles/images/0-play.svg"><span>@ViewBag.resLang["choosehospital"]</span></a><a href="~/Reference/1"><img src="~/Styles/images/0-play.svg"><span>@ViewBag.resLang["specialties"]</span></a><a href="~/Symptom/1"><img src="~/Styles/images/0-play.svg"><span>@ViewBag.resLang["diseise"] </span></a><a href="https://www.cgmh.org.tw/tw/Guide/Index" target="_blank"><img src="~/Styles/images/0-play.svg"><span>@ViewBag.resLang["guide"]</span></a><a href="https://www.cgmh.org.tw/tw/Services/Team" target="_blank"><img src="~/Styles/images/0-play.svg"><span>@ViewBag.resLang["doctor"]</span></a><a href="https://www.cgmh.org.tw" target="_blank"><img src="~/Styles/images/0-play.svg"><span>@ViewBag.resLang["changgungmf"]</span></a></div>
            <div class="copyright">@ViewBag.resLang["changgungmhall"]</div>
        </footer>
    </main>

    <input type="hidden" id="ajaxRoot" value="@Url.Content("~/Ajax")" />
    <input type="hidden" id="urlRoot" value="@Url.Content("~/")" />
    @Scripts.Render("~/Scripts/plugins")
    <script>
        $(document).ready(function () {

            $('#changeHospital').change(function () {

                window.location.href = '@Url.Content("~/Register/")' + $(this).val();

            });


        });

    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
